<template>
  <div>
  <div>
        <el-form :size="$store.state.size" :inline="true"
                 ref="formInline" :model="formInline" class="demo-form-inline">
          <el-row>
            <el-col :offset="1" :span="5">
              <el-form-item label="订  单  号" prop="policyNo">
                <el-input v-model="formInline.policyNo" placeholder="订单号"></el-input>
              </el-form-item>
            </el-col>
            <el-col  :span="5">
              <el-form-item label="渠  道  商" prop="coperName">
                <el-input v-model="formInline.coperName" placeholder="渠道商"></el-input>
              </el-form-item>
            </el-col>
            <el-col  :span="5">
              <el-form-item label="产品名称" prop="productName">
                <el-input v-model="formInline.productName" placeholder="产品名称"></el-input>
              </el-form-item>
            </el-col>
             <el-col :span="5">
              <el-form-item label="客户姓名" prop="custName">
                <el-input v-model="formInline.custName" placeholder="客户姓名"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :offset="1" :span="5">
              <el-form-item label="身份证号" prop="idNo">
                <el-input v-model="formInline.idNo" placeholder="身份证号"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="进件状态" prop="status">
                <el-select v-model="formInline.state" placeholder="状态">
                  <el-option label="进件失败" value="2"></el-option>
                  <el-option label="进件成功" value="1"></el-option>
                  <el-option label="人工待审" value="3"></el-option>
                  <el-option label="审核通过" value="5"></el-option>
                  <el-option label="审核拒绝" value="6"></el-option>
                  <el-option label="放款失败" value="9"></el-option>
                  <el-option label="还款中" value="8"></el-option>
                  <el-option label="订单完成" value="10"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :offset="1" :span="20">
              <el-form-item label="进件时间" prop="startDate">
                <el-date-picker
                  v-model="formInline.startDate"
                  type="date"
                  format="yyyy 年 MM 月 dd 日"
                  value-format="yyyy-MM-dd"
                  placeholder="选择日期">
                </el-date-picker>
              </el-form-item>
              <el-form-item label="-" prop="endDate">
                <el-date-picker
                  v-model="formInline.endDate"
                  format="yyyy 年 MM 月 dd 日"
                  value-format="yyyy-MM-dd"
                  type="date"
                  placeholder="选择日期">
                </el-date-picker>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :offset="1" :span="2">
              <el-button type="primary" @click="queryList" :size="$store.state.size">查询</el-button>
            </el-col>
          </el-row>
        </el-form>

    <el-row>
      <ContentHeader class="contentHead" :queryTitle="'查询列表'"></ContentHeader>
      <el-col :span="24">
        <el-table
          :data="tableData3"
          :size="$store.state.size"
          stripe
          style="width: 100%">
          <el-table-column
            type="index"
            label="序号">
          </el-table-column>
          <el-table-column
            prop="policyNo"
            label="订单号">
          </el-table-column>
          <el-table-column
            prop="coperName"
            label="渠道商">
          </el-table-column>
          <el-table-column
            prop="productName"
            label="产品名称">
          </el-table-column>
          <el-table-column
            prop="loanUser.custName"
            label="客户姓名">
          </el-table-column>
          <el-table-column
            prop="loanUser.idNo"
            label="身份证号">
          </el-table-column>
          <el-table-column
            prop="applDate"
            label="申请日期">
          </el-table-column>
          <el-table-column
            prop="createTime"
            label="进件日期">
          </el-table-column>
          <el-table-column
            prop="applyAmt"
            label="贷款金额">
          </el-table-column>
          <el-table-column
            prop="applNosInst"
            label="期数">
          </el-table-column>
          <el-table-column
            prop="state.name"
            label="订单状态">
          </el-table-column>
          <el-table-column
            label="操作"
          width="180">
            <template slot-scope="scope">
                <el-button
                  size="mini"
                  type="success"
                  @click="toDtail(scope.row,scope.row.id)"
                >详情</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <el-row style="margin-top: 15px" v-if="Number(totalPages)>10" type="flex" justify="center">
      <el-pagination
        :page-size="pageSize"
        @current-change="handleCurrentChange"
        layout="total, prev, pager, next, jumper"
        :total="totalPages">
      </el-pagination>
    </el-row>
  </div>
  </div>
</template>
<script>
  import ElContainer from "../../../node_modules/element-ui/packages/container/src/main.vue";
  import ElRow from "element-ui/packages/row/src/row";
  import ElInput from "../../../node_modules/element-ui/packages/input/src/input.vue";
  import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
  import ElCol from "element-ui/packages/col/src/col";
  import ContentHeader from "../contentHeader.vue"
  export default {
    data() {
      return {
        formInline: {
          policyNo: '',
          myPolicyNo:'',
          coperName:'',
          productName:'',
          custName:'',
          idNo:'',
          state:'',
          startDate:'',
          endDate:'',
          page:1,
          size:10
        },
        tableData3: [],
        totalPages:0,
        pageNo:1,
        pageSize:10,
        changeForm:{}
      }
    },
    props: {
      // 父组件传过来的值
      someValue: String
    },
    components: {
      // 引入其他组件
      ElCol,
      ElButton,
      ElInput,
      ElRow,
      ElContainer,
      ContentHeader
    },
    beforeCreate: function () {
      // 组件创建前
    },
    created: function () {
      // 组件创建时执行
    },
    beforeMount: function () {
    },
    mounted: function () {
      // 组件挂载结束
      this.queryList()
    },
    beforeUpdate: function () {
      // 组件挂载结束
    },
    updated: function () {
      // 组件挂载结束
    },
    beforeDestroy: function () {
      // 组件挂载结束
    },
    destroyed: function () {
    },
    computed: {
      // 计算属性
    },
    methods: {
      // 自定义方法
      queryList(){
        this.$axios.HttpPost(
          'loan/list',
          this.formInline
        )
          .then((data) => {
            if(data.result.totalElements){
              let temp = data.result.content
              for (let i=0;i<temp.length;i++){
                if(temp[i].state=='0'){
                  temp[i].state={
                    name:"待处理",
                    value:"0"
                  }
                }else if(temp[i].state=='-1'){
                  temp[i].state={
                    name:"订单完成",
                    value:"-1"
                  }
                }else if(temp[i].state=='1'){
                  temp[i].state={
                    name:"进件成功",
                    value:"1"
                  }
                }else if(temp[i].state=='2'){
                  temp[i].state={
                    name:"进件失败",
                    value:"2"
                  }
                }else if(temp[i].state=='3'){
                  temp[i].state={
                    name:"人工待审",
                    value:"3"
                  }
                }else if(temp[i].state=='4'){
                  temp[i].state={
                    name:"信审失败",
                    value:"4"
                  }
                }else if(temp[i].state=='5'){
                  temp[i].state={
                    name:"审批通过",
                    value:"5"
                  }
                }else if(temp[i].state=='6'){
                  temp[i].state={
                    name:"审批拒绝",
                    value:"6"
                  }
                }else if(temp[i].state=='7'){
                  temp[i].state={
                    name:"待复审",
                    value:"7"
                  }
                }else if(temp[i].state=='8'){
                  temp[i].state={
                    name:"已放款",
                    value:"8"
                  }
                }else if(temp[i].state=='9'){
                  temp[i].state={
                    name:"放款失败",
                    value:"9"
                  }
                }else if(temp[i].state=='10'){
                  temp[i].state={
                    name:"订单完成",
                    value:"10"
                  }
                }
              }
              this.tableData3 = temp
              this.totalPages = data.result.totalElements
            }else{
              this.$message({
                message: '无查询信息',
                type: 'warning'
              });
              this.tableData3 = []
              this.totalPages = 0
              this.pageNo = 1
              this.pageSize = 10
            }
          });
      },
      handleCurrentChange(val){
        this.formInline.page = val
        this.queryList()
      },
      toDtail(data,id){
         this.$router.push({name:'loanInfo',params:{policyNo:data.policyNo}})
      },
      changeDeposit(data){

      },
      updataDeposit(){

      }
    }
  }
</script>
<style scoped>
  .contentHead{
    margin: 10px 0 10px 0;
  }
</style>
