<template>
  <div>
  <div>
        <el-form :size="$store.state.size" :inline="true"
                 ref="formInline" :model="formInline" class="demo-form-inline">
          <el-row  :gutter="15">
            <el-col :offset="1" :span="5">
              <el-form-item label="借款人姓名" prop="custName">
                <el-input v-model="formInline.custName" placeholder="借款人姓名"></el-input>
              </el-form-item>
            </el-col>
            <el-col  :span="5">
              <el-form-item label="身份证号" prop="idNo">
                <el-input v-model="formInline.idNo" placeholder="身份证号"></el-input>
              </el-form-item>
            </el-col>
            <el-col  :span="5">
              <el-form-item label="渠道商" prop="coperName">
                <el-input v-model="formInline.coperName" placeholder="渠道商"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row  :gutter="10">
            <el-col :offset="1" :span="10">
              <el-form-item label="新增时间" prop="startDate">
                <el-date-picker
                  v-model="formInline.startDate"
                  type="date"
                  format="yyyy 年 MM 月 dd 日"
                  value-format="yyyy-MM-dd"
                  placeholder="选择日期">
                </el-date-picker>
              </el-form-item>
              <el-form-item label="-" prop="endDate">
                <el-date-picker
                  v-model="formInline.endDate"
                  format="yyyy 年 MM 月 dd 日"
                  value-format="yyyy-MM-dd"
                  type="date"
                  placeholder="选择日期">
                </el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :offset="1" :span="2">
              <el-button type="primary" @click="queryList" :size="$store.state.size">查询</el-button>
            </el-col>
          </el-row>
        </el-form>

    <el-row>
      <ContentHeader class="contentHead" :queryTitle="'查询列表'"></ContentHeader>
      <el-col :span="24">
        <el-table
          :data="tableData3"
          :size="$store.state.size"
          stripe
          style="width: 100%">
          <el-table-column
            prop="index"
            label="序号">
          </el-table-column>
          <el-table-column
            prop="code1"
            label="客户姓名">
          </el-table-column>
          <el-table-column
            prop="code2"
            label="身份证号">
          </el-table-column>
          <el-table-column
            prop="code3"
            label="手机号">
          </el-table-column>
          <el-table-column
            prop="code4"
            label="年龄">
          </el-table-column>
          <el-table-column
            prop="code5"
            label="居住地">
          </el-table-column>
          <el-table-column
            prop="code6"
            label="银行卡号">
          </el-table-column>
          <el-table-column
            prop="code7"
            label="来源渠道">
          </el-table-column>
          <el-table-column
            prop="code8"
            label="贷款金额">
          </el-table-column>
          <el-table-column
            prop="code9"
            label="授信额度">
          </el-table-column>
          <el-table-column
            prop="code10"
            label="授信余额">
          </el-table-column>
          <el-table-column
            prop="code11"
            label="贷款余额">
          </el-table-column>
          <el-table-column
            prop="code12"
            label="贷款笔数">
          </el-table-column>
          <el-table-column
            prop="code13"
            label="逾期笔数">
          </el-table-column>
          <el-table-column
            prop="code14"
            label="新增时间">
          </el-table-column>
          <el-table-column
            label="操作"
          width="180">
            <template slot-scope="scope">
                <el-button
                  size="mini"
                  type="success"
                >详情</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <el-row style="margin-top: 15px" v-if="Number(totalPages)>10" type="flex" justify="center">
      <el-pagination
        :page-size="pageSize"
        @current-change="handleCurrentChange"
        layout="total, prev, pager, next, jumper"
        :total="totalPages">
      </el-pagination>
    </el-row>
  </div>
  </div>
</template>
<script>
  import ElContainer from "../../../node_modules/element-ui/packages/container/src/main.vue";
  import ElRow from "element-ui/packages/row/src/row";
  import ElInput from "../../../node_modules/element-ui/packages/input/src/input.vue";
  import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
  import ElCol from "element-ui/packages/col/src/col";
  import ContentHeader from "../contentHeader.vue"
  export default {
    data() {
      return {
        formInline: {
          policyNo: '',
          myPolicyNo:'',
          coperName:'',
          productName:'',
          custName:'',
          idNo:'',
          state:'',
          startDate:'',
          endDate:'',
          page:1,
          size:10
        },
        tableData3: [{'index':'1','code1':'杨洋','code2':'110303198108318029','code3':'13846785666','code4':'37','code5':'北京','code6':'6215860908378999',
          'code7':'桔子分期','code8':'5,000.00','code9':'50,000.00','code10':'45,000.00','code11':'45,000.00','code12':'1','code13':'0','code14':'2017-09-09'}],
        totalPages:0,
        pageNo:1,
        pageSize:10,
        changeForm:{}
      }
    },
    props: {
      // 父组件传过来的值
      someValue: String
    },
    components: {
      // 引入其他组件
      ElCol,
      ElButton,
      ElInput,
      ElRow,
      ElContainer,
      ContentHeader
    },
    beforeCreate: function () {
      // 组件创建前
    },
    created: function () {
      // 组件创建时执行
    },
    beforeMount: function () {
    },
    mounted: function () {
      // 组件挂载结束
      this.queryList()
    },
    beforeUpdate: function () {
      // 组件挂载结束
    },
    updated: function () {
      // 组件挂载结束
    },
    beforeDestroy: function () {
      // 组件挂载结束
    },
    destroyed: function () {
    },
    computed: {
      // 计算属性
    },
    methods: {
      // 自定义方法
      queryList(){
      },
      handleCurrentChange(val){
        this.formInline.page = val
        this.queryList()
      },
      toDtail(data,id){
      },
      changeDeposit(data){

      },
      updataDeposit(){

      }
    }
  }
</script>
<style scoped>
  .contentHead{
    margin: 10px 0 10px 0;
  }
</style>
