<template>
  <div>
  <div>
    <el-row >
      <el-col :offset="1" :span="22">
        <el-form :size="$store.state.size" :inline="true"
                 ref="formInline" :model="formInline" class="demo-form-inline">
          <el-form-item label="订单号" prop="policyNo">
            <el-input v-model="formInline.policyNo" placeholder="订单号"></el-input>
          </el-form-item>
          <el-form-item label="渠道商" prop="coperCd">
            <el-input v-model="formInline.coperCd" placeholder="期限"></el-input>
          </el-form-item>
          <el-form-item label="产品名称" prop="productName">
            <el-input v-model="formInline.productName" placeholder="产品名称"></el-input>
          </el-form-item>
          <br/>
          <el-form-item label="客户姓名" prop="custName">
            <el-input v-model="formInline.custName" placeholder="客户姓名"></el-input>
          </el-form-item>
          <el-form-item label="身份证号" prop="idNo">
            <el-input v-model="formInline.idNo" placeholder="身份证号"></el-input>
          </el-form-item>
          <el-form-item label="还款日期" prop="startDate">
            <el-date-picker
              v-model="formInline.startDate"
              type="date"
              format="yyyy 年 MM 月 dd 日"
              value-format="yyyy-MM-dd"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="-" prop="endDate">
            <el-date-picker
              v-model="formInline.endDate"
              format="yyyy 年 MM 月 dd 日"
              value-format="yyyy-MM-dd"
              type="date"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <br/>
          <el-form-item label="退货状态" prop="status">
            <el-select v-model="formInline.state" placeholder="状态">
              <el-option label="待审批" value="2"></el-option>
              <el-option label="已审批" value="1"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
      </el-col>
      <el-col :offset="1" :span="2">
        <el-button type="primary" @click="queryList" :size="$store.state.size">查询</el-button>
      </el-col>
    </el-row>
    <el-row>
      <ContentHeader class="contentHead" :queryTitle="'查询列表'"></ContentHeader>
      <el-col :span="24">
        <el-table
          :data="tableData3"
          :size="$store.state.size"
          stripe
          style="width: 100%">
          <el-table-column
            type="index"
            label="序号">
          </el-table-column>
          <el-table-column
            prop="policyNo"
            label="订单号">
          </el-table-column>
          <el-table-column
            prop="coperName"
            label="渠道商">
          </el-table-column>
          <el-table-column
            prop="productName"
            label="产品名称">
          </el-table-column>
          <el-table-column
            prop="custName"
            label="客户姓名">
          </el-table-column>
          <el-table-column
            prop="idNo"
            label="身份证号">
          </el-table-column>
          <el-table-column
            prop="repayDate"
            label="还款日期">
          </el-table-column>
          <el-table-column
            prop="repayCapital"
            label="还款本金">
          </el-table-column>
          <el-table-column
            prop="repayInterest"
            label="还款利息">
          </el-table-column>
          <el-table-column
            prop="defaultAmt"
            label="罚息">
          </el-table-column>
          <el-table-column
            prop="poundage"
            label="手续费">
          </el-table-column>
          <el-table-column
            prop="refundsState.name"
            label="退货状态">
          </el-table-column>
          <el-table-column
            label="操作"
          width="180">
            <template slot-scope="scope">
                <el-button
                  size="mini"
                  type="success"
                  @click="toDtail(scope.row,scope.row.id)"
                >查看</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <el-row style="margin-top: 15px" v-if="Number(totalPages)>10" type="flex" justify="center">
      <el-pagination
        :page-size="pageSize"
        @current-change="handleCurrentChange"
        layout="total, prev, pager, next, jumper"
        :total="totalPages">
      </el-pagination>
    </el-row>
  </div>
  </div>
</template>
<script>
  import ElContainer from "../../../node_modules/element-ui/packages/container/src/main.vue";
  import ElRow from "element-ui/packages/row/src/row";
  import ElInput from "../../../node_modules/element-ui/packages/input/src/input.vue";
  import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
  import ElCol from "element-ui/packages/col/src/col";
  import ContentHeader from "../contentHeader.vue"
  export default {
    data() {
      return {
        formInline: {
          policyNo: '',
          coperName:'',
          productName:'',
          custName:'',
          idNo:'',
          refundsState:'',
          startDate:'',
          endDate:'',
          page:1,
          size:10
        },
        tableData3: [],
        totalPages:0,
        pageNo:1,
        pageSize:10,
        changeForm:{}
      }
    },
    props: {
      // 父组件传过来的值
      someValue: String
    },
    components: {
      // 引入其他组件
      ElCol,
      ElButton,
      ElInput,
      ElRow,
      ElContainer,
      ContentHeader
    },
    beforeCreate: function () {
      // 组件创建前
    },
    created: function () {
      // 组件创建时执行
    },
    beforeMount: function () {
    },
    mounted: function () {
      // 组件挂载结束
      this.queryList()
    },
    beforeUpdate: function () {
      // 组件挂载结束
    },
    updated: function () {
      // 组件挂载结束
    },
    beforeDestroy: function () {
      // 组件挂载结束
    },
    destroyed: function () {
    },
    computed: {
      // 计算属性
    },
    methods: {
      // 自定义方法
      queryList(){
        this.$axios.HttpPost(
          'refunds/list',
          this.formInline
        )
          .then((data) => {
            if(data.result.totalElements){
              let temp = data.result.content
              for (let i=0;i<temp.length;i++){
                if(temp[i].refundsState=='1'){
                  temp[i].refundsState={
                    name:"待审批",
                    value:"1"
                  }
                }else if(temp[i].refundsState=='2'){
                  temp[i].refundsState={
                    name:"已审批",
                    value:"2"
                  }
                }else if(temp[i].refundsState=='3'){
                  temp[i].refundsState={
                    name:"退货失败",
                    value:"3"
                  }
                }else if(temp[i].refundsState=='4'){
                  temp[i].refundsState={
                    name:"退货成功",
                    value:"4"
                  }
                }
              }
              this.tableData3 = temp
              this.totalPages = data.result.totalElements
            }else{
              this.$message({
                message: '无查询信息',
                type: 'warning'
              });
            }
          });
      },
      handleCurrentChange(val){

      },
      toDtail(data,id){
         this.$router.push({name:'refundsInfo',params:{myPolicyNo:data.policyNo}})
      },
      changeDeposit(data){

      },
      updataDeposit(){

      }
    }
  }
</script>
<style scoped>
  .contentHead{
    margin: 10px 0 10px 0;
  }
</style>
