<template>
  <div>
    <el-row>
      <el-col :offset="1">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>业务受理</el-breadcrumb-item>
          <el-breadcrumb-item to="/refunds">退货管理</el-breadcrumb-item>
          <el-breadcrumb-item>详情</el-breadcrumb-item>
        </el-breadcrumb>
      </el-col>
    </el-row>
    <el-row style="margin-top: 30px" type="flex" justify="center">
      <el-col :span="22">
        <el-tabs class="basicTab" type="border-card" v-model="activeName" @tab-click="tabClick">
          <el-tab-pane label="退货信息" name="1"></el-tab-pane>
          <el-tab-pane label="借款信息" name="2"></el-tab-pane>
          <el-tab-pane label="商户信息" name="3"></el-tab-pane>
          <el-tab-pane label="增信信息" name="4"></el-tab-pane>
          <div v-if="activeName=='1'">
            <el-row>
              <ContentHeader class="contentHead" :queryTitle="'退货信息'"></ContentHeader>
              <el-form :model="form2" label-width="100px" :size="$store.state.size">
                <el-col :span="8">
                  <el-form-item label="订单编号:">
                    <el-input v-model="form2.refunds.policyNo" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="贷款本金:">
                    <el-input v-model="form2.refunds.applyAmt" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="已还期数:">
                    <el-input v-model="form2.periods" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="到期日期:">
                    <el-input v-model="form2.dateByEnd" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="提前还款类型:">
                    <el-input v-model="repayType" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="还款总额:">
                    <el-input v-model="form2.refunds.repayCapital" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="还款本金:">
                    <el-input v-model="form2.refunds.repayCapital" disabled></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="8">
                  <el-form-item label="合同编号:">
                    <el-input v-model="form2.loanApply.contractNum" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="放款日期:">
                    <el-input v-model="form2.loanApply.updateTime" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="剩余本金:">
                    <el-input v-model="form2.refunds.repayCapital" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="还款金额类型:">
                    <el-input v-model="repayAmountType" disabled></el-input>
                  </el-form-item>

                  <el-form-item label="还款日期:">
                    <el-input v-model="form2.refunds.repayDate" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="还款利息:">
                    <el-input v-model="form2.refunds.repayInterest" disabled></el-input>
                  </el-form-item>
                </el-col>
              </el-form>
            </el-row>
          </div>
          <div v-if="activeName=='2'">
            <el-row>
              <ContentHeader class="contentHead" :queryTitle="'借款信息'"></ContentHeader>
              <el-form :model="form2" label-width="100px" :size="$store.state.size">
                <el-col :span="8">
                  <el-form-item label="订单编号:">
                    <el-input v-model="form2.loanApply.policyNo" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="渠道商名称:">
                    <el-input v-model="form2.loanApply.coperName" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="借款日期:">
                    <el-input v-model="form2.loanApply.applDate" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="借款金额:">
                    <el-input v-model="form2.loanApply.applyAmt" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="借款用途:">
                    <el-input v-model="form2.loanApply.loanPurpose" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="还款方式:">
                    <el-input v-model="form2.loanApply.repayMthd" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="服务费率:">
                    <el-input v-model="form2.product.servicePct" disabled></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="8">
                  <el-form-item label="合同编号:">
                    <el-input v-model="form2.loanApply.contractNum" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="产品名称:">
                    <el-input v-model="form2.loanApply.productName" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="进件日期:">
                    <el-input v-model="form2.loanApply.createTime" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="借款期数:">
                    <el-input v-model="form2.loanApply.applNosInst" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="放款日期:">
                    <el-input v-model="form2.loanApply.updateTime" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="借款利率:">
                    <el-input v-model="form2.loanApply.rate" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="罚息费率:">
                    <el-input v-model="form2.product.defaultPct" disabled></el-input>
                  </el-form-item>
                </el-col>
              </el-form>
            </el-row>
            <el-row>
              <ContentHeader class="contentHead" :queryTitle="'借款人信息'"></ContentHeader>
              <el-form :model="form2" label-width="100px" :size="$store.state.size">
                <el-col :span="8">
                  <el-form-item label="借款人姓名:">
                    <el-input v-model="form2.loanApply.loanUser.custName" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="身份证号码:">
                    <el-input v-model="form2.loanApply.loanUser.idNo" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="年龄:">
                    <el-input v-model="form2.loanApply.loanUser.age" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="学历:">
                    <el-input v-model="form2.loanApply.loanUser.educatLvl" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="常用邮箱:">
                    <el-input v-model="form2.loanApply.loanUser.email" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="居住城市:">
                    <el-input v-model="form2.loanApply.loanUser.homeAddr" disabled></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="8">
                  <el-form-item label="手机号码:">
                    <el-input v-model="form2.loanApply.loanUser.phoneNo" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="性别:">
                    <el-input v-model="form2.loanApply.loanUser.sex" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="婚姻状况:">
                    <el-input v-model="form2.loanApply.loanUser.matrlSts" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="学位:">
                    <el-input v-model="form2.loanApply.loanUser.degree" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="居住地址:">
                    <el-input v-model="form2.loanApply.loanUser.homeAddr" disabled></el-input>
                  </el-form-item>
                </el-col>
              </el-form>
            </el-row>
            <el-row>
              <ContentHeader class="contentHead" :queryTitle="'还款银行卡信息'"></ContentHeader>
              <el-form :model="form2" label-width="100px" :size="$store.state.size">
                <el-col :span="8">
                  <el-form-item label="还款开户行:">
                    <el-input v-model="form2.loanApply.repayBankName" disabled></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="8">
                  <el-form-item label="银行卡号:">
                    <el-input v-model="form2.loanApply.repayBankNum" disabled></el-input>
                  </el-form-item>
                </el-col>
              </el-form>
            </el-row>
            <el-row>
              <ContentHeader class="contentHead" :queryTitle="'借款人公司信息'"></ContentHeader>
              <el-form :model="form2" label-width="100px" :size="$store.state.size">
                <el-col :span="8">
                  <el-form-item label="公司名称:">
                    <el-input v-model="form2.loanApply.loanUser.empr" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="法定代表人:">
                    <el-input v-model="form2.loanMerchant.legalMan" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="入职时间:">
                    <el-input v-model="form2.loanApply.loanUser.entryTime" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="月收入:">
                    <el-input v-model="form2.loanApply.loanUser.monthlyIncome" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="公司地址:">
                    <el-input v-model="form2.loanApply.loanUser.emprAddr" disabled></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="8">
                  <el-form-item label="所属行业:">
                    <el-input v-model="form2.loanApply.loanUser.industry" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="所属门店:">
                    <el-input v-model="form2.loanApply.loanUser.department" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="部门职务:">
                    <el-input v-model="form2.loanApply.loanUser.pos" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="公司电话:">
                    <el-input v-model="form2.loanApply.loanUser.workPhoneNo" disabled></el-input>
                  </el-form-item>
                </el-col>
              </el-form>
            </el-row>
            <el-row>
              <ContentHeader class="contentHead" :queryTitle="'第三方核验信息'"></ContentHeader>
              <el-form :model="form2" label-width="100px" :size="$store.state.size">
                <el-col :span="8">
                  <el-form-item label="同盾分:">
                    <el-input v-model="form2.creditScore.tdScorecust" disabled></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="8">
                  <el-form-item label="百融分:">
                    <el-input v-model="form2.creditScore.brScorecust" disabled></el-input>
                  </el-form-item>
                </el-col>
              </el-form>
            </el-row>
            <el-row>
              <ContentHeader class="contentHead" :queryTitle="'借款用途信息'"></ContentHeader>
              <el-form :model="form2" label-width="100px" :size="$store.state.size">
                <el-col :span="8">
                  <el-form-item label="商品名称:">
                    <el-input v-model="form2.loanApply.commodityName" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="商品总价格:">
                    <el-input v-model="form2.loanApply.commodityMoney" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="商品下单时间:">
                    <el-input v-model="form2.loanApply.orderTime" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="正常利率上浮比例:">
                    <el-input v-model="form2.loanApply.intAdjPct" disabled></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="8">
                  <el-form-item label="商品数量:">
                    <el-input v-model="form2.loanApply.commodityNumber" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="首付金额:">
                    <el-input v-model="form2.loanApply.downpayment" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="实际利率:">
                    <el-input v-model="form2.loanApply.rate" disabled></el-input>
                  </el-form-item>
                </el-col>
              </el-form>
            </el-row>
          </div>
          <div v-if="activeName=='3'">
            <el-row>
              <ContentHeader style="margin-bottom: 20px;" class="contentHead" :queryTitle="'商户信息'"></ContentHeader>
              <el-form :model="form2" label-width="100px" :size="$store.state.size">
                <el-col :span="8">
                  <el-form-item label="商户ID:">
                    <el-input v-model="form2.loanMerchant.merchantId" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="商户名称:">
                    <el-input v-model="form2.loanMerchant.merchantName" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="营业执照注册时间:">
                    <el-input v-model="form2.loanMerchant.licenseRegistTime" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="商户地:">
                    <el-input v-model="form2.loanMerchant.provinceStore" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="员工人数:">
                    <el-input v-model="form2.loanMerchant.employeeNo" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="经营场所所有权:">
                    <el-input v-model="form2.loanMerchant.propertyType" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="经度:">
                    <el-input v-model="form2.loanMerchant.longitude" disabled></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="8">
                  <el-form-item label="商户类型:">
                    <el-input v-model="form2.loanMerchant.merchantType" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="营业执照号:">
                    <el-input v-model="form2.loanMerchant.licenseNo" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="实际经营地址:">
                    <el-input v-model="form2.loanMerchant.merchantAddr" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="经营面积:">
                    <el-input v-model="form2.loanMerchant.offSpace" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="经营年限（年）:">
                    <el-input v-model="form2.loanMerchant.merchantRunTime" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="纬度:">
                    <el-input v-model="form2.loanMerchant.latitude" disabled></el-input>
                  </el-form-item>
                </el-col>
              </el-form>
            </el-row>
            <el-row>
              <ContentHeader style="margin-bottom: 20px;" class="contentHead" :queryTitle="'主营信息'"></ContentHeader>
              <el-form :model="form2" label-width="100px" :size="$store.state.size">
                <el-col :span="8">
                  <el-form-item label="经营模式:">
                    <el-input v-model="form2.loanMerchant.serviceMode" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="主营商品类型:">
                    <el-input v-model="form2.loanMerchant.productType" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="月均销售额:">
                    <el-input v-model="form2.loanMerchant.monthTurnover" disabled></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="8">
                  <el-form-item label="主营业务:">
                    <el-input v-model="form2.loanMerchant.service" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="主营品牌:">
                    <el-input v-model="form2.loanMerchant.serviceBrand" disabled></el-input>
                  </el-form-item>
                </el-col>
              </el-form>
            </el-row>
            <el-row>
              <ContentHeader style="margin-bottom: 20px;" class="contentHead" :queryTitle="'法定代表人信息'"></ContentHeader>
              <el-form :model="form2" label-width="100px" :size="$store.state.size">
                <el-col :span="8">
                  <el-form-item label="法定代表人:">
                    <el-input v-model="form2.loanMerchant.legalMan" disabled></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="8">
                  <el-form-item label="证件号码:">
                    <el-input v-model="form2.loanMerchant.legalManId" disabled></el-input>
                  </el-form-item>
                </el-col>
              </el-form>
            </el-row>
          </div>
          <div v-if="activeName=='4'">
            <el-row>
              <ContentHeader style="margin-bottom: 20px;" class="contentHead" :queryTitle="'增信信息'"></ContentHeader>
              <el-col :span="24">
                <el-table
                  :data="form2.loanContactList"
                  :size="$store.state.size"
                  stripe
                  style="width: 100%">
                  <el-table-column
                    type="index"
                    label="序号">
                  </el-table-column>
                  <el-table-column
                    prop="contactName"
                    label="姓名">
                  </el-table-column>
                  <el-table-column
                    prop="relation"
                    label="关系">
                    <template slot-scope="scope">
                      {{scope.row.relation|relationFilter}}
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="contactPhone"
                    label="手机号">
                  </el-table-column>
                </el-table>
              </el-col>
            </el-row>
            <el-row>
              <ContentHeader style="margin-bottom: 20px;" class="contentHead" :queryTitle="'附件信息'"></ContentHeader>
              <el-col :span="24">
                <el-table
                  :data="form2.loanPhotoList"
                  :size="$store.state.size"
                  stripe
                  style="width: 100%">
                  <el-table-column
                    prop="photoType"
                    label="类型">
                    <template slot-scope="scope">
                      {{scope.row.photoType|photoTypeFilter}}
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="photoFormat"
                    label="格式">
                  </el-table-column>
                  <el-table-column
                    prop="photoUrl"
                    label="地址">
                  </el-table-column>
                </el-table>
              </el-col>
            </el-row>
          </div>
        <!--  <div v-if="activeName=='4'">
            <el-row>
              <ContentHeader style="margin-bottom: 20px;" class="contentHead" :queryTitle="'还款信息'"></ContentHeader>

            </el-row>
          </div>
          <div v-if="activeName=='5'">
            <el-row>
              <ContentHeader style="margin-bottom: 20px;" class="contentHead" :queryTitle="'操作记录'"></ContentHeader>

            </el-row>
          </div>-->
        </el-tabs>
      </el-col>
    </el-row>

  </div>
</template>
<script>
  import ImageUpload from '../imageUpload.vue'
  import ContentHeader from '../contentHeader.vue'
  import ElForm from "../../../node_modules/element-ui/packages/form/src/form.vue";
  import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";

  export default {
    data() {
      return {
        num: 1,
        activeName: '1',
        merchantTabShow: '1',
        repayType:'退货',
        repayAmountType:'全部提前还款',
        form2: {
          loanApply:{
            loanUser:{}
          },
          refunds:{},
          loanMerchant:{},
          loanContactList:[],
          loanPhotoList:[],
          creditScore:{tdScorecust:'',brScorecust:''},
          loanNotice:{loanNo:'',loanTime:''},
          product:{servicePct:'',defaultPct:''},
          periods:0,
          dateByEnd:''
        }
      }
    },
    props: {
      // 父组件传过来的值
      someValue: String
    },
    components: {
      // 引入其他组件
      ElButton,
      ElForm,
      ImageUpload,
      ContentHeader
    },
    filters:{
      photoTypeFilter(value){
        let relationMap = new Map([
                                    ['1', '营业执照照'],
                                    ['2', '特殊经营许可证照片'],
                                    ['3', '店铺门头照'],
                                    ['4', '店内营业场景照'],
                                    ['5', '借款人身份证正面'],
                                    ['6', '借款人身份证反面'],
                                    ['7', '法人身份证正面'],
                                    ['8', '法人身份证反面'],
                                    ['9', '法人手持身份证与店铺照片'],
                                    ['10', '业务员与法人合影照'],
                                    ['11', '法人征信报告'],
                                    ['12', '房屋租赁合同'],
                                    ['13', '收银台流水照片'],
                                    ['14', '驾驶证照片'],
                                    ['15', '房产证照片']]);
          value = '' + value
          return relationMap.get(value)
      }
    },
    beforeCreate: function () {
      // 组件创建前
    },
    created: function () {
      // 组件创建时执行
    },
    beforeMount: function () {
    },
    mounted: function () {
      // 组件挂载结束
      this.queryList()
    },
    beforeUpdate: function () {
      // 组件挂载结束
    },
    updated: function () {
      // 组件挂载结束
    },
    beforeDestroy: function () {
      // 组件挂载结束
    },
    destroyed: function () {
    },
    computed: {
      // 计算属性
    },
    methods: {
      // 自定义方法
      queryList() {
        this.$axios.HttpPost(
          'refunds/get',
          {"myPolicyNo": this.$route.params.myPolicyNo}
        )
          .then((data) => {
            if (data.result.refunds) {
              //let temp = data.loanApply
             /* for (let i = 0; i < temp.length; i++) {
                if (temp[i].loop == '0') {
                  temp[i].loop = {
                    name: "否",
                    value: "0"
                  }
                } else if (temp[i].loop == '1') {
                  temp[i].loop = {
                    name: "是",
                    value: "1"
                  }
                }
                if (temp[i].auditStatus == '0') {
                  temp[i].auditStatus = {
                    name: "待授信",
                    value: "0"
                  }
                } else if (temp[i].auditStatus == '1') {
                  temp[i].auditStatus = {
                    name: "授信待审",
                    value: "1"
                  }
                } else if (temp[i].auditStatus == '2') {
                  temp[i].auditStatus = {
                    name: "已授信",
                    value: "2"
                  }
                } else if (temp[i].auditStatus == '3') {
                  temp[i].auditStatus = {
                    name: "修改待审",
                    value: "3"
                  }
                } else if (temp[i].auditStatus == '4') {
                  temp[i].auditStatus = {
                    name: "冻结待审",
                    value: "4"
                  }
                } else if (temp[i].auditStatus == '5') {
                  temp[i].auditStatus = {
                    name: "已冻结",
                    value: "5"
                  }
                } else if (temp[i].auditStatus == '6') {
                  temp[i].auditStatus = {
                    name: "已授信",
                    value: "6"
                  }
                } else if (temp[i].auditStatus == '7') {
                  temp[i].auditStatus = {
                    name: "解冻待审",
                    value: "7"
                  }
                }
                if (temp[i].salesStatus == '0') {
                  temp[i].salesStatus = {
                    name: "未激活",
                    value: "0"
                  }
                } else if (temp[i].salesStatus == '1') {
                  temp[i].salesStatus = {
                    name: "激活",
                    value: "1"
                  }
                } else if (temp[i].salesStatus == '2') {
                  temp[i].salesStatus = {
                    name: "冻结",
                    value: "2"
                  }
                } else {
                  temp[i].salesStatus = {
                    name: "停止",
                    value: "3"
                  }
                }
              }*/
              this.form2 = data.result;
              this.tabIsShow();
            } else {
              this.$message({
                              message: '无查询信息',
                              type: 'warning'
                            });
            }
          });
      },
      tabClick(tab, event) {

      },
      tabIsShow(){
        if(this.form2.loanApply.userType == 1){
          this.merchantTabShow = 1;
        }else{
          this.merchantTabShow = 0;
        }
      }
    }
  }
</script>
<style scoped>
  .contentHead {
    margin: 10px 0 10px 0;
  }
</style>
