<template>
  <div>
      <el-row type="flex" align="middle">
        <el-col :offset="1" :span="2">渠道商名称:</el-col>
        <el-col :span="6">
          <el-input
            :size="$store.state.size"
            placeholder="渠道商名称"
            v-model="channelName"
            suffix-icon="el-icon-goods">
          </el-input>
        </el-col>
        <el-col :offset="1" :span="2">
          <el-button @click="()=>{pageNo=1;queryList()}" type="primary" :size="$store.state.size">查询</el-button>
        </el-col>
        <el-col :span="2">

            <el-button
              type="success"
              @click="addChannel"
              :size="$store.state.size">新增</el-button>

        </el-col>
      </el-row>
    <el-row>
      <ContentHeader class="contentHead" :queryTitle="'查询列表'"></ContentHeader>
      <el-col :span="24">
        <el-table
          :size="$store.state.size"
          :data="tableData3"
          stripe
          style="width: 100%">
          <el-table-column
            type="index" :index="indexMethod"
            label="序号">
          </el-table-column>
          <el-table-column
            prop="distCode"
            label="渠道商ID">
          </el-table-column>
         <!-- <el-table-column
            prop="distId"
            label="ID">
          </el-table-column>-->
          <el-table-column
            prop="distName"
            label="渠道商名称">
          </el-table-column>
          <el-table-column
          prop="legalMan"
          label="法定代表人">
        </el-table-column>
          <el-table-column
          prop="contactName"
          label="业务联系人">
        </el-table-column>
          <el-table-column
            prop="contactMobilePhone"
            label="业务联系人电话"
          >
          </el-table-column>
          <el-table-column
            prop="createTime"
            label="登记时间">
          </el-table-column>
          <el-table-column
            label="操作">
            <template slot-scope="scope">
                <el-button
                  v-if="scope.row.status=='1'"
                  size="mini"
                  type="success"
                @click="toDetail(scope.row)">
                  详情
                </el-button>
              <el-button
                @click="toEdit(scope.row)"
                v-if="scope.row.status=='0'"
                size="mini"
                >编辑</el-button>
              <el-button
                v-if="scope.row.status=='0'"
                size="mini"
                type="danger"
                @click.native.prevent="deleteRow(scope.$index, tableData3,scope.row.distId)">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
      <el-row v-if="Number(totalPages)>10" style="margin-top: 15px" type="flex" justify="center">
        <el-pagination
          @current-change="handleCurrentChange"
          :current-page.sync="pageNo"
          :page-size="10"
          layout="total, prev, pager, next, jumper"
          :total="totalPages">
        </el-pagination>
      </el-row>
  </div>
</template>
<script>
    import ElContainer from "../../../node_modules/element-ui/packages/container/src/main.vue";
    import ElRow from "element-ui/packages/row/src/row";
    import ElInput from "../../../node_modules/element-ui/packages/input/src/input.vue";
    import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
    import ElCol from "element-ui/packages/col/src/col";
    import ContentHeader from "../contentHeader.vue"
    import ElFooter from "../../../node_modules/element-ui/packages/footer/src/main.vue";
    export default {
        data() {
            return {
              channelName:"",
              tableData3: [],
              totalPages:0,
              pageNo:1,
              pageSize:10
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
          // 引入其他组件
          ElFooter,
          ElCol,
          ElButton,
          ElInput,
          ElRow,
          ElContainer,
          ContentHeader
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
          this.queryList()
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
          deleteRow(index, rows, id) {
            this.$confirm("是否删除", '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              this.$axios.HttpPost('distributor/delete',{"id":id})
                .then((data) => {
                  this.$message({
                    type: 'success',
                    message: '删除成功'
                  });
                  rows.splice(index, 1);
                });
            }).catch(() => {
              this.$message({
                type: 'info',
                message: '已取消删除'
              });
            });
          },
          queryList(){
            this.$axios.HttpPost('distributor/list',{"name":this.channelName,"page":this.pageNo,"size":this.pageSize})
              .then((data) => {
                this.tableData3 = data.result.data
                this.totalPages = data.result.totalElements
              });
          },
          handleCurrentChange(val){
            this.pageNo = val
            this.queryList()
          },
          toDetail(data){

            this.$router.push({name:'channelInfo',params:{channelId:data.distId,action:'view'}})
          },
          toEdit(data){
          /*  this.$store.commit('changeChannelId',data.distId)
            this.$store.commit('changeEdit',1)*/
            this.$router.push({name:'channelInfo',params:{channelId:data.distId,action:'edit'}})
          },
          addChannel(){
          /*  this.$store.commit("changeChannelId","0")
            this.$store.commit("changeEdit",1)*/
            this.$store.commit("changeStep",'0')
            this.$router.push({name:'channelInfo',params:{channelId:0,action:'add'}})
          },
          indexMethod(index){
            return (this.pageNo-1)*this.pageSize+index+1
          }
        }
    }
</script>
<style scoped>
  .contentHead{
    margin: 10px 0 10px 0;
  }
</style>
