<template>
    <div>
      <el-row>
        <el-col :offset="1">
          <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item>渠道商管理</el-breadcrumb-item>
            <el-breadcrumb-item to="/channelGoods">渠道商产品维护</el-breadcrumb-item>
            <el-breadcrumb-item>渠道商产品查询</el-breadcrumb-item>
          </el-breadcrumb>
        </el-col>
      </el-row>
      <el-row style="margin-top: 20px" type="flex" align="middle">
        <el-col :offset="1" :span="2">渠道商名称:</el-col>
        <el-col :span="2">
          <el-tag>{{this.productName}}</el-tag>
        </el-col>
        <el-col :offset="1" :span="2">
          <el-button type="primary" @click="toAdd()" :size="$store.state.size">
              新增
          </el-button>
        </el-col>
      </el-row>
      <el-row>
        <ContentHeader class="contentHead" :queryTitle="'查询列表'"></ContentHeader>
        <el-col :span="24">
          <el-table
            :data="tableData3"
            stripe
            :size="$store.state.size"
            style="width: 100%">
            <el-table-column
              type="index"
              :index="indexMethod"
              label="序号">
            </el-table-column>
            <el-table-column
              prop="code"
              label="产品ID">
            </el-table-column>
            <el-table-column
              prop="name"
              label="产品名称">
            </el-table-column>
            <el-table-column
              prop="salesStatus"
              label="维护状态">
              <template slot-scope="scope">
                {{ scope.row.salesStatus|productFilter}}
              </template>
            </el-table-column>
            <el-table-column
              prop="dateRange"
              label="有效期">
            </el-table-column>
            <el-table-column
              prop="periods"
              label="期限">
            </el-table-column>
            <el-table-column
              prop="periodType.name"
              label="期限类型">
              <template slot-scope="scope">
                {{ scope.row.periodType|periodTypeFilter}}
              </template>
            </el-table-column>
            <el-table-column
              prop="rate"
              label="利率">
            </el-table-column>
            <el-table-column
              prop="rateType"
              label="利率类型">
              <template slot-scope="scope">
                {{ scope.row.rateType|rateFilter}}
              </template>
            </el-table-column>
            <el-table-column
              prop="repayMode.name"
              label="还款方式">
              <template slot-scope="scope">
                {{ scope.row.repayMode|repayModeFilter}}
              </template>
            </el-table-column>
            <el-table-column
              prop="depositPct"
              label="保证金比例">
            </el-table-column>
            <el-table-column
              prop="guarantor"
              label="担保情况">
              <template slot-scope="scope">
                {{'无'}}
              </template>
            </el-table-column>
            <el-table-column
              prop="honourVenture"
              label="履约险">
              <template slot-scope="scope">
                {{ scope.row.honourVenture|haveFilter}}

              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <el-row style="margin-top: 15px" v-if="Number(totalPages)>10" type="flex" justify="center">
        <el-pagination
          :page-size="pageSize"
          :current-page.sync="pageNo"
          @current-change="handleCurrentChange"
          layout="total, prev, pager, next, jumper"
          :total="totalPages">
        </el-pagination>
      </el-row>
    </div>
</template>
<script>
    import ElRow from "element-ui/packages/row/src/row";
    import ElCol from "element-ui/packages/col/src/col";
    import ContentHeader from "../contentHeader.vue"
    import ElIcon from "../../../node_modules/element-ui/packages/icon/src/icon.vue";
    import ElInput from "../../../node_modules/element-ui/packages/input/src/input.vue";
    export default {
        data() {
            return {
              totalPages:0,
              pageNo:1,
              pageSize:10,
              tableData3:[],
              productName:"",
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
          ElInput,
          ElIcon,
          ElCol,
          ElRow,
          ContentHeader
          // 引入其他组件
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
          this.productName=this.$store.state.channelName
          this.queryList(this.$store.state.channelId)
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
          queryList(id){
            this.$axios.HttpPost(
              'distributor/product/listbydist',
              {"distId":id,"pageNo":this.pageNo,"pageSize":this.pageSize}
            )
              .then((data) => {
                if(data.result.totalElements){
                  let temp = data.result.data
                  for (let i=0;i<temp.length;i++){


                   /* if(temp[i].salesStatus=='0'){
                      temp[i].salesStatus={
                        name:"未激活",
                        value:"0"
                      }
                    }else if(temp[i].salesStatus=='1'){
                      temp[i].salesStatus={
                        name:"激活",
                        value:"1"
                      }
                    }else if(temp[i].salesStatus=='2'){
                      temp[i].salesStatus={
                        name:"冻结",
                        value:"2"
                      }
                    }else{
                      temp[i].salesStatus={
                        name:"停止",
                        value:"3"
                      }}*/
                    temp[i].guarantor="无";
                  }
                  this.tableData3 = temp
                  //alert(JSON.stringify(this.tableData3))
                  this.totalPages = data.result.totalElements

                }else{
                  this.$message({
                    message: '无查询信息',
                    type: 'warning'
                  });
                }

              });
          },
          toAdd(){
            this.$router.push("/channelCreateGoods")
          },
          handleCurrentChange(val){
            this.pageNo = val
            this.queryList(this.$store.state.channelId)
          },
          indexMethod(index){
            return (this.pageNo-1)*this.pageSize+index+1
          }
        }
    }
</script>
<style scoped>
  .contentHead{
    margin: 10px 0 10px 0;
  }
</style>
