<template>
    <div>
      <el-row>
        <el-col :offset="1">
          <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item>渠道商管理</el-breadcrumb-item>
            <el-breadcrumb-item to="/register">渠道商登记</el-breadcrumb-item>
            <el-breadcrumb-item>渠道商信息</el-breadcrumb-item>
          </el-breadcrumb>
        </el-col>
      </el-row>
      <el-row style="padding-top: 15px" type="flex" justify="center">
        <el-col :span="22" v-if="this.$route.params.action=='view'">
          <el-tabs class="basicTab" type="border-card" v-model="activeName">
            <el-tab-pane label="基本信息" name="first"></el-tab-pane>
            <el-tab-pane label="影像资料" name="second"></el-tab-pane>
            <ChannelBasic :is-enabled="this.$route.params.action!='view'" v-if="activeName=='first'"></ChannelBasic>
            <ImageUpload :is-enabled="this.$route.params.action!='view'" v-if="activeName=='second'"></ImageUpload>
          </el-tabs>
        </el-col>
        <el-col :span="22" v-if="this.$route.params.action!='view'">
          <keep-alive>
            <ChannelBasic :is-enabled="this.$route.params.action!='view'" v-if="this.$store.state.nextStep=='0'"></ChannelBasic>
          </keep-alive>
            <ImageUpload :is-enabled="this.$route.params.action!='view'" v-if="this.$store.state.nextStep=='1'"></ImageUpload>
           <!--</el-tabs>-->
        </el-col>
      </el-row>
    </div>
</template>
<script>
    import ElRow from "element-ui/packages/row/src/row";
    import ElCol from "element-ui/packages/col/src/col";
    import ElForm from "../../../node_modules/element-ui/packages/form/src/form.vue";
    import ChannelBasic from "./channelBasic.vue"
    import ImageUpload from "../imageUpload.vue"
    import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
    export default {
        data() {
            return {
              activeName :"first",
              //isEdit:0,//是否可编辑状态，0不可 1可
              channelId:''
            }
        },
        //props: ['isEdit']//{}
            // 父组件传过来的值
            //someValue: String,
           // isEdit:this.$route.params.action!='view'
        //,
        components: {
          ElButton,
          ElForm,
          ElCol,
          ElRow,
          ChannelBasic,
          ImageUpload
          // 引入其他组件
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
         //alert(this.$route.query.id)
          console.log(this.$route.params.action)
          //this.channelId = this.$route.query.id
          //this.isEdit = this.$store.state.isEdit
          this.$store.commit('changeStep','0')
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
          changeTab(target){
            if(target.index == 0){
              this.activeTab = true;
            }else {
              this.activeTab = false;
            }
          }
        }
    }
</script>
<style scoped>
  .basicTab{
    margin-top: 35px;
  }
</style>
