<template>
    <div>
      <el-row>
        <el-col :offset="1">
          <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item>渠道商管理</el-breadcrumb-item>
            <el-breadcrumb-item to="/channelGoods">渠道商产品维护</el-breadcrumb-item>
            <el-breadcrumb-item to="/channelGoodsQuery">渠道商产品查询</el-breadcrumb-item>
            <el-breadcrumb-item>渠道商产品新增</el-breadcrumb-item>
          </el-breadcrumb>
        </el-col>
      </el-row>
      <el-row style="margin-top: 20px">
        <ContentHeader style="margin-bottom: 20px" :queryTitle="'渠道商产品新增'"></ContentHeader>
        <el-col :span="20">
          <el-form label-width="150px" :model="cutData" :size="$store.state.size">
            <el-col :offset="2" :span="10">
              <el-form-item label="产品名称">
                <el-select v-model="cutProduct" placeholder="产品名称" @change="cutpro">
                  <el-option v-for="item in products" :value="item.id" :label="item.name" :key="item.id"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="渠道商ID">
                <el-input v-model="cutData.code" disabled></el-input>
              </el-form-item>
              <el-form-item label="渠道商名称">
                <el-input v-model="cutData.name" :disabled="!this.isDisable"></el-input>
              </el-form-item>
              <el-form-item label="产品期限">
                <el-input v-model="cutData.periods" :disabled="!this.isDisable"></el-input>
              </el-form-item>
              <el-form-item label="产品利率">
                <el-input v-model="cutData.rate" :disabled="!this.isDisable"></el-input>
              </el-form-item>
              <el-form-item label="还款方式">
                <el-input :value="cutData.repayMode|repayModeFilter" :disabled="!this.isDisable"></el-input>
              </el-form-item>
              <el-form-item label="担保方">
                <el-input v-model="cutData.guarantorId" :disabled="!this.isDisable"></el-input>
              </el-form-item>

            </el-col>
            <el-col style="margin-top: 50px" :span="10">
              <el-form-item label="期限类型">
                <el-input :value="cutData.periodType | periodTypeFilter" :disabled="!this.isDisable"></el-input>
              </el-form-item>
              <el-form-item label="利率类型">
                <el-input :value="cutData.rateType | rateFilter" :disabled="!this.isDisable">
                </el-input>
              </el-form-item>
              <el-form-item label="履约险">
                <el-input v-model="cutData.honourVenture" :disabled="!this.isDisable"></el-input>
              </el-form-item>
              <el-form-item label="保证金比例">
                <el-input v-model="cutData.depositPct" :disabled="!this.isDisable"></el-input>
              </el-form-item>
              <el-form-item label="罚息分成">
                <el-input v-model="cutData.defaultInterestPct" :disabled="!this.isDisable"></el-input>
              </el-form-item>
              <el-form-item label="兜底比例">
                <el-input v-model="cutData.fallbackPct" :disabled="!this.isDisable"></el-input>
              </el-form-item>
            </el-col>
          </el-form>
        </el-col>
      </el-row>
      <el-row type="flex" justify="center">
        <el-col :span="2">
          <el-button type="primary" @click="addPro" :size="$store.state.size">提交</el-button>
        </el-col>
        <el-col :span="2">
          <router-link to="/channelGoodsQuery">
            <el-button :size="$store.state.size">返回</el-button>
          </router-link>
        </el-col>
      </el-row>
    </div>
</template>
<script>
    import ElRow from "element-ui/packages/row/src/row";
    import ElCol from "element-ui/packages/col/src/col";
    import ElInput from "../../../node_modules/element-ui/packages/input/src/input.vue";
    import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
    import ContentHeader from "../contentHeader.vue"
    export default {
        data() {
            return {
              value2:'',
              isDisable: 0,
              products:[],
              filterData:[],
              cutProduct:"",
              cutData:{}
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
          ElButton,
          ElInput,
          ElCol,
          ElRow,
          ContentHeader
          // 引入其他组件
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
          this.queryCrtList(this.$store.state.channelId)
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
          // 自定义方法
          queryCrtList(id){
            this.$axios.HttpPost(
              'product/getAllByDistid',
              {distId:id}
            )
              .then((data) => {
              debugger
                //alert(JSON.stringify(data))
                this.products = data.result
              });
          },
          cutpro(val){

            this.$axios
              .HttpPost('product/detail',{productId:val})
              .then(data=>{this.cutData=data.result})

          },
          addPro(){
            if(!this.cutData.id){
              this.$message({
                message: '请选择产品',
                type: 'warning'
              })
            }else {
              this.$axios.HttpPost(
                'distributor/product/add',
                {
                  distId: this.$store.state.channelId,
                  productId:this.cutData.id,
                  productName:this.cutData.name
                })
                .then((data) => {
                  this.$message({
                    message: '新增成功',
                    type: 'success'
                  });
                  this.$router.push("channelGoodsQuery")
                });
            }
          }
        }
    }
</script>
<style scoped>

</style>
