<template>
  <div>
    <el-row>
      <el-col :offset="1">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>渠道商管理</el-breadcrumb-item>
          <el-breadcrumb-item to="/channelChange">渠道商尽调</el-breadcrumb-item>
          <el-breadcrumb-item>尽调渠道商列表</el-breadcrumb-item>
        </el-breadcrumb>
      </el-col>
    </el-row>
    <el-row style="margin-top: 30px" type="flex" align="middle">
      <el-col :offset="1" :span="2">
        渠道商名称：
      </el-col>
      <el-col :span="4">
        <el-tag>{{this.$route.params.channelName}}</el-tag>
      </el-col>
      <el-col :span="1.5">
        登记时间：
      </el-col>
      <el-col :span="4">
        <el-tag>{{this.$route.params.channelDate}}</el-tag>
      </el-col>
    </el-row>
    <el-row>
      <ContentHeader class="contentHead" :queryTitle="'查询信息'"></ContentHeader>
      <el-col :span="24">
        <el-table
          :data="tableData3"
          stripe
          :size="$store.state.size"
          style="width: 100%">
          <el-table-column
            type="index"
            :index="indexMethod"

            label="序号">
          </el-table-column>
          <el-table-column
            prop="investigaterDate"
            label="尽调时间">
          </el-table-column>
          <el-table-column
            prop="investigateMan"
            label="尽调人">
          </el-table-column>
          <el-table-column
            prop="contactName"
            label="业务联系人">
          </el-table-column>
          <el-table-column
            prop="contactMobilePhone"
            label="业务联系人电话">
          </el-table-column>
          <el-table-column
            prop="status.name"
            label="尽调状态">
          </el-table-column>
          <el-table-column
            prop="decision.name"
            label="尽调结果">
          </el-table-column>
          <el-table-column
            label="操作"
            width="100">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="success"
                @click="toDetail(scope.row)">详情
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <el-row style="margin-top: 15px" v-if="Number(totalPages)>10" type="flex" justify="center">
      <el-pagination
        @current-change="handleCurrentChange"
        :page-size="pageSize"
        :current-page.sync="pageNo"
        layout="total, prev, pager, next, jumper"
        :total="totalPages">
      </el-pagination>
    </el-row>
  </div>
</template>
<script>
  import ElRow from "element-ui/packages/row/src/row";
  import ElCol from "element-ui/packages/col/src/col";
  import ContentHeader from '../contentHeader.vue'

  export default {
    data() {
      return {
        num: 1,
        tableData3: [],
        totalPages: 0,
        pageNo: 1,
        pageSize: 10,
      }
    },
    props: {
      // 父组件传过来的值
      someValue: String
    },
    components: {
      ElCol,
      ElRow,
      ContentHeader
      // 引入其他组件
    },
    beforeCreate: function () {
      // 组件创建前
    },
    created: function () {
      // 组件创建时执行
    },
    beforeMount: function () {
    },
    mounted: function () {
      // 组件挂载结束
      this.queryList()
    },
    beforeUpdate: function () {
      // 组件挂载结束
    },
    updated: function () {
      // 组件挂载结束
    },
    beforeDestroy: function () {
      // 组件挂载结束
    },
    destroyed: function () {
    },
    computed: {
      // 计算属性
    },
    methods: {
      // 自定义方法
      queryList() {
        this.$axios.HttpPost(
          'distributor/investigate/listbydist',
          {"distId": this.$route.params.channelId, "pageNo": this.pageNo, "pageSize": this.pageSize}
        )
          .then((data) => {
            if (data.result.totalElements) {
              if (data.result.totalElements) {
                let temp = data.result.data
                //alert(JSON.stringify(temp))
                for (let i = 0; i < temp.length; i++) {
                  if (temp[i].status == '1') {
                    temp[i].status = {
                      name: "完成",
                      value: "1"
                    }
                  } else if (temp[i].status == '0') {
                    temp[i].status = {
                      name: "待尽调",
                      value: "0"
                    }
                  }
                  if (temp[i].decision == '1') {
                    temp[i].decision = {
                      name: "可以合作",
                      value: "1"
                    }
                  } else if (temp[i].decision == '2') {
                    temp[i].decision = {
                      name: "不可以合作",
                      value: "2"
                    }
                  } else if (temp[i].decision == '3') {
                    temp[i].decision = {
                      name: "有条件合作",
                      value: "3"
                    }
                  }
                }
                this.tableData3 = temp
                this.totalPages = data.result.totalElements
              }
            }
          });
      },
      handleCurrentChange(val) {
        this.pageNo = val
        this.queryList()
      },
      toDetail(data) {

        /*console.log(data.id)*/
        this.$router.push({
                            name: 'changeCreate',
                            params: {
                              channelId: this.$route.params.channelId,
                              channelName: this.$route.params.channelName,
                              action: "view",
                             investId:data.id
                            }
                          })


       }
      ,
      indexMethod(index){
        return (this.pageNo-1)*this.pageSize+index+1
      }
    }
  }
</script>
<style scoped>
  .contentHead {
    margin-top: 20px;
  }
</style>
