<template>
  <div>
    <el-row>
      <el-col :offset="1">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>渠道商管理</el-breadcrumb-item>
          <el-breadcrumb-item to="/channelChange">渠道商尽调</el-breadcrumb-item>
          <el-breadcrumb-item>尽调结果录入</el-breadcrumb-item>
        </el-breadcrumb>
      </el-col>
    </el-row>
    <el-row style="margin-top: 20px" type="flex" justify="center">
      <el-col :span="22">
        <el-tabs class="basicTab" type="border-card" v-model="activeName">
          <el-tab-pane label="尽调结果" name="0"></el-tab-pane>
          <el-tab-pane label="基本信息" name="1"></el-tab-pane>
          <el-tab-pane label="影像资料" name="2"></el-tab-pane>
          <el-tab-pane label="产品信息" name="3"></el-tab-pane>

          <ChannelBasic :is-enabled="false" v-if="activeName=='1'"></ChannelBasic>
          <ImageUpload :is-enabled="false" v-if="activeName=='2'"></ImageUpload>

          <div v-if="activeName=='0'">
            <el-row>
              <el-form enctype="multipart/form-data" ref="changeForm" method="post"
                       label-width="150px"
                       :rules="rules" :model="changeForm" :size="$store.state.size">
                <el-row>
                  <ContentHeader class="contentHead" :queryTitle="'尽调信息'"></ContentHeader>
                  <el-col :span="12">
                    <el-form-item label="渠道商名称">
                      {{channelName}}
                    </el-form-item>
                    <el-form-item label="基本信息" prop="statusBasic">
                      <el-radio-group :disabled="!this.isDisable" v-model="changeForm.statusBasic">
                        <el-radio label="1">符合</el-radio>
                        <el-radio label="2">不符合</el-radio>
                        <el-radio label="3">部分符合</el-radio>
                      </el-radio-group>
                    </el-form-item>
                    <el-form-item label="营业情况" prop="statusBusiness">
                      <el-radio-group :disabled="!this.isDisable"
                                      v-model="changeForm.statusBusiness">
                        <el-radio label="1">符合</el-radio>
                        <el-radio label="2">不符合</el-radio>
                        <el-radio label="3">部分符合</el-radio>
                      </el-radio-group>
                    </el-form-item>
                    <el-form-item label="经营情况" prop="statusManagement">
                      <el-radio-group :disabled="!this.isDisable"
                                      v-model="changeForm.statusManagement">
                        <el-radio label="1">符合</el-radio>
                        <el-radio label="2">不符合</el-radio>
                        <el-radio label="3">部分符合</el-radio>
                      </el-radio-group>
                    </el-form-item>
                  </el-col>
                  <el-col style="margin-top: 48px" :span="12">
                    <el-form-item label="联系人情况" prop="statusPerson">
                      <el-radio-group :disabled="!this.isDisable" v-model="changeForm.statusPerson">
                        <el-radio label="1">符合</el-radio>
                        <el-radio label="2">不符合</el-radio>
                        <el-radio label="3">部分符合</el-radio>
                      </el-radio-group>
                    </el-form-item>
                    <el-form-item label="股东情况" prop="statusShareholder">
                      <el-radio-group :disabled="!this.isDisable"
                                      v-model="changeForm.statusShareholder">
                        <el-radio label="1">符合</el-radio>
                        <el-radio label="2">不符合</el-radio>
                        <el-radio label="3">部分符合</el-radio>
                      </el-radio-group>
                    </el-form-item>
                    <el-form-item label="职场情况" prop="statusWorkplace">
                      <el-radio-group :disabled="!this.isDisable"
                                      v-model="changeForm.statusWorkplace">
                        <el-radio label="1">符合</el-radio>
                        <el-radio label="2">不符合</el-radio>
                        <el-radio label="3">部分符合</el-radio>
                      </el-radio-group>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <ContentHeader class="contentHead" :queryTitle="'尽调结果'"></ContentHeader>
                  <el-col :span="12">
                    <el-form-item label="尽调原因" prop="investType">
                      <el-select :disabled="!this.isDisable" v-model="changeForm.investType">
                        <el-option label="新增合作尽调" value="1"></el-option>
                        <el-option label="新增产品尽调" value="2"></el-option>
                        <el-option label="重新尽调" value="3"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="尽调决议" prop="decision">
                      <el-radio-group :disabled="!this.isDisable" v-model="changeForm.decision">
                        <el-radio label="1">可以合作</el-radio>
                        <el-radio label="2">不可以合作</el-radio>
                        <el-radio label="3">有条件合作</el-radio>
                      </el-radio-group>
                    </el-form-item>
                    <el-form-item label="尽调报告" prop="filename">
                      <input name="file" type="file" v-if="this.isDisable" accept="application/pdf"
                             @change="selectFile"/>
                      <div id="filediv">
                        <el-input v-model="filename"/>
                      </div>
                      <el-button v-if="!this.isDisable" @click="downLoadFile()">下载尽调报告
                      </el-button>
                    </el-form-item>
                    <el-form-item label="详细说明意见" prop="explain">
                      <el-input :disabled="!this.isDisable" type="textarea"
                                v-model="changeForm.explain"></el-input>
                    </el-form-item>
                    <el-form-item>
                      <el-button v-if="this.isDisable==1" type="primary"
                                 @click="uploadFile('changeForm')">提交
                      </el-button>

                      <el-button type="primary"
                                 @click="goback()">返回
                      </el-button>
                    </el-form-item>
                  </el-col>
                </el-row>
              </el-form>
            </el-row>
            <!--<el-row>
              <ContentHeader class="contentHead" :queryTitle="'尽调信息'"></ContentHeader>
              <el-form label-width="150px" :size="$store.state.size">
                <el-col :span="12">
                  <el-form-item label="股东类型">
                    <el-select :disabled="!this.isDisable" v-model="num" placeholder="股东类型">
                      <el-option label="区域一" value="shanghai"></el-option>
                      <el-option label="区域二" value="beijing"></el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item label="尽调决议">
                    <el-radio-group v-model="num">
                      <el-radio label="可以合作"></el-radio>
                      <el-radio label="不可以合作"></el-radio>
                      <el-radio label="有条件合作"></el-radio>
                    </el-radio-group>
                  </el-form-item>
                  <el-form-item label="尽调报告">
                    <el-button>上传</el-button>
                  </el-form-item>
                  <el-form-item label="详细说明意见">
                    <el-input type="textarea" v-model="num"></el-input>
                  </el-form-item>
                  <el-form-item>
                    <el-button type="primary">提交</el-button>
                  </el-form-item>
                </el-col>
              </el-form>
            </el-row>-->
          </div>
          <!-- <ImageUpload :isData="isDta" v-if="activeName=='2'"></ImageUpload>-->
          <div v-if="activeName=='3'">
            <el-row>
              <ContentHeader class="contentHead" :queryTitle="'产品信息'"></ContentHeader>
              <el-col :span="24">
                <el-table
                  :data="tableData3"
                  stripe
                  :size="$store.state.size"
                  style="width: 100%">
                  <el-table-column
                    type="index" :index="indexMethod"
                    label="序号">
                  </el-table-column>
                  <el-table-column
                    prop="code"
                    label="产品ID">
                  </el-table-column>
                  <el-table-column
                    prop="name"
                    label="产品名称">
                  </el-table-column>
                  <el-table-column
                    prop="salesStatus"
                    label="维护状态">
                    <template slot-scope="scope">
                      {{ scope.row.salesStatus | productFilter}}
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="dateRange"
                    label="有效期">
                  </el-table-column>
                  <el-table-column
                    prop="periods"
                    label="期限">
                  </el-table-column>
                  <el-table-column
                    prop="periodType.name"
                    label="期限类型">
                    <template slot-scope="scope">
                      {{ scope.row.periodType | periodTypeFilter}}
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="rate"
                    label="利率">
                  </el-table-column>
                  <el-table-column
                    prop="rateType"
                    label="利率类型">
                    <template slot-scope="scope">
                      {{ scope.row.rateType | rateFilter}}
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="repayMode.name"
                    label="还款方式">
                    <template slot-scope="scope">
                      {{ scope.row.repayMode | repayModeFilter}}
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="depositPct"
                    label="保证金比例">
                  </el-table-column>
                  <el-table-column
                    prop="guarantor"
                    label="担保情况">
                    <template slot-scope="scope">
                      {{'无'}}
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="honourVenture"
                    label="履约险">
                    <template slot-scope="scope">
                      {{ scope.row.honourVenture | haveFilter}}
                    </template>
                  </el-table-column>
                </el-table>
              </el-col>
            </el-row>
            <el-row style="margin-top: 15px" v-if="Number(totalPages) > 10" type="flex"
                    justify="center">
              <el-pagination
                :page-size="pageSize"
                :current-page.sync="pageNo"
                layout="total, prev, pager, next, jumper"
                :total="totalPages">
              </el-pagination>
            </el-row>
          </div>
        </el-tabs>
      </el-col>
    </el-row>
  </div>
</template>
<script>
  import ContentHeader from '../contentHeader.vue'
  import ElCol from "element-ui/packages/col/src/col";
  import ElRow from "element-ui/packages/row/src/row";
  import ElInput from "../../../node_modules/element-ui/packages/input/src/input.vue";
  import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
  import ElFormItem from "../../../node_modules/element-ui/packages/form/src/form-item.vue";
  import ImageUpload from "../imageUpload.vue"
  import ChannelBasic from "./channelBasic"
  import axios from 'axios'
  import { Loading } from 'element-ui';
  export default {
    data() {
      return {
        num: 1,
        isDisable: this.$route.params.action == 'add',
        isDta: {
          id: this.$route.params.channelId,
          isEdit: 1
        },
        channelName: null,
        channelId: null,
        activeName: "0",
        changeForm: {
          statusWorkplace: null,
          statusShareholder: null,
          statusPerson: null,
          statusManagement: null,
          statusBusiness: null,
          statusBasic: null,
          investType: null,
          decision: null,
          filename: null,
          explain: null,
          distId: this.$route.params.channelId
        },
        uploadParam: null,
        tableData3: [],
        totalPages: 0,
        pageNo: 1,
        pageSize: 10,
        rules: {
          statusWorkplace: [{required: true, message: '请选择职场情况'}],
          statusShareholder: [{required: true, message: '请选择股东情况'}],
          statusPerson: [{required: true, message: '请选择联系人情况'}],
          statusManagement: [{required: true, message: '请选择经营情况'}],
          statusBusiness: [{required: true, message: '请选择营业情况'}],
          statusBasic: [{required: true, message: '请选择基本信息'}],
          investType: [{required: true, message: '请选择尽调原因'}],
          decision: [{required: true, message: '请选择尽调决议'}],
          explain: [{required: true, message: '详细说明意见不能为空', trigger: 'blur'}],
          filename: [{required: true, message: '请选择尽调报告', trigger: 'blur'}],
        },
      }
    },
    props: {
      // 父组件传过来的值
      someValue: String
    },
    components: {
      // 引入其他组件
      ElFormItem,
      ElButton,
      ElInput,
      ElRow,
      ElCol,
      ContentHeader,
      ImageUpload,
      ChannelBasic,
    },
    beforeCreate: function () {
      // 组件创建前
    },
    created: function () {
      // 组件创建时执行
    },
    beforeMount: function () {
    },
    mounted: function () {
      // 组件挂载结束
      //alert(JSON.stringify(this.$route.query))
      this.channelID = this.$route.params.channleId
      this.channelName = this.$route.params.channelName
      if (this.$route.params.action == "view") {
        this.getChangeForm()
      }
      this.queryList()

    },
    beforeUpdate: function () {
      // 组件挂载结束
    },
    updated: function () {
      // 组件挂载结束
    },
    beforeDestroy: function () {
      // 组件挂载结束
    },
    destroyed: function () {
    },
    computed: {
      // 计算属性
    },
    methods: {
      // 自定义方法
      queryList() {
        this.$axios.HttpPost(
          'distributor/product/listbydist',
          {"distId": this.$route.params.channelId, "pageNo": this.pageNo, "pageSize": this.pageSize}
        )
          .then((data) => {
            if (data.result.totalElements) {
              if (data.result.totalElements) {
                this.tableData3 = data.result.data
                this.totalPages = data.result.totalElements
              }
            }
          });
      },
      getChangeForm() {
        this.$axios.HttpPost(
          'distributor/investigate/detail',
          {"id": this.$route.params.investId}
        )
          .then((data) => {
            debugger
            this.changeForm = data.result
          });
      },

      selectFile(e) {  // 上传照片
        var self = this
        let file = e.target.files[0]


        if(!/^.+\.(pdf|PDF)$/.test(file.name)){
          this.$message({
                          message: "请上传pdf文件",
                          type: 'error'
                        });
          event.target.value=null
        }
        else {
          let param = new FormData() // 创建form对象
          param.append('filename', file, file.name) // 通过append向form对象添加数据

          this.uploadParam = param
          debugger
          this.changeForm.filename = file.name
          var inputtemp= document.getElementById("filediv").children[0].children[0]
          inputtemp.focus()
          inputtemp.blur()
        }
      },
      initData() {
        if (this.uploadParam == null) {
          this.uploadParam = new FormData()
        }
        this.uploadParam.append("decision", this.changeForm.decision)
        this.uploadParam.append("explain", this.changeForm.explain)
        this.uploadParam.append("distId", this.changeForm.distId)
        this.uploadParam.append("investType", this.changeForm.investType)
        this.uploadParam.append("statusBasic", this.changeForm.statusBasic)
        this.uploadParam.append("statusBusiness", this.changeForm.statusBusiness)
        this.uploadParam.append("statusManagement", this.changeForm.statusManagement)
        this.uploadParam.append("statusPerson", this.changeForm.statusPerson)
        this.uploadParam.append("statusShareholder", this.changeForm.statusShareholder)

        this.uploadParam.append("statusWorkplace", this.changeForm.statusWorkplace)

      },
      uploadFile(changeForm) {


        this.$refs[changeForm].validate((valid) => {
          if (valid) {// 添加请求头
            let loadingInstance = Loading.service({
                                                    lock: true,
                                                    text: 'Loading',
                                                    spinner: 'el-icon-loading',
                                                    background: 'rgba(0, 0, 0, 0.7)'
                                                  });
            this.initData()
            axios.post('distributor/investigate/invest', this.uploadParam)
              .then(response => {
                loadingInstance.close()
                this.$message({
                                message: '提交成功',
                                type: 'success'
                              });
                this.$router.push("/channelChange")
              })
          }
          else {
            console.log(1)
          }
        })
      },
      downLoadFile() {
        console.log(this.changeForm.investFilePath)
        this.$axios.DownLoad(this.changeForm.investFilePath)
      },
      goback() {
        this.$router.push({name: "channelChange"})
      },
      indexMethod(index) {
        return (this.pageNo - 1) * this.pageSize + index + 1
      }
    }
  }
</script>
<style scoped>
  .contentHead {
    margin: 10px 0 10px 0;
  }
  #filediv {border: none;width: 0;height: 0;display: block;overflow:hidden}
</style>
