<template>
  <div>
    <el-row type="flex" align="middle">
      <el-col :offset="1" :span="2">渠道商名称:</el-col>
      <el-col :span="6">
        <el-input
          :size="$store.state.size"
          placeholder="渠道商名称"
          v-model="channelName"
          suffix-icon="el-icon-goods">
        </el-input>
      </el-col>
      <el-col :offset="1" :span="2">
        <el-button type="primary" @click="()=>{pageNo=1;queryList()}" :size="$store.state.size">查询</el-button>
      </el-col>
    </el-row>
    <el-row>
      <ContentHeader class="contentHead" :queryTitle="'查询列表'"></ContentHeader>
      <el-col :span="24">
        <el-table
          :data="tableData3"
          stripe
          :size="$store.state.size"
          style="width: 100%">
          <el-table-column
            type="index"  :index="indexMethod"

            label="序号">
          </el-table-column>
          <el-table-column
            prop="distCode"
            label="渠道商ID">
          </el-table-column>
          <el-table-column
            prop="distName"
            label="渠道商名称">
          </el-table-column>
          <el-table-column
            prop="distCreateTime"
            label="登记时间">
          </el-table-column>
          <el-table-column
            prop="distTimes"
            label="尽调次数">
          </el-table-column>
          <el-table-column
            prop="investigaterDate"
            label="最近尽调时间">
          </el-table-column>
          <el-table-column
            prop="investigateMan"
            label="最近尽调人">
          </el-table-column>
          <el-table-column
            prop="status"
            label="最近尽调状态">
            <template slot-scope="scope">
              {{scope.row.status|decisionFilter}}
            </template>

          </el-table-column>
          <el-table-column
            prop="decision "
            label="最近尽调结果">
            <template slot-scope="scope">
              {{scope.row.decision|decisionStatusFilter}}
            </template>


          </el-table-column>
          <el-table-column
            prop="contactName"
            label="业务联系人">
          </el-table-column>
          <el-table-column
            prop="contactMobilePhone"
            label="业务联系人电话">
          </el-table-column>
          <el-table-column
            label="操作"
            width="150">
            <template slot-scope="scope">
              <el-button
                :size="$store.state.size"
                @click="addChange(scope.row)"
                type="success"
              >尽调
              </el-button>
              <el-button
                :size="$store.state.size"
                @click="toDetail(scope.row)">查看
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <el-row style="margin-top: 15px" v-if="Number(totalPages)>10" type="flex" justify="center">
      <el-pagination
        :page-size="pageSize"
        @current-change="handleCurrentChange"
        layout="total, prev, pager, next, jumper"
        :total="totalPages">
      </el-pagination>
    </el-row>
  </div>
</template>
<script>
  import ElContainer from "../../../node_modules/element-ui/packages/container/src/main.vue";
  import ElRow from "element-ui/packages/row/src/row";
  import ElInput from "../../../node_modules/element-ui/packages/input/src/input.vue";
  import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
  import ElCol from "element-ui/packages/col/src/col";
  import ContentHeader from "../contentHeader.vue"

  export default {
    data() {
      return {
        channelName: "",
        tableData3: [],
        totalPages: 0,
        pageNo: 1,
        pageSize: 10,
        changeSta: 0//尽调状态 1完成 0 待尽调
      }
    },
    props: {
      // 父组件传过来的值
      someValue: String
    },
    components: {
      // 引入其他组件
      ElCol,
      ElButton,
      ElInput,
      ElRow,
      ElContainer,
      ContentHeader
    },
    beforeCreate: function () {
      // 组件创建前
    },
    created: function () {
      // 组件创建时执行
    },
    beforeMount: function () {
    },
    mounted: function () {
      // 组件挂载结束
      this.queryList()
    },
    beforeUpdate: function () {
      // 组件挂载结束
    },
    updated: function () {
      // 组件挂载结束
    },
    beforeDestroy: function () {
      // 组件挂载结束
    },
    destroyed: function () {
    },
    computed: {
      // 计算属性
    },
    methods: {
      // 自定义方法
      queryList() {
        this.$axios.HttpPost(
          'distributor/investigate/list',
          {"name": this.channelName, "pageNo": this.pageNo, "pageSize": this.pageSize}
        )
          .then((data) => {
            if (data.result.totalElements) {
              let temp = data.result.data

              this.tableData3 = temp
              this.totalPages = data.result.totalElements
            } else {
              this.tableData3=[]
              this.totalPages=0
              this.$message({
                              message: '无查询信息',
                              type: 'warning'
                            });
            }
          });
      },
      handleCurrentChange(val) {
        this.pageNo = val
        this.queryList()
      },
      toDetail(s) {
        //alert(JSON.stringify(s))

        this.$router.push({
                            name: 'channelList',
                            params: {
                              channelId: s.id,
                              channelName: s.distName,
                              channelDate: s.distCreateTime
                            }
                          })
        this.$store.commit('changeJdEdit', 0)
      },
      addChange(s) {

        this.$router.push({name: 'changeCreate',params:{channelId:s.id, channelName: s.distName,action:"add",investId:0}})
      },
      indexMethod(index){
        return (this.pageNo-1)*this.pageSize+index+1
      }
    }
  }
</script>
<style scoped>
  .contentHead {
    margin: 10px 0 10px 0;
  }
</style>
