<template>
  <div>
    <div v-show="showOpt=='0'">
      <el-row type="flex" align="middle">
        <el-col :offset="1" :span="2">渠道商名称:</el-col>
        <el-col :span="6">
          <el-input
            :size="$store.state.size"
            placeholder="渠道商名称"
            v-model="channelName"
            suffix-icon="el-icon-goods">
          </el-input>
        </el-col>
        <el-col :offset="1" :span="2">
          <el-button type="primary" @click="queryList(1)" :size="$store.state.size">查询</el-button>
        </el-col>
        <el-col :span="2">
          <!--<el-button type="primary" :size="$store.state.size">导入</el-button>-->

          <!--<a href="javascript:;" class="file">导入
            <el-form enctype="multipart/form-data" method="post">
              <input type="file" name="file" @change="selectFile" id=""
                     accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"/>
            </el-form>
          </a>-->
          <el-button type="primary" @click="importExcel" :size="$store.state.size">导入</el-button>
          <input style="display: none" type="file" id="myfile" @change="selectFile" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"/>
        </el-col>
        <el-col :span="2">
          <el-button type="primary" :size="$store.state.size" @click="beforeTranseIn">转入</el-button>
        </el-col>
      </el-row>
      <el-row>
        <ContentHeader class="contentHead" :queryTitle="'查询列表'"></ContentHeader>
        <el-col :span="24">
          <el-table
            :data="tableData3"
            stripe
            :size="$store.state.size"
            style="width: 100%">
            <el-table-column
              type="index" :index="indexMethod"
              label="序号">
            </el-table-column>
            <el-table-column
              prop="distCode"
              label="渠道商ID">
            </el-table-column>

            <el-table-column
              prop="distName"
              label="渠道商名称">
            </el-table-column>
            <el-table-column
              prop="licenseNo"
              label="营业执照号">
              <template slot-scope="scope">
                {{scope.row.licenseNo}}
              </template>
            </el-table-column>
            <!--<el-table-column
              prop="status"
              label="审批状态">
              <template slot-scope="scope">
                {{ scope.row.status | blackListFilter}}
              </template>
            </el-table-column>-->
            <el-table-column
              prop="createTime"
              label="导入时间">
            </el-table-column>
            <el-table-column
              prop="hisCooperated"
              label="过往合作">
              <template slot-scope="scope">
                {{ scope.row.hisCooperated | boolFilter}}
              </template>

            </el-table-column>
            <el-table-column
              prop="createMode"
              label="导入渠道">
              <template slot-scope="scope">
                {{ (scope.row.createMode==0)?'平台转入':scope.row.createMode}}
              </template>
            </el-table-column>



            <el-table-column
              label="操作">
              <template slot-scope="scope">
                <el-button
                  size="mini"
                  type="success" @click="outBlack(scope.row.id)">转出
                </el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <el-row style="margin-top: 15px" v-if="Number(totalPages)>10" type="flex" justify="center">
        <el-pagination
          :page-size="pageSize"
          :current-page="pageNo"
          @current-change="handleCurrentChange"
          layout="total, prev, pager, next, jumper"
          :total="totalPages">
        </el-pagination>
      </el-row>
    </div>
    <div v-show="showOpt=='1'">
      <el-row type="flex" align="middle">
        <el-col :offset="1" :span="2">渠道商名称:</el-col>
        <el-col :span="6">
          <el-input
            :size="$store.state.size"
            v-model="whiteName"
            placeholder="渠道商名称"
            suffix-icon="el-icon-goods">
          </el-input>
        </el-col>
        <el-col :offset="1" :span="2">
          <el-button type="primary" @click="querywhiteList(1)" :size="$store.state.size">查询
          </el-button>
        </el-col>
        <el-col :offset="1" :span="2">
          <el-button type="primary" @click="goback()" :size="$store.state.size">返回</el-button>
        </el-col>
      </el-row>
      <el-row>
        <ContentHeader class="contentHead" :queryTitle="'查询列表'"></ContentHeader>
        <el-col :span="24">
          <el-table
            :data="whiteData"
            stripe
            :size="$store.state.size"
            style="width: 100%">
            <el-table-column
              type="index" :index="indexWhiteMethod"
              label="序号">
            </el-table-column>
            <el-table-column
              prop="distCode"
              label="渠道商ID">
            </el-table-column>
            <el-table-column
              prop="distName"
              label="渠道商名称">
            </el-table-column>
            <el-table-column
              prop="licenseNo"
              label="营业执照号">
              <template slot-scope="scope">
                {{scope.row.licenseNo }}
              </template>
            </el-table-column>
           <!-- <el-table-column
              prop="status"
              label="审批状态">
              <template slot-scope="scope">
                {{ scope.row.status | blackListFilter}}
              </template>
            </el-table-column>-->
            <el-table-column
              prop="distributorContact[0].name"
              label="业务联系人">
            </el-table-column>
            <el-table-column
              prop="distributorContact[0].mobilePhone"
              label="业务联系人电话">
            </el-table-column>
            <el-table-column
              prop="createTime"
              label="登记时间">
            </el-table-column>

            <el-table-column
              label="操作">
              <template slot-scope="scope">
                <el-button
                  size="mini"
                  type="success" @click="inBlack(scope.row.id)">转入黑名单
                </el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <el-row style="margin-top: 15px" v-if="Number(whiteTotal)>10" type="flex" justify="center">
        <el-pagination
          :page-size="pageSize"
          :current-page="whitePageNo"
          @current-change="handleCurrentwhiteChange"
          layout="total, prev, pager, next, jumper"
          :total="whiteTotal">
        </el-pagination>
      </el-row>
    </div>
  </div>
</template>
<script>
  import ElContainer from "../../../node_modules/element-ui/packages/container/src/main.vue";
  import ElRow from "element-ui/packages/row/src/row";
  import ElInput from "../../../node_modules/element-ui/packages/input/src/input.vue";
  import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
  import ElCol from "element-ui/packages/col/src/col";
  import ContentHeader from "../contentHeader.vue"
  import axios from 'axios'

  export default {
    data() {
      return {
        showOpt: '0',//1显示黑名单转入 0显示黑名单
        channelName: "",
        whiteName: "",
        tableData3: [],
        whiteData: [],
        totalPages: 0,
        whiteTotal: 0,
        whitePageNo: 1,
        pageNo: 1,
        pageSize: 10
      }
    },
    props: {
      // 父组件传过来的值
      someValue: String
    },
    components: {
      // 引入其他组件
      ElCol,
      ElButton,
      ElInput,
      ElRow,
      ElContainer,
      ContentHeader
    },
    beforeCreate: function () {
      // 组件创建前
    },
    created: function () {
      // 组件创建时执行
    },
    beforeMount: function () {
    },
    mounted: function () {
      // 组件挂载结束
      this.queryList()
    },
    beforeUpdate: function () {
      // 组件挂载结束
    },
    updated: function () {
      // 组件挂载结束
    },
    beforeDestroy: function () {
      // 组件挂载结束
    },
    destroyed: function () {
    },
    computed: {
      // 计算属性
    },
    methods: {

      // 自定义方法
      queryList(i) {
        if (i == 1) {
          this.pageNo = 1
        }
        this.$axios.HttpPost(
          'blacklist/queryTable',
          {"distName": this.channelName, "page": this.pageNo, "size": this.pageSize}
        )
          .then((data) => {
            if (data.result.totalElements) {
              let temp = data.result.content

              this.tableData3 = temp
              this.totalPages = data.result.totalElements
            } else {
              this.tableData3 = []
              this.totalPages = 0
              this.$message({
                              message: '无查询信息',
                              type: 'warning'
                            });
            }
          });
      },
      querywhiteList(i) {
        if (i == 1) {
          this.whitePageNo = 1
        }
        this.$axios.HttpPost(
          'blacklist/queryDistributorBlack',
          {
            "distName": this.whiteName,
            "page": this.whitePageNo,
            "size": this.pageSize
          })
          .then((data) => {
            this.whiteData = data.result.content
            this.whiteTotal = data.result.totalElements

          });
      },
      handleCurrentChange(val) {
        this.pageNo = val
        this.queryList()
      },
      handleCurrentwhiteChange(val) {
        this.whitePageNo = val
        this.querywhiteList()
      },
      inBlack(code) {
        //alert(code)
        this.$confirm('是否转入黑名单', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$axios.HttpPost(
            'blacklist/add',
            {"id": code}
          )
            .then((data) => {
              this.$message({
                              type: 'success',
                              message: '转入成功!'
                            });
              this.querywhiteList()
            });
        }).catch(() => {
          this.$message({
                          type: 'info',
                          message: '已取消操作'
                        });
        });
      },
      outBlack(code) {
        //alert(code)
        this.$confirm('是否转出黑名单', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$axios.HttpPost(
            'blacklist/del',
            {"id": code}
          )
            .then((data) => {
              this.$message({
                              type: 'success',
                              message: '转出成功!'
                            });
            });
        }).catch(() => {
          this.$message({
                          type: 'info',
                          message: '已取消操作'
                        });
        });
      }
      ,
      indexMethod(index) {
        return (this.pageNo - 1) * this.pageSize + index + 1
      },
      indexWhiteMethod(index) {
        return (this.whitePageNo - 1) * this.pageSize + index + 1
      },
      beforeTranseIn() {
        this.showOpt = 1
        this.channelName = "",

          this.querywhiteList()
      },
      goback() {
        this.showOpt = 0
        this.whiteName = ""
        this.queryList(1)
      },
      selectFile() {
        let formdata = new FormData()
        let file = event.target.files[0]
        formdata.append("file", file, file.name)
        let config = {
          headers: {'Content-Type': 'multipart/form-data'}
        }

        axios.post('blacklist/importBlackList', formdata, config)
          .then(response => {
            debugger
            if (response.data.code == "100000") {
              this.$message({
                              message: response.data.result,
                              type: 'success'
                            });
              this.queryList(1)
            } else {
              this.$message({
                              message: response.data.msg,
                              type: 'error'
                            });
              let myfile=document.getElementById('myfile')
              file.value = '';
              console.log(response.data)
            }
          })
      },
      importExcel(){
        let myfile=document.getElementById('myfile')
        myfile.click()
      }
    }
  }
</script>
<style scoped>
  .contentHead {
    margin: 10px 0 10px 0;
  }

  .file {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    text-indent: 0;
    color: #fff;
    background-color: #409EFF;
    border-color: #409EFF;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;

    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 300;
    padding: 15px 9px;
    font-size: 14px;
    border-radius: 4px;
    width: 50px;
    height: 12px;
  }

  .file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
  }

  .file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
  }
</style>
