<template>
  <div>
    <el-form label-width="150px" :model="formData" ref="formData"
             :size="$store.state.size">
      <el-row>

        <ContentHeader style="margin-bottom: 20px" :queryTitle="'基本信息'"></ContentHeader>
        <el-col :span="24">

          <el-row>
            <el-col :span="8">
              <el-form-item label="渠道商ID">
                {{formData.distCode}}
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="渠道商名称" prop="distName" :rules="[
            {required: true, message: '请输入正确的渠道商名称', trigger: 'blur'},
            {max: 50, message: '长度在 50 个字符以内', trigger: 'blur'},
            {pattern:/^[a-zA-Z\u4e00-\u9fa5]+([(][a-zA-Z\u4e00-\u9fa5]*[)])*[a-zA-Z\u4e00-\u9fa5]*$/,message:'请输入正确的渠道商名称',trigger:'blur'}
          ]"
              >
                <el-input :disabled="!isEnabled" @blur="checkLicenseNo(1)"
                          v-model="formData.distName"
                          placeholder=""></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="统一社会信用代码" prop="licenseNo" :rules=" [
            {required: true, message: '请输入正确的统一社会信用代码', trigger: 'blur'},
            {min: 18, max: 18, message: '长度为 18 个字符', trigger: 'blur'},
            {pattern:/[a-zA-Z0-9]{18}/,message: '请输入正确的统一社会信用代码', trigger: 'blur'},

          ]"
              >
                <el-input :disabled="!isEnabled" v-model="formData.licenseNo"
                          placeholder="" @blur="checkLicenseNo(0)"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="公司类型" prop="corpType"
                            :rules="[{required: true, message: '请选择公司类型', trigger: 'change'}]"

              >
                <el-select v-model="formData.corpType" :disabled="!isEnabled" placeholder="请选择">
                  <el-option label="内资企业" value="1"></el-option>
                  <el-option label="国有企业" value="2"></el-option>
                  <el-option label="集团企业" value="3"></el-option>
                  <el-option label="股份合作企业" value="4"></el-option>
                  <el-option label="联营企业" value="5"></el-option>
                  <el-option label="有限责任企业" value="6"></el-option>
                  <el-option label="股份有限企业" value="7"></el-option>
                  <el-option label="私营企业" value="8"></el-option>
                  <el-option label="其他企业" value="9"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="注册地" prop="registAddress"
                            :rules="[{required: true, message: '请选择注册地', trigger: 'change'},
                             {validator(rule, value, callback, source, options) {
  if (!value||value.length!=3) {
          callback('请选择完整的省市区');
      }
        callback();

 }}]">

                <el-cascader :disabled="!isEnabled"
                             :options="cities"
                             v-model="formData.registAddress"
                             :change-on-select="true"
                             :clearable="true"
                             :filterable="true" :enabled="true"
                             @change="handleChange">
                </el-cascader>

              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="详细地址" prop="corpAddr" :rules="[{required: true, message: '请输入正确的详细地址', trigger: 'blur'},
            {min: 3, max: 60, message: '请输入正确的详细地址', trigger: 'blur'},
            {pattern:/^(?:(?!\s).){3,60}$/, message: '请输入正确的详细地址', trigger: 'blur'}

            ]">
                <el-input :disabled="!isEnabled" v-model="formData.corpAddr"
                          placeholder=""></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="法定代表人" prop="legalMan" :rules=" [
            { required: true, message: '请输入正确的法定代表人姓名', trigger: 'blur' },
            {   min:2,max: 30, message: '请输入正确的法定代表人姓名', trigger: 'blur' },
            {pattern:/^[a-zA-Z\u4e00-\u9fa5]{2,30}$/, message: '请输入正确的法定代表人姓名', trigger: 'blur'}
          ]">
                <el-input :disabled="!isEnabled" v-model="formData.legalMan"
                          placeholder=""></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="注册资本" prop="registCapital" :rules=" [
            { required: true, message: '请输入正确的注册资本'},
            { pattern:/(^(0\.\d{0,1}[1-9])$)|(^[1-9]\d{0,7}(\.\d{0,2})?$)/,trigger: 'blur',message:'请输入正确的注册资本' }
          ]"
              >
                <el-input :disabled="!isEnabled" v-model="formData.registCapital"
                          placeholder="">
                  <template slot="append">万元</template>
                </el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="成立日期" prop="registDate" :rules="[
                                  { required: true, message: '请输入成立日期'},
                                ]">
                <el-date-picker placeholder="请输入成立日期" :disabled="!isEnabled"
                                v-model="formData.registDate"
                                type="date"
                                value-format="yyyy-MM-dd">
                </el-date-picker>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item :inline="true" label="营业期限至" prop="busTerm" :rules="[
                                  { required: true, message: '请输入正确的营业期限'},
                                ]">
                <el-date-picker placeholder="请输入营业期限" :disabled="!isEnabled"
                                v-model="formData.busTerm" v-if="!longTime"
                                type="date"
                                value-format="yyyy-MM-dd">
                </el-date-picker>
                <el-checkbox v-model="longTime" label="长期"></el-checkbox>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="经营范围" prop="busScope"
                            :rules="[{ min:1,max: 500, message: '最大长度为500字符', trigger: 'blur' }] ">
                <el-input placeholder="" :disabled="!isEnabled"
                          v-model="formData.busScope"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <!-- :rules="[ { pattern:'/^(0[0-9]{2,3}/-)?([2-9][0-9]{6,7})+(/-[0-9]{1,4})?$/', trigger: 'blur',message:'请输入正确的公司电话' }]"-->
              <el-form-item label="公司电话" prop="corpPhone"
                            :rules="[ { pattern:/(^1[34578][0-9]{9}$)|(^1[0269][0-9]{4,11}$)|(^[02-9][0-9]{5,12}$)/, trigger: 'blur',message:'请输入正确的公司电话' }]">
                <el-input placeholder="" :disabled="!isEnabled"
                          v-model="formData.corpPhone"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="公司邮箱" prop="corpMail"
                            :rules="[{type:'email', message: '请输入正确的公司邮箱'}]">
                <el-input placeholder="" :disabled="!isEnabled"
                          v-model="formData.corpMail"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="开户行名称" prop="bankDeposit" :rules="[{ required: true, message: '请输入正确的开户银行名称'},
            { min:1,max: 60, message: '请输入正确的开户银行名称', trigger: 'blur' },
             {pattern:/^(?:(?!\s).){1,60}$/, message: '请输入正确的开户银行名称', trigger: 'blur'}]">
                <el-input placeholder="" :disabled="!isEnabled"
                          v-model="formData.bankDeposit"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="银行账号" prop="bankAccount" :rules="[
            { required: true, message: '请输入正确的银行账号'},
            { min:2,max: 40, message: '请输入正确的银行账号', trigger: 'blur' },
             {pattern:/^[0-9]{2,40}$/, message: '请输入正确的银行账号', trigger: 'blur'}
          ]">

              <el-input placeholder="" :disabled="!isEnabled"
                                       v-model="formData.bankAccount"></el-input></el-form-item>
            </el-col>
          </el-row>

        </el-col>
      </el-row>


      <el-row v-for="(shareholder,index,key) in formData.shareholders" :key="key">
        <ContentHeader class="contentHead" :queryTitle="'股东信息'"></ContentHeader>
        <el-col :span="24">

          <el-row>
            <el-col :span="8">
              <el-form-item label="股东类型" :prop="'shareholders.'+index+'.type'"
                            :rules="[   { required: true, message: '请选择股东类型'}]">
                <el-select :disabled="!isEnabled" v-model="shareholder.type" placeholder="请选择">
                  <el-option value="1" label="企业"></el-option>
                  <el-option value="2" label="自然人"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="名称" :prop="'shareholders.'+index+'.name'" :rules="[
      { required: true, message: '请输入正确的名字', trigger: 'blur'},
      { min:2,max: 30, message: '请输入正确的名字', trigger: 'blur' },
{ pattern:/^[a-zA-Z\u4e00-\u9fa5]+([(][a-zA-Z\u4e00-\u9fa5]*[)])*[a-zA-Z\u4e00-\u9fa5]*$/ , message: '请输入正确的名字', trigger: 'blur' },
      ]">
                <el-input placeholder="" :disabled="!isEnabled"
                          v-model="shareholder.name"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="证件号" :prop="'shareholders.'+index+'.certNo'" :rules="[
      { required: true, message: '请输入正确的证件号码', trigger: 'blur'},
      /*{ min:2,max: 18, message: '请输入正确的证件号码', trigger: 'blur' },*/
{ pattern:/^[a-zA-Z0-9]{2,30}$/ , message: '请输入正确的证件号码', trigger: 'blur' },
      ]">
                <el-input placeholder="" :disabled="!isEnabled"
                          v-model="shareholder.certNo"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">

              <el-form-item label="持股比例" :prop="'shareholders.'+index+'.shareRatio'" :rules="[ { required: true, message: '请输入正确的持股比例', trigger: 'blur' },
      { pattern: /(^(0\.\d{0,1}[1-9])$)|(^[1-9]\d{0,1}(\.\d{0,2})?$)/, message: '请输入正确的持股比例', trigger: 'blur' }
]">
                <el-input placeholder="" :disabled="!isEnabled"
                          v-model="shareholder.shareRatio">
                  <template slot="append">%</template>
                </el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">

              <el-form-item label="认缴金额" :prop="'shareholders.'+index+'.shareAmount'"

                            :rules="[{ required: true, message: '请输入正确的金额'},
              { pattern:/(^(0\.\d{0,1}[1-9])$)|(^[1-9]\d{0,7}(\.\d{0,2})?$)/, message: '请输入正确的金额', trigger: 'blur' }

              ]">
                <el-input placeholder="" :disabled="!isEnabled"
                          v-model="shareholder.shareAmount">
                  <template slot="append">万元</template>
                </el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="认缴出资日期" :prop="'shareholders.'+index+'.subscribedDate'"
                            :rules="[{ required: true, message: '请选择认缴出资日期'}]">
                <el-date-picker
                  placeholder="请输入认缴出资日期"
                  :disabled="!isEnabled"
                  v-model="shareholder.subscribedDate"
                  value-format="yyyy-MM-dd"
                  type="date">
                </el-date-picker>
              </el-form-item>
            </el-col>
          </el-row>

        </el-col>
      </el-row>

      <el-row type="flex" justify="center" v-if="isEnabled">
        <el-col :span="3">
          <el-button @click="addShareholder" type="primary" icon="el-icon-plus">添加股东信息</el-button>
        </el-col>
        <el-col :span="3">
          <el-button v-if="this.formData.shareholders.length>1" @click="minusShareholder"
                     type="danger" icon="el-icon-minus">删除股东信息
          </el-button>
        </el-col>
      </el-row>
      <el-row v-for="(contact,index,key) in formData.contacts" :key="key">

        <ContentHeader class="contentHead" :queryTitle="'联系人信息'"></ContentHeader>

        <el-col :span="24">

          <el-row>
            <el-col :span="24">
              <el-form-item label="联系人类型" :prop="'contacts.'+index+'.type'"
                            :rules="[ { required: true, message: '请选择联系人类型'}]">
                <el-select :disabled="true" v-model="contact.type" placeholder="请选择">
                  <el-option label="业务联系人" value="1"></el-option>
                  <el-option label="财务联系人" value="2"></el-option>
                  <el-option label="法定联系人" value="3"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="姓名" :prop="'contacts.'+index+'.name'"
                            :rules=
                              "[{ required: true, message: '请输入名字', trigger: 'blur' },
                              {pattern:/^[a-zA-Z\u4e00-\u9fa5]{2,30}$/,message: '请输入正确名字', trigger: 'blur'}
                              ]">
                <el-input placeholder="" :disabled="!isEnabled"
                          v-model="contact.name"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="职位" :prop="'contacts.'+index+'.post'" :rules="[
      { required: true, message: '请输入正确的职位'},
      { min:2,max: 30, message: '请输入正确的职位', trigger: 'blur' },
      {pattern:/^[a-zA-Z\u4e00-\u9fa5]{2,30}$/,message: '请输入正确的职位', trigger: 'blur'}
      ]">
                <el-input placeholder="" :disabled="!isEnabled"
                          v-model="contact.post"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="身份证号" :prop="'contacts.'+index+'.idCardNo'" :rules="[
      { required: true, message: '请输入正确的身份证号'},
      { pattern:/(^\d{17}([0-9]|X|x)$)/, message: '请输入正确的身份证号', trigger: 'blur' }
      ]">
                <el-input placeholder="" :disabled="!isEnabled"
                          v-model="contact.idCardNo"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="固定电话" :prop="'contacts.'+index+'.landlinePhone'"
                            :rules="[{ pattern:/^\d{6,13}$/, trigger: 'blur' ,message:'请输入固定电话'}]">
                <el-input placeholder="" :disabled="!isEnabled"
                          v-model="contact.landlinePhone"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="手机号" :prop="'contacts.'+index+'.mobilePhone'" :rules="[
      { required: true, message: '手机号不能为空'},
       { pattern: /^[1]\d{10}$/, trigger: 'blur',message: '请输入正确的手机号码' }
      ]">
                <el-input placeholder="" :disabled="!isEnabled"
                          v-model="contact.mobilePhone"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="邮箱" :prop="'contacts.'+index+'.email'" :rules="[
       { type: 'email', trigger: 'blur',message: '请输入正确的邮箱'},
      ]">
                <el-input placeholder="" :disabled="!isEnabled"
                          v-model="contact.email"></el-input>
              </el-form-item>
            </el-col>
          </el-row>

        </el-col>
      </el-row>

      <el-row>
        <ContentHeader class="contentHead" :queryTitle="'经营信息'"></ContentHeader>
        <el-col :span="24">

          <el-row>
            <el-col :span="8">
              <el-form-item label="办公地址" prop="workAddressTemp"
                            :rules="[  { required: true, message: '请选择办公地址', trigger: 'change' }, {validator(rule, value, callback, source, options) {
  if (!value||value.length!=3) {
          callback('请选择完整的省市区');
      }
        callback();

 }}]">
                <el-cascader :disabled="!isEnabled"
                             :options="cities"
                             v-model="formData.workAddressTemp"
                             :change-on-select="true"
                             :clearable="true"
                             :filterable="true" :enabled="true"
                             @change="handleWork">
                </el-cascader>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="详细地址" prop="workAddress" :rules="[
            { required: true, message: '请输入正确的详细地址', trigger: 'blur' },
            {   min:3,max: 60, message: '请输入正确的详细地址', trigger: 'blur' },
            {pattern:/^(?:(?!\s).){3,60}$/, message: '请输入正确的详细地址', trigger: 'blur'}
          ]">
                <el-input placeholder="" :disabled="!isEnabled"
                          v-model="formData.workAddress"></el-input>
              </el-form-item>
            </el-col>

            <el-col :span="8">

              <el-form-item label="邮编" prop="zipCode" :rules="[ { pattern:/^[0-9]{6}$/, trigger: 'blur' ,message: '请输入正确的邮编'}]">

                <el-input placeholder="" :disabled="!isEnabled"
                          v-model="formData.zipCode"></el-input>
              </el-form-item>
            </el-col>

          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="产权" prop="propertyType"
                            :rules="[ { required: true, message: '请选择产权类型', trigger: 'change' }]"
              >
                <el-select :disabled="!isEnabled" v-model="formData.propertyType" placeholder="请选择">
                  <el-option label="自有" value="1"></el-option>
                  <el-option label="租赁" value="2"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="网址" prop="website"
                            :rules="[ { type: 'url', message: '请输入正确网址', trigger: 'blur' }]"
              >
                <el-input placeholder="请输入网址(http://www.juzifenqi.com)" :disabled="!isEnabled"
                          v-model="formData.website"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="经营面积" prop="offSpace"
                            :rules=" [
                              { required: true, message: '请输入经营面积'},

                              {  pattern:/^(([1-9]\d{1,9}(\.\d{2})?)|(0\.\d{0,1}[1-9]))$/,trigger: 'blur',message:'请输入正确的经营面积' }]"
              >
                <el-input placeholder="" :disabled="!isEnabled"
                          v-model="formData.offSpace"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="员工人数" prop="employeeNo"
                            :rules=" [{  pattern:/^[1-9]\d{1,7}$/,trigger: 'blur',message:'请输入正确的员工人数' }]"
              >
                <el-input placeholder="" :disabled="!isEnabled"
                          v-model="formData.employeeNo"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="月均销售额" prop="monthTurnover"
                            :rules=" [{  pattern:/(^(0\.\d{0,1}[1-9])$)|(^[1-9]\d{0,7}(\.\d{0,2})?$)/,trigger: 'blur',message:'请输入正确的月均销售额' }]"
              >

                <el-input placeholder="" :disabled="!isEnabled"
                          v-model="formData.monthTurnover">
                  <template slot="append">万元</template>

                </el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8"></el-col>
          </el-row>

        </el-col>
      </el-row>


      <el-row type="flex" justify="center" v-if="isEnabled">
        <el-col :span="8">
          <el-button type="primary" @click="goback">返回</el-button>
          <el-button v-if="isEnabled" type="primary" @click="initData">初始化</el-button>
          <el-button v-if="isEnabled" type="primary" @click="saveDetail()">保存</el-button>
          <el-button v-if="isEnabled" type="primary" @click="submitDetail('formData')">下一步
          </el-button>
        </el-col>
      </el-row>
    </el-form>
  </div>
</template>
<script>
  import {mapState} from 'vuex';
  /* import * as filters from './filters/filter'*/

  import ElRow from "element-ui/packages/row/src/row";
  import ElCol from "element-ui/packages/col/src/col";
  import ContentHeader from "../contentHeader.vue"
  import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
  import cityinfo from '../../../static/js/city-data.js'
  import ElForm from "../../../node_modules/element-ui/packages/form/src/form.vue";

  export default {
    props: ['isEnabled'],
    data() {

      return {
        value1: '',
        value2: '',
        longTime: null,

        cities: cityinfo,
        formData: {
          "id": "",
          distCode: "",
          "distName": "",
          "licenseNo": "",
          "corpType": "",
          "registAddress": [],
          "registProvince": "",
          "registCity": "",
          "registArea": "",
          "corpAddr": "",
          "legalMan": "",
          "registCapital": "",
          "registDate": "",
          "busTerm": "",
          "busScope": "",
          "corpPhone": "",
          "corpMail": "",
          "bankDeposit": "",
          "bankAccount": "",
          "workProvince": "",
          "workCity": "",
          "workArea": "",
          "workAddress": "",
          workAddressTemp: [],
          "zipCode": "",
          "propertyType": "",
          "website": "",
          "offSpace": "",
          "employeeNo": "",
          "monthTurnover": "",
          "status": "",
          "shareholders": [{
            "id": "",
            "name": "",
            "certNo": "",
            "shareRatio": "",
            "shareAmount": "",
            "subscribedDate": "",
            "type": ""
          }],
          "contacts": [{
            "id": "",
            "name": "",
            "post": "",
            "idCardNo": "",
            "landlinePhone": "",
            "mobilePhone": "",
            "email": "",
            "type": "1"
          },
            {
              "id": "",
              "name": "",
              "post": "",
              "idCardNo": "",
              "landlinePhone": "",
              "mobilePhone": "",
              "email": "",
              "type": "2"
            },
            {
              "id": "",
              "name": "",
              "post": "",
              "idCardNo": "",
              "landlinePhone": "",
              "mobilePhone": "",
              "email": "",
              "type": "3"
            }]
        },

      }

    },
    components: {
      ElForm,
      ElButton,
      ElCol,
      ElRow,
      ContentHeader,
      // 引入其他组件
    },
    beforeCreate: function () {
      // 组件创建前
    },
    created: function () {
      // 组件创建时执行

    },
    beforeMount: function () {
    },
    mounted: function () {

      // 组件挂载结束
      if (this.$route.params.channelId != '0') {
        this.queryDetail(this.$route.params.channelId)
        /*  this.joinRegistAddress()
          this.joinWorkAddress()*/
      }
      else {
        this.genCode()
      }

      //this.isenabled = (this.$route.params.action=='view')
    },
    beforeUpdate: function () {
      // 组件挂载结束
    },
    updated: function () {
      // 组件挂载结束
    },
    beforeDestroy: function () {
      // 组件挂载结束
    },
    destroyed: function () {
    },
    watch: {
      longTime: {
        handler: function (newVal, oldVal) {
          if (newVal) {
            this.formData.busTerm = "2099-12-31 23:59:59"
          } else {
            this.formData.busTerm = ''
          }

        }, deep: true
      }
    },
    computed: mapState(["channelId"]),
    methods: {
      // 自定义方法
      queryDetail(id) {
        this.$axios.HttpPost('distributor/detail', {"id": id})
          .then((data) => {

            this.formData = data.result
            console.log(this.formData)

            this.joinRegistAddress()
            this.joinWorkAddress()

            if (data.result.busTerm == "2099-12-31 23:59:59") {
              this.longTime = true
            }
          });
      },
      saveDetail() {

        if (this.formData.distName.length > 0 && this.formData.licenseNo.length > 0) {
          this.$axios.HttpPost('distributor/saveAndFlush', this.formData)
            .then((data) => {

              if (data.success) {
                this.$store.commit('changeChannelId', data.result)


                this.formData.id = data.result
                this.$message({
                                type: 'success',
                                message: '保存成功'
                              })
                this.$router.push("/register")
              }
              else {
                this.$message({
                                type: 'error',
                                message: data.msg
                              })
                return
              }
            });
        }
        else {

          this.$message({
                          type: 'error',
                          message: '渠道商名称和统一社会信用代码不能为空'
                        })
        }
      },
      submitDetail(formData) {
        this.$refs[formData].validate((valid) => {

          if (valid) {

            this.$axios.HttpPost('distributor/saveAndFlush', this.formData)
              .then((data) => {
                if (data.success) {
                  if(this.$route.params.channelId=='0')
                  {
                    this.$router.push({name:"channelInfo",params:{channelId:data.result}})
                  }
                  //this.$store.commit('changeChannelId', data.result)
                  this.formData.id = data.result;
                  this.$store.commit('changeStep', '1')
                }
                else {
                  this.$message({
                                  type: 'error',
                                  message: data.msg
                                })
                }
                /* alert('提交成功')*/
              });
          }
          else {
            return false
          }

        })
      },
      nextPage() {
        this.$store.commit('changeStep', '1')
      }
      ,
      minusShareholder() {
        this.formData.shareholders =
          this.formData.shareholders.slice(0, this.formData.shareholders.length - 1)
      }
      ,
      addShareholder() {
        if (this.formData.shareholders == "") {
          this.formData.shareholders = []
        }
        this.formData.shareholders.push({
                                          "id": "0",
                                          "name": "",
                                          "certNo": "",
                                          "type": "",
                                          "shareRatio": "",
                                          "shareAmount": "",
                                          "subscribedDate": ""
                                        })
      }
      ,
      addContact() {
        if (this.formData.contacts == "") {
          this.formData.contacts = []
        }
        this.formData.contacts.push({
                                      "id": "0",
                                      "name": "",
                                      "post": "",
                                      "idCardNo": "",
                                      "landlinePhone": "",
                                      "mobilePhone": "",
                                      "email": "",
                                      "type": ""
                                    })
      }
      ,
      handleWork() {
        //console.log(this.formData.workAddressTemp)

        if (this.formData.workAddressTemp && this.formData.workAddressTemp.length != 0) {
          this.formData.workProvince = this.formData.workAddressTemp[0]
          this.formData.workCity = this.formData.workAddressTemp[1]
          this.formData.workArea = this.formData.workAddressTemp[2]
        }
      }
      ,
      joinWorkAddress() {
        if (this.formData.workAddressTemp == null) {
          this.formData.workAddressTemp = []
        }
        if (this.formData.workProvince) {
          this.formData.workAddressTemp.push(
            this.formData.workProvince)
        }

        if (this.formData.workCity) {
          this.formData.workAddressTemp.push(
            this.formData.workCity)
        }
        if (this.formData.workArea) {
          this.formData.workAddressTemp.push(
            this.formData.workArea)
        }
      }
      ,
      joinRegistAddress() {
        if (this.formData.registAddress == null) {
          this.formData.registAddress = []
        }
        if (this.formData.registProvince) {
          this.formData.registAddress.push(
            this.formData.registProvince)
        }

        if (this.formData.registCity) {
          this.formData.registAddress.push(
            this.formData.registCity)
        }
        if (this.formData.registArea) {
          this.formData.registAddress.push(
            this.formData.registArea)
        }
      }
      ,
      handleChange() {
        console.log(this.formData.registAddress)
        if (this.formData.registAddress && this.formData.registAddress.length != 0) {
          this.formData.registProvince = this.formData.registAddress[0]
          this.formData.registCity = this.formData.registAddress[1]
          this.formData.registArea = this.formData.registAddress[2]
        }

      }
      ,
      goback() {
        this.$router.go(-1);
      }
      ,
      initData() {

        this.formData =
          {
            "id": this.formData.id,
            distCode: this.formData.distCode,
            "distName": "渠道商z" + Math.random(),
            "licenseNo": "t41y9pqf6" + Math.random(),
            "corpType": "2",
            "registProvince": "河北",
            "registCity": "秦皇岛市",
            "registArea": "青龙满族自治县",
            "corpAddr": "青龙满",
            "legalMan": "法定代表人",
            "registCapital": "600.00",
            "registDate": "2015-01-01",
            "busTerm": "2018-01-01",
            "busScope": "食品",
            "corpPhone": "0100000001",
            "corpMail": "q07@yahoo.com",
            "bankDeposit": "中国银行望京支行",
            "bankAccount": "6228000000000000001",
            workAddressTemp: ['河南', '许昌市', '魏都区'],
            "workProvince": "河南",
            "workCity": "许昌市",
            "workArea": "魏都区",
            "workAddress": "afadfsdaf",
            "zipCode": "400001",
            "propertyType": "1",
            "website": "http://www.tencent.com",
            "offSpace": "300",
            "employeeNo": "200",
            "monthTurnover": "80.00",
            "status": "0",
            "shareholders": [{
              "id": "0",
              "name": "腾讯",
              "certNo": "1500000001",
              "shareRatio": "80.00",
              "shareAmount": "480.00",
              "subscribedDate": "2018-01-01",
              "type": "1"
            }, {
              "id": "0",
              "name": "码云",
              "certNo": "150000000000000001",
              "shareRatio": "20.00",
              "shareAmount": "120.00",
              "subscribedDate": "2018-01-01",
              "type": "2"
            }],
            "contacts": [{
              "id": "0",
              "name": "业务",
              "post": "业务联系人",
              "idCardNo": "150000000000000001",
              "landlinePhone": "0101234523",
              "mobilePhone": "13200000001",
              "email": "07yw@qq.com",
              "type": "1"
            }, {
              "id": "0",
              "name": "财务",
              "post": "财务联系人",
              "idCardNo": "150000000000000002",
              "landlinePhone": "0101234566",
              "mobilePhone": "13200000002",
              "email": "07cw@qq.com",
              "type": "2"
            }, {
              "id": "0",
              "name": "法代",
              "post": "法定代表人",
              "idCardNo": "150400000000000003",
              "landlinePhone": "0101234567",
              "mobilePhone": "13200000003",
              "email": "07fd@qq.com",
              "type": "3"
            }]
          }
        this.formData.registAddress = []
        this.formData.registAddress.push(this.formData.registProvince)
        this.formData.registAddress.push(this.formData.registCity)
        this.formData.registAddress.push(this.formData.registArea)

      }
      ,
      genCode() {
        this.$axios.HttpPost('distributor/genCode')
          .then((data) => {
            this.formData.distCode = data.result
          })
      }
      ,
      checkLicenseNo(i) {
        let data = (i == 0 ? {licenseNo: this.formData.licenseNo}
          : {distName: this.formData.distName})
        if (i == 0 && this.formData.licenseNo && this.formData.licenseNo.length > 0) {

          this.$axios.HttpPost('distributor/checkInBlackList', data)
            .then((data) => {
              if (data.result) {
                this.$message({
                                type: 'error',
                                message: '该号码为黑名单用户号码'
                              })

                //this.formData.formData.validateField('licenseNo');
              }

            })
        }
        if (i == 1 && this.formData.distName && this.formData.distName.length > 0) {
          this.$axios.HttpPost('distributor/checkInBlackList', data)
            .then((data) => {
              if (data.result) {
                this.$message({
                                type: 'error',
                                message: '该渠道商为黑名单用户'
                              })

                //this.formData.formData.validateField('licenseNo');
              }

            })
        }

      }
      /* ,
       busTermCheck() {

                 if (this.longTime) {
                   this.formData.busTerm = ""
                 } else {
                   this.formData.busTerm = '2099-12-31 23:59:59'
                 }
                 this.longTime = (!this.longTime)

       }*/
    }

  }
</script>
<style scoped>
  .contentHead {
    margin: 30px 0 30px 0;
  }
</style>
