<template>
  <div>
    <div v-if="showOpt == 0">
      <el-row type="flex" align="middle">
        <el-col :offset="1" :span="2">渠道商名称:</el-col>
        <el-col :span="6">
          <el-input
            :size="$store.state.size"
            placeholder="渠道商名称"
            v-model="channelName"
            suffix-icon="el-icon-goods">
          </el-input>
        </el-col>
        <el-col :offset="1" :span="2">
          <el-button type="primary" @click="()=>{pageNo=1;queryList()}" :size="$store.state.size">
            查询
          </el-button>
        </el-col>
      </el-row>
      <el-row>
        <ContentHeader class="contentHead" :queryTitle="'查询列表'"></ContentHeader>
        <el-col :span="24">
          <el-table
            :data="tableData3"
            :size="$store.state.size"
            stripe
            style="width: 100%">
            <el-table-column
              type="index"
              :index="indexMethod"
              label="序号">
            </el-table-column>
            <el-table-column
              prop="distCode"
              label="渠道商ID">
            </el-table-column>
            <el-table-column
              prop="distName"
              label="渠道商名称">
            </el-table-column>
            <el-table-column
              prop="distType"
              label="渠道商类型">
              <template slot-scope="scope">
                {{scope.row.distType | channleTypeFilter}}
              </template>
            </el-table-column>
            <el-table-column
              prop="distEffAmount"
              label="授信额度">
            </el-table-column>
            <el-table-column
              prop="totalDepositAmount"
              label="保证金总额">
            </el-table-column>
            <el-table-column
              prop="distSurplusAmount"
              label="授信余额">
            </el-table-column>
            <el-table-column
              prop="depositAmount"
              label="保证金余额">
            </el-table-column>
            <el-table-column
              label="操作"
              width="180">
              <template slot-scope="scope">
                <el-button
                  size="mini"
                  type="success"
                  @click="toDtail(scope.row,scope.row.id)"
                >详情
                </el-button>
                <el-button
                  size="mini"
                  @click="changeDeposit(scope.row)"
                >变更
                </el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <el-row style="margin-top: 15px" v-if="Number(totalPages)>10" type="flex" justify="center">
        <el-pagination
          :page-size="pageSize"
          @current-change="handleCurrentChange"
          :current-page.sync="pageNo"
          layout="total, prev, pager, next, jumper"
          :total="totalPages">
        </el-pagination>
      </el-row>
    </div>
   <!-- <div v-if="showOpt == 1">


      <el-tabs class="basicTab" type="border-card" v-model="activeName">

        <el-tab-pane label="基本信息" name="1"></el-tab-pane>
        <el-tab-pane label="影像资料" name="2"></el-tab-pane>
        <el-tab-pane label="保证金变更" name="3"></el-tab-pane>

        <!--<ChannelBasic :is-enabled="false" v-if="activeName=='1'"></ChannelBasic>
        <ImageUpload :is-enabled="false" v-if="activeName=='2'"></ImageUpload>


        <ContentHeader class="contentHead" v-if="activeName=='3'"
                       :queryTitle="'保证金变更'"></ContentHeader>

        <el-form label-width="150px" :size="$store.state.size" :model="changeForm">
          <el-col :offset="6" :span="8">
            <el-form-item label="保证金总额：">
              <el-input v-model="changeForm.totalDepositAmount" disabled></el-input>
            </el-form-item>
            <el-form-item label="保证金余额：">
              <el-input v-model="changeForm.depositAmount" disabled></el-input>
            </el-form-item>
            <el-form-item label="变更类型：" prop="updateType">
              <el-radio-group v-model="changeForm.updateType">
                <el-radio label="add">追加</el-radio>
                <el-radio label="del">提现</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="变更金额：" prop="depositAmt" :rules="[
            {required: true, message: '请输入变更金额', trigger: 'blur'},
             {  pattern:/^[+]{0,1}(\d+)$|^[+]{0,1}(\d+\.\d{0,2})$/  ,message: '请输入正确变更金额', trigger: 'blur'}]">
              <el-input v-model="changeForm.depositAmt"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="updataDeposit">提交</el-button>
              <el-button type="primary" @click="goback">返回</el-button>
            </el-form-item>
          </el-col>
        </el-form>
      <!--</el-tabs>
    </div>-->
  </div>
</template>
<script>
  import ElContainer from "../../../node_modules/element-ui/packages/container/src/main.vue";
  import ElRow from "element-ui/packages/row/src/row";
  import ElInput from "../../../node_modules/element-ui/packages/input/src/input.vue";
  import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
  import ElCol from "element-ui/packages/col/src/col";
  import ContentHeader from "../contentHeader.vue"
  import ImageUpload from "../imageUpload.vue"
  import ChannelBasic from "./channelBasic"
  export default {
    data() {
      return {
        showOpt: 0,
        channelName: "",
        tableData3: [],
        totalPages: 0,
        pageNo: 1,
        pageSize: 10,
        activeName: "3",
        changeForm: {}
      }
    },
    props: {
      // 父组件传过来的值
      someValue: String
    },
    components: {
      // 引入其他组件
      ElCol,
      ElButton,
      ElInput,
      ElRow,
      ElContainer,
      ContentHeader,
      ImageUpload,
      ChannelBasic,
    },
    beforeCreate: function () {
      // 组件创建前
    },
    created: function () {
      // 组件创建时执行
    },
    beforeMount: function () {
    },
    mounted: function () {
      // 组件挂载结束
      this.queryList()
    },
    beforeUpdate: function () {
      // 组件挂载结束
    },
    updated: function () {
      // 组件挂载结束
    },
    beforeDestroy: function () {
      // 组件挂载结束
    },
    destroyed: function () {
    },
    computed: {
      // 计算属性
    },
    methods: {
      // 自定义方法
      queryList() {
        this.$axios.HttpPost(
          'deposit/list',
          {"distName": this.channelName, "page": this.pageNo, "size": this.pageSize}
        )
          .then((data) => {
            if (data.result.totalElements) {
              let temp = data.result.data

              this.tableData3 = temp
              this.totalPages = data.result.totalElements
            } else {
              this.tableData3 = []
              this.totalPages = 0
              this.$message({
                              message: '无查询信息',
                              type: 'warning'
                            });
            }
          });
      },
      handleCurrentChange(val) {
        this.pageNo = val
        this.queryList()
      },
      toDtail(data, id) {
        //console.log(data.distId)
        this.$router.push({name: 'depositInfo', params: {channelId: data.distId,depositaction:'list',action: 'view'}})
      },
      changeDeposit(data) {

        window.localStorage.setItem('distCode',data.distCode)
        window.localStorage.setItem('totalDepositAmount',data.totalDepositAmount)
        window.localStorage.setItem('depositAmount',data.depositAmount)
        this.$router.push({name: 'depositInfo', params: {channelId: data.distId,depositaction:'upd',action: 'view'}})
      },
      updataDeposit() {
        this.$axios.HttpPost(
          'deposit/update',
          {
            "distCode": this.changeForm.distCode,
            "updateAmount": this.changeForm.depositAmt,
            "updateType": this.changeForm.updateType
          }
        )
          .then((data) => {
            this.$message({
                            message: '提交成功',
                            type: 'success'
                          });
            this.queryList()
            this.showOpt = 0
          });
      },
      indexMethod(index) {
        return (this.pageNo - 1) * this.pageSize + index + 1
      },
     /* goback() {
        this.$router.go(-1)
      }*/
    }
  }
</script>
<style scoped>
  .contentHead {
    margin: 10px 0 10px 0;
  }
</style>
