<template>
  <div>
    <ContentHeader class="contentHead" :queryTitle="'合同上传'"></ContentHeader>
    <el-form  :model="form"   label-width="150px" ref="form"
             :size="$store.state.size">
      <el-col :offset="6" :span="10">
        <el-form-item label="渠道ID">
          {{this.channelID}}
        </el-form-item>
        <el-form-item label="渠道商名称">
          {{this.channelName}}
        </el-form-item>
        <el-form-item label="合同名称" prop="contactName"
                      :rules="[ { required: true, message: '合同名称不能为空', trigger: 'blur'},]">
          <el-input v-model="form.contactName"></el-input>
        </el-form-item>
        <el-form-item label="合同上传">
          <input name="file" type="file" accept="application/pdf"
                 @change="selectFile()"/>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="uploadFile('form')">提交</el-button>
          <el-button @click="goback()">取消</el-button>
        </el-form-item>
      </el-col>
    </el-form>
  </div>

</template>
<script>
  import ContentHeader from "../contentHeader.vue"
  import ElRow from "element-ui/packages/row/src/row";
  import ElForm from "../../../node_modules/element-ui/packages/form/src/form.vue";
  import axios from 'axios'
  import {Loading} from 'element-ui';

  export default {
    data() {
      return {
        channelID: this.$route.params.channelCode,
        channelName: this.$route.params.channelName,

        formData: new FormData(),
        form:{contactName:""}
      }
    },
    props: {
// 父组件传过来的值
      someValue: String
    },
    components: {
      ElForm,
      ElRow,
      ContentHeader
// 引入其他组件
    },
    beforeCreate: function () {
// 组件创建前
    },
    created: function () {
// 组件创建时执行
    },
    beforeMount: function () {
    },
    mounted: function () {
// 组件挂载结束

    },
    beforeUpdate: function () {
// 组件挂载结束
    },
    updated: function () {
// 组件挂载结束
    },
    beforeDestroy: function () {
// 组件挂载结束
    },
    destroyed: function () {
    },
    computed: {
// 计算属性
    },
    methods: {

      toAdd() {
        this.$router.push("/channelCreateGoods")
      },
      handleCurrentChange(val) {
        this.pageNo = val
        this.queryList(this.$store.state.channelId)
      },
      selectFile() {
        let file = event.target.files[0]
        debugger
        //console.log(event.target.value)
        console.log(file.name)

        if(!/^.+\.(pdf|PDF)$/.test(file.name)){
          this.$message({
                          message: "请上传pdf文件",
                          type: 'error'
                        });
          event.target.value=null
        }
        else {
          this.formData.set("filename", file, file.name)
        }
      },

      /*int distId, String name, int id*/

      uploadFile(formData) {

        this.$refs[formData].validate((valid) => {
          if (valid) {
            if(!this.formData.get("filename")){
              this.$message({
                              message: "请上传文件",
                              type: 'error'
                            });
              return
            }
            /*var f = document.getElementById("myfiles").value;*/
            this.formData.set("distId", this.$route.params.channelId)
            this.formData.set("name", this.form.contactName)

            this.formData.set("id", this.$route.params.contractId)
            let config = {
              headers: {'Content-Type': 'multipart/form-data'}
            }
            // 添加请求头
            let loadingInstance = Loading.service({
                                                    lock: true,
                                                    text: 'Loading',
                                                    spinner: 'el-icon-loading',
                                                    background: 'rgba(0, 0, 0, 0.7)'
                                                  });
            axios.post('distributor/contract/upload', this.formData, config)
              .then(response => {

                if (response.data.code == '100000') {
                  loadingInstance.close()
                  this.$message({
                                  message: '上传成功',
                                  type: 'success'
                                });
                  this.$router.push({name: "channelContract"})
                }
                else {
                  loadingInstance.close()
                  this.$message({
                                  message: response.data.msg,
                                  type: 'error'
                                });
                }

              })
          } else {
            return
          }
        })


      },
      goback() {
        this.$router.push({name: "channelContract"})
      }
    }
  }
</script>

