<template>
  <div>
    <el-row>
      <el-col :offset="1">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>渠道商管理</el-breadcrumb-item>
          <el-breadcrumb-item to="/channelContract">合同管理</el-breadcrumb-item>
          <el-breadcrumb-item v-if="showOpt=='0'">合同查询</el-breadcrumb-item>
          <el-breadcrumb-item v-if="showOpt=='1'">合同上传</el-breadcrumb-item>
          <el-breadcrumb-item v-if="showOpt=='2'">合同审批</el-breadcrumb-item>
        </el-breadcrumb>
      </el-col>
    </el-row>
    <div>
      <vueshowpdf @closepdf="closepdf" v-model="isshowpdf" isFixed="true" :pdfurl="pdfurls"
                  @pdferr="pdferr" :maxscale='4' :minscale='0.6' :scale='1.1'></vueshowpdf>
    </div>

    <!-- 合同列表 -->
    <div v-if="showOpt=='0'">
      <el-row style="margin-top: 20px" type="flex" align="middle">
        <el-col :offset="1" :span="2">渠道商名称:</el-col>
        <el-col :span="6">
          <el-tag>{{this.channelName}}</el-tag>
        </el-col>
        <el-col :span="3">已有合同/协议:</el-col>
        <el-col :span="2">
          <el-tag>{{this.totalNo}}</el-tag>
        </el-col>
      </el-row>
      <el-row>
        <ContentHeader class="contentHead" :queryTitle="'查询列表'"></ContentHeader>
        <el-col :span="24">
          <el-table
            :data="tableData3"
            stripe
            :size="$store.state.size"
            style="width: 100%">
            <el-table-column
              type="index" :index="indexMethod"

              label="序号">
            </el-table-column>
            <el-table-column
              prop="contractName"
              label="合同/附件名称">
            </el-table-column>
            <el-table-column
              prop="contractDate"
              label="上传时间">
            </el-table-column>
            <el-table-column
              prop="contractStatus"
              label="合同/协议状态"
            >
              <template slot-scope="scope">
                {{scope.row.contractStatus | contractStatusFilter}}
              </template>
            </el-table-column>
            <el-table-column
              label="操作"
              width="300">
              <template slot-scope="scope">
                <el-button
                  size="mini"
                  type="success" @click="preView(scope.row.contractFilePath)"
                >在线查看
                </el-button>
                <el-button
                  v-if="scope.row.contractStatus=='2'"
                  size="mini"
                  type="primary"
                  @click="down(scope.row.contractFilePath)"
                >下载
                </el-button>
                <el-button
                  v-if="scope.row.contractStatus=='1'"
                  size="mini"
                  type="primary"
                  @click="toUpload(scope.row.contractId)"
                >上传
                </el-button>

                <el-button
                  v-if="scope.row.contractStatus=='0'"
                  @click="checkContract(scope.row.contractId,scope.row.contractFilePath)"
                  size="mini"
                  type="primary"
                >审核
                </el-button>
                <el-popover
                  ref="popover1"
                  placement="top-start"
                  title=""
                  width="200"
                  trigger="hover"
                  :content='scope.row.explain'>
                </el-popover>
                <el-button v-if="scope.row.contractStatus!='0'" size="mini" v-popover:popover1>备注
                </el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-col>

      </el-row>
      <!--<el-row type="flex" justify="center">
        <el-col :span="24">

          1111
                  </el-col>
      </el-row>-->
      <el-row style="margin-top: 15px" type="flex" justify="center">
        <el-pagination
          :page-size="10"
          @current-change="handleChange"
          layout="total, prev, pager, next, jumper"
          :total="totalPages">
        </el-pagination>
      </el-row>
    </div>
    <!-- 合同上传 -->
    <div v-if="showOpt=='1'">
      <ContentHeader class="contentHead" :queryTitle="'合同上传'"></ContentHeader>
      <el-col :span="24">
        <el-form enctype="multipart/form-data" method="post" label-width="150px"
                 :size="$store.state.size">
          <el-col :offset="6" :span="10">
            <el-form-item label="渠道ID">
              {{this.channelID}}
            </el-form-item>
            <el-form-item label="渠道商名称">
              {{this.channelName}}
            </el-form-item>
            <el-form-item label="合同名称">
              <el-input v-model="contactName"></el-input>
            </el-form-item>
            <el-form-item label="合同上传">
              <input name="file" type="file" accept="image/png,image/gif,image/jpeg"
                     @change="selectFile"/>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="uploadFile">提交</el-button>
              <el-button @click="showOpt='0'">取消</el-button>
            </el-form-item>
          </el-col>
        </el-form>
      </el-col>
    </div>
    <!-- 合同审核 -->
    <div v-if="showOpt=='2'">
      <el-row type="flex" justify="center">
        <el-col :span="22">
        </el-col>
      </el-row>
      <el-row>
        <ContentHeader class="contentHead" :queryTitle="'合同审批'"></ContentHeader>
        <el-col :span="24">
          <el-form label-width="150px" :size="$store.state.size">
            <el-col :offset="6" :span="10">
              <el-form-item label="合同预览">
                <el-button @click="preView('',1)">预览</el-button>
              </el-form-item>

              <el-form-item label="审批结果">
                <el-radio-group v-model="num">
                  <el-radio label="2">
                    通过
                  </el-radio>
                  <el-radio label="1">
                    不通过
                  </el-radio>
                </el-radio-group>
              </el-form-item>
              <el-form-item label="审批意见">
                <el-input v-model="explain" type="textarea"></el-input>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="chackContact">提交</el-button>
                <el-button @click="showOpt='0'">取消</el-button>
              </el-form-item>
            </el-col>
          </el-form>
        </el-col>
      </el-row>
    </div>
  </div>
</template>
<script>
  import ElContainer from "../../../node_modules/element-ui/packages/container/src/main.vue";
  import ElRow from "element-ui/packages/row/src/row";
  import ElInput from "../../../node_modules/element-ui/packages/input/src/input.vue";
  import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
  import ElCol from "element-ui/packages/col/src/col";
  import ContentHeader from "../contentHeader.vue"
  import ElFormItem from "../../../node_modules/element-ui/packages/form/src/form-item.vue";
  import ElRadioGroup from "../../../node_modules/element-ui/packages/radio/src/radio-group.vue";
  import ElRadio from "../../../node_modules/element-ui/packages/radio/src/radio.vue";
  import axios from 'axios'
  import publicUrl from "../../../static/js/publicUrl"
  import vueshowpdf from "vueshowpdf"
  import {Message, Loading} from "element-ui"

  export default {
    data() {
      return {
        num: "",
        showOpt: '0',//显示状态 0显示合同列表 1显示合同上传 2合同审核
        channelName: "",
        channelId: "",
        tableData3: [],
        totalPages: 0,
        pageNo: 1,
        pageSize: 10,
        propValue: {},
        totalNo: '',
        contactId: '',
        contactName: '',
        explain: '',
        uploadParam: {},
        pdfurls: "",
        isshowpdf: false,
        loading: Object,
        contractViewPath: ''
      }
    },
    props: {
      // 父组件传过来的值
      someValue: String
    },
    components: {
      // 引入其他组件
      ElRadio,
      ElRadioGroup,
      ElFormItem,
      ElCol,
      ElButton,
      ElInput,
      ElRow,
      ElContainer,
      ContentHeader,
      vueshowpdf
    },
    beforeCreate: function () {
      // 组件创建前
    },
    created: function () {
      // 组件创建时执行
    },
    beforeMount: function () {
    },
    mounted: function () {
      // 组件挂载结束
      //this.propValue = this.$route.params
      this.channelName = this.$route.query.distName
      this.totalNo = this.$route.query.totalNo
      this.channelId = this.$route.query.distId
      this.channelID = this.$route.query.distCode
      this.queryList()
    },
    beforeUpdate: function () {
      // 组件挂载结束
    },
    updated: function () {
      // 组件挂载结束
    },
    beforeDestroy: function () {
      // 组件挂载结束
    },
    destroyed: function () {
    },
    computed: {
      // 计算属性
    },
    methods: {
      // 自定义方法
      queryList() {
        this.$axios.HttpPost(
          'distributor/contract/listbydist',
          {
            "distId": this.channelId,
            "pageNo": this.pageNo,
            "pageSize": this.pageSize
          }
        )
          .then((data) => {
            if (data.result.totalElements) {
              let temp = data.result.data
              this.tableData3 = temp
              this.totalPages = data.result.totalElements
            } else {
              this.tableData3 = []
              this.totalPages = 0
              this.$message({
                              message: '无查询信息',
                              type: 'warning'
                            });
            }
          });
      },
      handleCurrentChange(val) {
        this.pageNo = val
        this.queryList()
      },
      selectFile(e) {  // 上传照片
        var self = this
        let file = e.target.files[0]
        /* eslint-disable no-undef */
        let param = new FormData() // 创建form对象
        param.append('filename', file, file.name) // 通过append向form对象添加数据
        // param.append('filename', file.name) // FormData私有类对象，访问不到，可以通过get判断值是否传进去
        param.append('distId', this.contactId) //
        param.append('name', this.contactName) //
        param.append('id', '0') //

        this.uploadParam = param
      },
      uploadFile() {
        console.log(this.uploadParam.get('file'))
        console.log(this.uploadParam.get('filename'))
        console.log(this.uploadParam.get('distId'))
        console.log(this.uploadParam.get('name'))
        let config = {
          headers: {'Content-Type': 'multipart/form-data'}
        }
        // 添加请求头
        axios.post('distributor/contract/upload', this.uploadParam, config)
          .then(response => {
            this.$message({
                            message: '上传成功',
                            type: 'success'
                          });
            /*if (response.data.code === 0) {
              self.ImgUrl = response.data.data
            }*/
            this.showOpt = '0'
            console.log(response.data)
          })
      },
      chackContact() {
        this.$axios.HttpPost(
          'distributor/contract/modify',
          {
            "id": this.contractId,
            "explain": this.explain,
            "status": this.num
          }
        )
          .then((data) => {
            this.$message({
                            message: '审核成功',
                            type: 'success'
                          });
            this.showOpt = '0'
            this.contractId = ''
            this.explain = ''
            location.reload()
          });
      },
      checkContract(contractId, contractFilePath) {
       /* this.isshowpdf = true*/
        this.showOpt = '2'
        this.contractId = contractId
        this.contractViewPath = contractFilePath
        console.log(this.contractViewPath)
      }
      ,
      indexMethod(index) {
        return (this.pageNo - 1) * this.pageSize + index + 1
      },
      toUpload(contractId) {

        this.$router.push({
                            name: "channelContractUpload",
                            params: {
                              channelId: this.channelId,
                              channelName: this.channelName,
                              channelCode: this.channelID,
                              contractId: contractId
                            }
                          })

      },
      handleChange(val) {
        this.pageNo = val
        this.queryList()
      },
      down(fileName) {

        window.open(publicUrl + "distributor/contract/down" + '?file=' + fileName);

      },




      preView(fileName,i) {
        if(i==1)fileName=this.contractViewPath
        console.log(fileName)
        this.loading =
          Loading.service({
                            fullscrenn: true,
                            target: document.getElementById("main"),
                            background: 'rgba(0, 0, 0, 0.7)',
                            text: '正在渲染PDF...'
                          })
        this.$axios.HttpPost(
          'distributor/contract/preview',
          {file: fileName}).then(data => {

          this.pdfurls = data.result

          this.isshowpdf = true
        })
      },
      closepdf() {
        this.isshowpdf = false
        this.loading.close()
      },
      pdferr(errurl) {
        console.log(errurl);
      }
    }
  }
</script>
<style scoped>
  .contentHead {
    margin: 20px 0 10px 0;
  }
</style>
