<template>
  <div>
    <el-row>
      <el-col :offset="1">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>渠道商管理</el-breadcrumb-item>
          <el-breadcrumb-item to="/channelDeposit">保证金管理</el-breadcrumb-item>
          <el-breadcrumb-item>保证金详情</el-breadcrumb-item>
        </el-breadcrumb>
      </el-col>
    </el-row>
    <el-row style="margin-top: 30px" type="flex" justify="center">
      <el-col :span="22">
        <el-tabs class="basicTab" type="border-card" v-model="activeName" @tab-click="tabClick">
          <el-tab-pane label="产品保证金" name="1" v-if="depositaction=='list'"></el-tab-pane>
          <el-tab-pane label="基本信息" name="2"></el-tab-pane>
          <el-tab-pane label="影像资料" name="3"></el-tab-pane>
          <el-tab-pane label="保证金流水" name="4" v-if="depositaction=='list'"></el-tab-pane>
          <el-tab-pane label="保证金变更" name="5" v-if="depositaction=='upd'"></el-tab-pane>
          <ChannelBasic :is-enabled="false" v-if="activeName=='2'"></ChannelBasic>
          <ImageUpload :is-enabled="false" v-if="activeName=='3'"></ImageUpload>
          <div v-if="activeName=='1'">
            <el-row>
              <ContentHeader class="contentHead" :queryTitle="'保证金信息'"></ContentHeader>
              <el-form :model="form2" label-width="100px" :size="$store.state.size">
                <el-col :span="8">
                  <el-form-item label="渠道商ID:">
                    <el-input v-model="form2.distCode" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="产品数量:">
                    <el-input v-model="form2.productNo" disabled></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="8">
                  <el-form-item label="渠道商名称:">
                    <el-input v-model="form2.distName" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="有效额度:">
                    <el-input v-model="form2.effAmount" disabled></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="8">
                  <el-form-item label="最近尽调时间:">
                    <el-input v-model="form2.investData" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="剩余有效额度:">
                    <el-input v-model="form2.surplusAmount" disabled></el-input>
                  </el-form-item>
                </el-col>
              </el-form>
            </el-row>
            <el-row>
              <ContentHeader class="contentHead" :queryTitle="'保证金列表'"></ContentHeader>
              <el-col :span="24">
                <el-table
                  :data="tableData3"
                  :size="$store.state.size"
                  stripe
                  style="width: 100%">
                  <el-table-column
                    type="index"
                    label="序号">
                  </el-table-column>
                  <el-table-column
                    prop="productName"
                    label="产品名称">
                  </el-table-column>
                  <el-table-column
                    prop="auditStatus"
                    label="授信状态">
                    <template slot-scope="scope">
                      {{scope.row.auditStatus | auditFilter}}
                    </template>
                  </el-table-column>
                  <el-table-column width="150%"
                                   prop="auditTime"
                                   label="授信时间">
                  </el-table-column>
                  <el-table-column
                    prop="effAmount"
                    label="有效额度">
                  </el-table-column>
                  <el-table-column
                    prop="surplusAmount"
                    label="剩余有效额度">
                  </el-table-column>
                  <el-table-column
                    prop="loopType"
                    label="是否循环">
                    <template slot-scope="scope">
                      {{ scope.row.loopType | boolFilter}}
                    </template>
                  </el-table-column>


                  <el-table-column
                    prop="salesStatus"
                    label="产品状态">
                    <template slot-scope="scope">
                      {{ scope.row.salesStatus | productFilter}}
                    </template>
                  </el-table-column>
                  <el-table-column
                    width="300%"
                    label="有效期">
                    <template slot-scope="scope">
                      {{scope.row.startDate}}至{{scope.row.endDate}}
                    </template>
                  </el-table-column>
                  <el-table-column

                    label="保证金占用情况">
                    <template slot-scope="scope">
                      {{ getDepositAmount(scope.row.product.depositPct, scope.row.effAmount) }}
                    </template>
                  </el-table-column>
                </el-table>
              </el-col>
            </el-row>
            <el-row style="margin-top: 15px" v-if="Number(totalPages)>10" type="flex"
                    justify="center">
              <el-pagination
                :page-size="pageSize"
                :current-page.sync="pageNo"
                @current-change="handleCurrentChange"
                layout="total, prev, pager, next, jumper"
                :total="totalPages">
              </el-pagination>
            </el-row>
          </div>
          <div v-if="activeName=='4'">
            <el-row>
              <ContentHeader style="margin-bottom: 20px;" class="contentHead"
                             :queryTitle="'保证金流水'"></ContentHeader>
              <el-col :span="24">
                <el-table
                  :data="tableData"
                  :size="$store.state.size"
                  stripe
                  style="width: 100%">
                  <el-table-column
                    type="index" :index="indexMethod"
                    label="序号">
                  </el-table-column>
                  <el-table-column
                    prop="currentUpdateAmount"
                    label="变更金额">
                  </el-table-column>
                  <el-table-column
                    prop="updateType"
                    label="变更类型">
                    <template slot-scope="scope">
                      {{ scope.row.updateType | updateTypeFilter}}
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="updateTime"
                    label="变更时间">
                  </el-table-column>
                  <el-table-column
                    prop="depositAmount"
                    label="保证金余额">
                  </el-table-column>
                </el-table>
              </el-col>
            </el-row>
            <el-row style="margin-top: 15px" v-if="Number(totalPages)>10" type="flex"
                    justify="center">
              <el-pagination
                :page-size="pageSize"
                :current-page.sync="pageNo"
                @current-change="handleCurrentChange1"
                layout="total, prev, pager, next, jumper"
                :total="totalPages1">
              </el-pagination>
            </el-row>

          </div>
          <div v-if="activeName=='5'">
            <el-row>
              <ContentHeader class="contentHead"
                             :queryTitle="'保证金变更'"></ContentHeader>

              <el-form label-width="150px" :size="$store.state.size" ref="changeForm"
                       :model="changeForm">
                <el-col :offset="6" :span="8">
                  <el-form-item label="保证金总额：">
                    <el-input v-model="changeForm.totalDepositAmount" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="保证金余额：">
                    <el-input v-model="changeForm.depositAmount" disabled></el-input>
                  </el-form-item>
                  <el-form-item label="变更类型：" prop="updateType" :rules="[
                    {required: true, message: '请选择变更类型', trigger: 'change'},
                   ]">
                    <el-radio-group v-model="changeForm.updateType">
                      <el-radio label="add">追加</el-radio>
                      <el-radio label="del">提现</el-radio>
                    </el-radio-group>
                  </el-form-item>
                  <el-form-item label="变更金额：" prop="depositAmt" :rules="[
            {required: true, message: '请输入变更金额', trigger: 'blur'},
             {  pattern:/^[+]{0,1}(\d+)$|^[+]{0,1}(\d+\.\d{0,2})$/  ,message: '请输入正确变更金额', trigger: 'blur'}]">
                    <el-input v-model="changeForm.depositAmt"></el-input>
                  </el-form-item>
                  <el-form-item>
                    <el-button type="primary" @click="updataDeposit('changeForm')">提交</el-button>
                    <el-button type="primary" @click="goback">返回</el-button>
                  </el-form-item>
                </el-col>
              </el-form>
            </el-row>
          </div>
        </el-tabs>
      </el-col>
    </el-row>

  </div>
</template>
<script>
  import ChannelBasic from './channelBasic.vue'
  import ImageUpload from '../imageUpload.vue'
  import VerbInfoBase from './verbInfoBase.vue'
  import ContentHeader from '../contentHeader.vue'
  import ElForm from "../../../node_modules/element-ui/packages/form/src/form.vue";
  import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
  import ElRow from "element-ui/packages/row/src/row";

  export default {
    data() {
      return {
        num: 1,
        /*activeName: '1',*/
        tableData3: [],
        tableData: [],
        totalPages: 0,
        pageNo: 1,
        pageSize: 10,
        totalPages1: 0,
        pageNo1: 1,
        form2: {},
        distCode: '',
        depositaction: this.$route.params.depositaction,
        activeName: this.$route.params.depositaction == 'upd' ? '5' : '1',
        changeForm: {distCode: 1, totalDepositAmount: 1, depositAmount: 1}
      }
    },
    props: {
      // 父组件传过来的值
      someValue: String
    },
    components: {
      // 引入其他组件
      ElRow,
      ElButton,
      ElForm,
      ChannelBasic,
      ImageUpload,
      VerbInfoBase,
      ContentHeader
    },
    filters: {
      updateTypeFilter(value) {
        if (value == 'add') {
          return "追加"
        }
        if (value == "del") {
          return "体现"
        }
        return ""
      }
    },
    beforeCreate: function () {
      // 组件创建前
    },
    created: function () {
      this.$store.commit('changeStep', '0')
      // 组件创建时执行

      this.changeForm.distCode = window.localStorage.getItem('distCode')
      this.changeForm.totalDepositAmount = window.localStorage.getItem('totalDepositAmount')
      this.changeForm.depositAmount = window.localStorage.getItem('depositAmount')
    },
    beforeMount: function () {
    },
    mounted: function () {
      // 组件挂载结束
      this.queryList()
    },
    beforeUpdate: function () {
      // 组件挂载结束
    },
    updated: function () {
      // 组件挂载结束
    },
    beforeDestroy: function () {
      // 组件挂载结束
    },
    destroyed: function () {
    },
    computed: {
      // 计算属性
    },
    methods: {
      // 自定义方法
      queryList() {
        this.$axios.HttpPost(
          //'distributor/sales/listbydist',
          'deposit/productList',

          {"distId": this.$route.params.channelId, "page": this.pageNo, "size": this.pageSize}
        )
          .then((data) => {
            if (data.result.totalElements) {
              let temp = data.result.content

              this.tableData3 = temp
              //alert(JSON.stringify(temp))
              this.totalPages = data.result.totalElements
            } else {
              this.$message({
                              message: '无查询信息',
                              type: 'warning'
                            });
            }
            this.depositGet()
          });
      },
      handleCurrentChange(val) {
        this.pageNo = val
        this.queryList()
      },
      handleCurrentChange1(val) {
        this.pageNo1 = val
        this.depositJournal()
      },
      tabClick(tab, event) {
        if (tab.name == "4") {
          this.depositJournal()
        }
      },
      depositGet() {
        //deposit/get
        this.$axios.HttpPost(
          'distributor/sales/productByDistId',
          {"distId": this.$route.params.channelId}
        )
          .then((data) => {
            this.form2 = data.result
            this.distCode = data.result.distCode
          });
      },
      depositJournal() {
        this.$axios.HttpPost(
          'deposit/depositJournal',
          {"distCode": this.distCode, "page": this.pageNo1, "size": this.pageSize}
        )
          .then((data) => {
            if (data.result.totalElements) {
              this.tableData = data.result.content
              this.totalPages1 = data.result.totalElements

            } else {
              this.$message({
                              message: '无查询信息',
                              type: 'warning'
                            });
            }

          });
      },
      getDepositAmount(pct, amt) {
        if (null != pct && null != amt) {
          return amt * (pct / 100);
        }
        return "";
      },
      indexMethod(index) {
        return (this.pageNo - 1) * this.pageSize + index + 1
      },

      updataDeposit(formData) {
        this.$refs[formData].validate((valid) => {

          if (valid) {
            this.$axios.HttpPost(
              'deposit/update',
              {
                "distCode": this.changeForm.distCode,
                "updateAmount": this.changeForm.depositAmt,
                "updateType": this.changeForm.updateType
              }
            )
              .then((data) => {
                this.$message({
                                message: '提交成功',
                                type: 'success'
                              });
               this.$router.push({name:"channelDeposit"})
              });
          }
        })
      },
      goback() {
        this.$router.go(-1)
      }
    }
  }
</script>
<style scoped>
  .contentHead {
    margin: 10px 0 10px 0;
  }
</style>
