<template>
  <div>
    <div v-if="showOpt=='0'">
      <el-row>
        <ContentHeader class="contentHead" :queryTitle="'授信信息'"></ContentHeader>

        <el-form label-width="150px" :size="$store.state.size">
          <el-col :span="8">
            <el-form-item label="渠道商ID:">
              <el-input v-model="form2.distCode" disabled></el-input>
            </el-form-item>
            <el-form-item label="产品数量:">
              <el-input v-model="form2.productNo" disabled></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="渠道商名称:">
              <el-input v-model="form2.distName" disabled></el-input>
            </el-form-item>
            <el-form-item label="有效额度:">
              <el-input v-model="form2.effAmount" disabled></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="最近尽调时间:">
              <el-input v-model="form2.investData" disabled></el-input>
            </el-form-item>
            <el-form-item label="剩余有效额度:">
              <el-input v-model="form2.surplusAmount" disabled></el-input>
            </el-form-item>
          </el-col>
        </el-form>
      </el-row>
      <el-row>
        <ContentHeader class="contentHead" :queryTitle="'产品列表'"></ContentHeader>
        <el-col :span="24">
          <el-table
            :data="formdata"
            stripe

            :size="$store.state.size"
            style="width: 100%">
            <el-table-column
              type="index"
              label="序号">
            </el-table-column>


            <el-table-column
              prop="productName"
              label="产品名称">
            </el-table-column>
            <el-table-column
              prop="auditStatus"
              label="额度状态">
              <template slot-scope="scope">
                {{ scope.row.auditStatus|auditFilter}}
              </template>

            </el-table-column>
            <el-table-column
              prop="auditTime"
              label="授信时间">
            </el-table-column>
            <el-table-column
              prop="effAmount"
              label="有效额度">
            </el-table-column>
            <el-table-column
              prop="surplusAmount"
              label="剩余有效额度">
            </el-table-column>
            <el-table-column
              prop="loop"
              label="是否循环">
              <template slot-scope="scope">
                {{ scope.row.loop | boolFilter}}
              </template>
            </el-table-column>


            <el-table-column
              prop="salesStatus"
              label="产品状态">
              <template slot-scope="scope">
                {{ scope.row.salesStatus | productFilter}}
              </template>

            </el-table-column>

            <el-table-column
              prop="dateRange" min-width="150%"
              label="有效期">
            </el-table-column>
            <el-table-column min-width="240%"
                             label="操作">
              <template slot-scope="scope">
                <!--=======================产品状态按钮开始=======================-->

                <el-button
                  v-if="scope.row.auditStatus=='0'"
                  size="mini"
                  type="primary"
                  @click="adapt(scope.row.id,'credit')">授信
                </el-button>

                <el-button
                  v-if="(scope.row.auditStatus=='2')"
                  size="mini"
                  type="primary"
                  @click="adapt(scope.row.id,'adapt')">调整
                </el-button>

                <el-button
                  v-if="scope.row.auditStatus=='2'"
                  size="mini"
                  type="primary"
                  @click="freeze('5',scope.row.id,'冻结')">冻结
                </el-button>

                <el-button
                  v-if="scope.row.auditStatus=='2'&&scope.row.salesStatus=='0'"
                  size="mini"
                  type="success"
                  @click="lock('1',scope.row.id,'激活')">激活
                </el-button>


                <el-button
                  v-if="(scope.row.auditStatus=='2'&&scope.row.salesStatus=='1')"
                  size="mini"
                  type="primary"
                  @click="lock('0',scope.row.id,'锁定')">锁定
                </el-button>

                <el-button
                  v-if="(scope.row.auditStatus=='5')"
                  size="mini"
                  type="primary"
                  @click="freeze('2',scope.row.id,'解冻')">解冻
                </el-button>

              </template>
            </el-table-column>
            <!--<el-table-column
              label="查看详情">
              <template slot-scope="scope">
                  <el-button
                    size="mini"
                    @click="showOpt='3'">详情</el-button>
              </template>
            </el-table-column>-->
          </el-table>
        </el-col>
      </el-row>
      <el-row style="margin-top: 15px" v-if="Number(totalPages)>10" type="flex" justify="center">
        <el-pagination
          @current-change="handleCurrentChange"
          :page-size="pageSize"
          :current-page.sync="pageNo"
          layout="total, prev, pager, next, jumper"
          :total="totalPages">
        </el-pagination>
      </el-row>
    </div>
    <el-row v-if="showOpt=='2'">
      <ContentHeader style="margin-bottom: 20px" class="contentHead"
                     :queryTitle="'授信信息'"></ContentHeader>
      <el-form label-width="150px" :model="form2" :size="$store.state.size">
        <el-col :span="8">
          <el-form-item label="商户ID">
            <el-input v-model="form2.distCode" disabled></el-input>
          </el-form-item>
          <el-form-item label="商户名称">
            <el-input v-model="form2.distName" disabled></el-input>
          </el-form-item>
          <el-form-item label="产品名称">
            <el-input disabled v-model="form2.productName"></el-input>
          </el-form-item>
          <el-form-item label="有效总额度">
            <el-input v-model="form2.effAmount">
              <template slot="append">万元</template>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="是否循环">
            <el-radio-group v-model="form2.loop">
              <el-radio label="1">单次</el-radio>
              <el-radio label="2">循环</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="开始日期" prop="startDate">
            <el-date-picker
              v-model="form2.startDate"
              type="date"
              format="yyyy 年 MM 月 dd 日"
              value-format="yyyy-MM-dd"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束日期" prop="endDate">
            <el-date-picker
              v-model="form2.endDate"
              format="yyyy 年 MM 月 dd 日"
              value-format="yyyy-MM-dd"
              type="date"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item>
            <el-button @click="showOpt='0'">
              取消
            </el-button>
            <el-button
              @click="setVerb"
              type="primary">
              提交
            </el-button>
          </el-form-item>
        </el-col>
      </el-form>
    </el-row>
    <div v-if="showOpt=='3'">
      <el-row>
        <ContentHeader style="margin-bottom: 20px" class="contentHead"
                       :queryTitle="'授信信息'"></ContentHeader>
        <el-form label-width="150px" :size="$store.state.size">
          <el-col :span="6">
            <el-form-item label="商户名称:">
              122131
            </el-form-item>
            <el-form-item label="授信状态:">
              10
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="产品名称:">
              桔子分期
            </el-form-item>
            <el-form-item label="有效额度:">
              25,000,000,00
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="最近尽调时间:">
              2017-01-01
            </el-form-item>
            <el-form-item label="剩余有效额度:">
              25,000,000,00
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="首次授信时间:">
              2017-01-01
            </el-form-item>
            <el-form-item label="">
              <el-button type="primary" @click="showOpt='0'">返回</el-button>
            </el-form-item>
          </el-col>
        </el-form>
      </el-row>
      <el-row>
        <ContentHeader class="contentHead" :queryTitle="'月额度授信列表'"></ContentHeader>
        <el-col :span="24">
          <el-table
            :data="tableData3"
            stripe
            :size="$store.state.size"
            style="width: 100%">
            <el-table-column
              type="index"  :index="indexMethod"
              label="序号">
            </el-table-column>
            <el-table-column
              prop="name"
              label="自然月">
            </el-table-column>
            <el-table-column
              prop="address"
              label="授信时间">
            </el-table-column>
            <el-table-column
              prop="address"
              label="首次授信额度">
            </el-table-column>
            <el-table-column
              prop="address"
              label="有效额度">
            </el-table-column>
            <el-table-column
              prop="address"
              label="有效额度">
            </el-table-column>
            <el-table-column
              prop="address"
              label="剩余额度">
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <el-row style="margin-top: 15px" v-if="Number(totalPages)>10" type="flex" justify="center">
        <el-pagination
          :page-size="10"
          layout="total, prev, pager, next, jumper"
          :total="10">
        </el-pagination>
      </el-row>
    </div>
  </div>
</template>
<script>
  import ContentHeader from '../contentHeader.vue'
  import ElCol from "element-ui/packages/col/src/col";
  import ElForm from "../../../node_modules/element-ui/packages/form/src/form.vue";
  import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
  import ElRow from "element-ui/packages/row/src/row";

  export default {
    data() {
      return {
        num: 1,
        showOpt: "0",//点击不同按钮显示内容 0不显示 1显示授信详情，2显示授信调整 3显示详情
        tableData3: [],
        formdata:[],
        totalPages: 0,
        pageNo: 1,
        pageSize: 10,
        form2: {}
      }
    },
    props: {
      // 父组件传过来的值
      someValue: String
    },
    filters: {
      filtertest: function (value) {
        if (value == 1) {
          return "已处理"
        } else {
          return "待处理"
        }
      }
    },

    components: {
      // 引入其他组件
      ElRow,
      ElButton,
      ElForm,
      ElCol,
      ContentHeader,
    },
    beforeCreate: function () {
      // 组件创建前
    },
    created: function () {
      // 组件创建时执行
    },
    beforeMount: function () {
    },
    mounted: function () {
      // 组件挂载结束
      this.query()
    },
    beforeUpdate: function () {
      // 组件挂载结束
    },
    updated: function () {
      // 组件挂载结束
    },
    beforeDestroy: function () {
      // 组件挂载结束
    },
    destroyed: function () {
    },
    computed: {
      // 计算属性
    },
    methods: {
      // 自定义方法
      query() {

         this.$axios.HttpPost(
          'distributor/sales/listbydist',
          {"distId": this.$route.params.channelId, "pageNo": this.pageNo, "pageSize": this.pageSize}
        )
          .then((data) => {
            if (data.result.totalElements) {


              this.formdata = data.result.data
              this.totalPages = data.result.totalElements
            } else {
              this.$message({
                              message: '无查询信息',
                              type: 'warning'
                            });
            }
            this.getVerb()
          });
      },
      handleCurrentChange(val) {
        this.pageNo = val
        this.query()
      },
      getVerb() {
        this.$axios.HttpPost(
          'distributor/sales/productByDistId',
          {"distId": this.$route.params.channelId}
        )
          .then((data) => {
            this.form2 = data.result

          });
      },
      changeProduct(data) {
        this.form2.productName = data
        this.showOpt = '2'
      },
      setVerb() {
        this.$axios.HttpPost(
          'distributor/sales/modify',
          {
            'id': this.form2.distId,
            'effAmount': this.form2.effAmount,
            'endDate': this.form2.endDate,
            'startDate': this.form2.startDate,
            'type': "modify",
            'loop': this.form2.loop,
          }
        )
          .then((data) => {
            this.$message({
                            type: 'success',
                            message: '调整成功!'
                          });
          });
      },
      lock(productStatus,id,msg){
        this.$confirm("是否" + msg, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$axios.HttpPost(
            'distributor/sales/lock',
            {
              'id': parseInt(id),
              'productStatus':productStatus,
            }
          )
            .then((data) => {
             // this.queryList()
              //alert(JSON.stringify(data))
              this.$message({
                              type: 'success',
                              message: '操作成功!'
                            });
              this.query()
            });

        })
      },
      freeze(auditStatus,id,msg){
        this.$confirm("是否" + msg, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$axios.HttpPost(
            'distributor/sales/freeze',
            {
              'id': parseInt(id),
              'auditStatus':auditStatus,
            }
          )
            .then((data) => {
              this.query()
              //alert(JSON.stringify(data))
              this.$message({
                              type: 'success',
                              message: '操作成功!'
                            });
            });

        })
      },
      audit(id) {
        /*this.$router.push({
                           name: "verbInfo", params: {
            channelId: this.$route.params.channelId,
            channelName: this.form2.distName,
            channelCode: this.form2.distCode,
            productName: this.form2.productName,
            productId: id
          }
        })*/
      },
      adapt(id,operate){
        this.$router.push({name:"verbInfoAdapt",params:{id:id,channelId:this.$route.params.channelId,operate:operate}})

      },
      indexMethod(index){
        return (this.pageNo-1)*this.pageSize+index+1
      }
    }
  }
</script>
<style scoped>
  .contentHead {
    margin: 10px 0 10px 0;
  }
</style>
