<template>
  <div>
    <el-row>
      <el-col :offset="1">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>渠道商管理</el-breadcrumb-item>
          <el-breadcrumb-item to="/channelVerb">渠道商授信</el-breadcrumb-item>
          <el-breadcrumb-item>渠道商授信调整</el-breadcrumb-item>
        </el-breadcrumb>
      </el-col>
    </el-row>
    <el-row style="margin-top: 30px" type="flex" justify="center">
      <el-col :span="22">
        <el-tabs class="basicTab" type="border-card" v-model="activeName">
          <el-tab-pane label="授信调整" name="1"></el-tab-pane>
          <el-tab-pane label="基本信息" name="2"></el-tab-pane>
          <el-tab-pane label="影像资料" name="3"></el-tab-pane>

          <VerbInfoApply v-if="activeName=='1'"></VerbInfoApply>
          <ChannelBasic v-if="activeName=='2'"></ChannelBasic>
          <ImageUpload v-if="activeName=='3'"></ImageUpload>

        </el-tabs>
      </el-col>
    </el-row>
    <div>
      <div v-if="activeName=='0'">
        <el-row>
          <el-form enctype="multipart/form-data" ref="changeForm" method="post"
                   label-width="150px"
                   :rules="rules" :model="changeForm" :size="$store.state.size">
            <el-row>
              <ContentHeader class="contentHead" :queryTitle="'尽调信息'"></ContentHeader>
              <el-col :span="12">
                <el-form-item label="渠道商名称">
                  {{channelName}}
                </el-form-item>
                <el-form-item label="基本信息" prop="statusBasic">
                  <el-radio-group :disabled="!this.isDisable" v-model="changeForm.statusBasic">
                    <el-radio label="1">符合</el-radio>
                    <el-radio label="2">不符合</el-radio>
                    <el-radio label="3">部分符合</el-radio>
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="营业情况" prop="statusBusiness">
                  <el-radio-group :disabled="!this.isDisable"
                                  v-model="changeForm.statusBusiness">
                    <el-radio label="1">符合</el-radio>
                    <el-radio label="2">不符合</el-radio>
                    <el-radio label="3">部分符合</el-radio>
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="经营情况" prop="statusManagement">
                  <el-radio-group :disabled="!this.isDisable"
                                  v-model="changeForm.statusManagement">
                    <el-radio label="1">符合</el-radio>
                    <el-radio label="2">不符合</el-radio>
                    <el-radio label="3">部分符合</el-radio>
                  </el-radio-group>
                </el-form-item>
              </el-col>
              <el-col style="margin-top: 48px" :span="12">
                <el-form-item label="联系人情况" prop="statusPerson">
                  <el-radio-group :disabled="!this.isDisable" v-model="changeForm.statusPerson">
                    <el-radio label="1">符合</el-radio>
                    <el-radio label="2">不符合</el-radio>
                    <el-radio label="3">部分符合</el-radio>
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="股东情况" prop="statusShareholder">
                  <el-radio-group :disabled="!this.isDisable"
                                  v-model="changeForm.statusShareholder">
                    <el-radio label="1">符合</el-radio>
                    <el-radio label="2">不符合</el-radio>
                    <el-radio label="3">部分符合</el-radio>
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="职场情况" prop="statusWorkplace">
                  <el-radio-group :disabled="!this.isDisable"
                                  v-model="changeForm.statusWorkplace">
                    <el-radio label="1">符合</el-radio>
                    <el-radio label="2">不符合</el-radio>
                    <el-radio label="3">部分符合</el-radio>
                  </el-radio-group>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <ContentHeader class="contentHead" :queryTitle="'尽调结果'"></ContentHeader>
              <el-col :span="12">
                <el-form-item label="尽调原因" prop="investType">
                  <el-select :disabled="!this.isDisable" v-model="changeForm.investType">
                    <el-option label="新增合作尽调" value="1"></el-option>
                    <el-option label="新增产品尽调" value="2"></el-option>
                    <el-option label="重新尽调" value="3"></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="尽调决议" prop="decision">
                  <el-radio-group :disabled="!this.isDisable" v-model="changeForm.decision">
                    <el-radio label="0">可以合作</el-radio>
                    <el-radio label="1">不可以合作</el-radio>
                    <el-radio label="2">有条件合作</el-radio>
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="尽调报告">
                  <input name="file" type="file" v-if="this.isDisable" @change="selectFile"/>
                  <el-button v-if="!this.isDisable" v-model="changeForm.filename">下载尽调报告
                  </el-button>
                </el-form-item>
                <el-form-item label="详细说明意见" prop="explain">
                  <el-input :disabled="!this.isDisable" type="textarea"
                            v-model="changeForm.explain"></el-input>
                </el-form-item>
                <el-form-item>
                  <el-button v-if="this.isDisable==1" type="primary"
                             @click="uploadFile('changeForm')">提交
                  </el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </el-row>
      </div>
    </div>
  </div>
</template>
<script>
  import VerbInfoApply from './verbInfoApply.vue'
  import ImageUpload from '../imageUpload.vue'
  import ChannelBasic from './channelBasic.vue'

  export default {
    data() {
      return {
        num: 1,
        activeName: "1",
      }
    },
    props: {
      // 父组件传过来的值
      someValue: String
    },
    components: {
      // 引入其他组件
      VerbInfoApply,
      ImageUpload,
      ChannelBasic,
    },
    beforeCreate: function () {
      // 组件创建前
    },
    created: function () {
      // 组件创建时执行
    },
    beforeMount: function () {
    },
    mounted: function () {
      // 组件挂载结束
    },
    beforeUpdate: function () {
      // 组件挂载结束
    },
    updated: function () {
      // 组件挂载结束
    },
    beforeDestroy: function () {
      // 组件挂载结束
    },
    destroyed: function () {
    },
    computed: {
      // 计算属性
    },
    methods: {
      // 自定义方法

    }
  }
</script>
<style scoped>

</style>
