<template>
  <div>
    <div>
      <el-row>
        <ContentHeader class="contentHead" :queryTitle="'授信申请'"></ContentHeader>
        <el-form label-width="150px" :rules="rules" ref="product" :model="product"
                 :size="$store.state.size">
          <el-col :span="16" :offset="2">
            <el-form-item label="渠道商Id:">
              <el-input v-model="product.distributor.distCode" disabled></el-input>
            </el-form-item>

          </el-col>

          <el-col :span="16" :offset="2">
            <el-form-item label="渠道商名称:">
              <el-input v-model="product.distributor.distName" disabled></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="16" :offset="2">
            <el-form-item label="产品名称:">
              <el-input v-model="product.productName" disabled></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="16" :offset="2">

            <el-form-item label="有效额度:" prop="effAmount">
              <el-input v-model="product.effAmount"></el-input>
            </el-form-item>
          </el-col>

          <el-col :span="16" :offset="2">
            <el-form-item label="是否循环:" prop="loop">
              <el-radio-group v-model="product.loop">
                <el-radio v-model="product.loop" label="1">是</el-radio>
                <el-radio v-model="product.loop" label="0">否</el-radio>
              </el-radio-group>
            </el-form-item>

          </el-col>

          <el-col :span="16" :offset="2">
            <el-form-item label="有效期:" prop="defaultTime">
              <el-date-picker
                v-model="product.defaultTime"
                value-format="yyyy-MM-dd"
                type="daterange"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                :unlink-panels="true"
                :default-time="product.defaultTime">
              </el-date-picker>

            </el-form-item>

          </el-col>

        </el-form>
      </el-row>
      <el-row type="flex" justify="center">
        <el-col :span="2">
          <el-button type="primary" @click="saveInfo('product')" :size="$store.state.size">保存
          </el-button>
        </el-col>

        <el-col :span="2">

          <el-button :size="$store.state.size" @click="goback()">返回</el-button>

        </el-col>
      </el-row>
    </div>

  </div>
</template>
<script>
  import ContentHeader from '../contentHeader.vue'
  import ElCol from "element-ui/packages/col/src/col";
  import ElForm from "../../../node_modules/element-ui/packages/form/src/form.vue";
  import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
  import ElRow from "element-ui/packages/row/src/row";

  export default {
    data() {
      return {

        product: {
          effAmount: "",
          loop: "",
          defaultTime: '',

        },
        rules: {
          effAmount: [
            {required: true, message: '请输入有效额度', trigger: 'blur'},
            {pattern:/^[+]{0,1}(\d+)$|^[+]{0,1}(\d+\.\d{0,2})$/, message: '请输入有效额度', trigger: 'blur'}
          ],
          loop: [
            {required: true, message: '请选择是否循环', trigger: 'change'}
          ],
          defaultTime: [
            {required: true, message: '请选择日期', trigger: 'change,blur'}
          ],
        }
      }
    },
    props: {
      // 父组件传过来的值
      someValue: String
    },
    components: {
      // 引入其他组件
      ElRow,
      ElButton,
      ElForm,
      ElCol,
      ContentHeader,
    },
    beforeCreate: function () {
      // 组件创建前
    },
    created: function () {
      // 组件创建时执行
    },
    beforeMount: function () {
    },
    mounted: function () {
      // 组件挂载结束
      this.queryList()

    },
    beforeUpdate: function () {
      // 组件挂载结束
    },
    updated: function () {
      // 组件挂载结束
    },
    beforeDestroy: function () {
      // 组件挂载结束
    },
    destroyed: function () {
    },
    computed: {
      // 计算属性
    },
    methods: {
      // 自定义方法
      queryList() {
        this.$axios.HttpPost(
          'distributor/sales/detail',
          {"id": this.$route.params.id}
        )
          .then((data) => {
            if (this.$route.params.operate != "credit") {
              let startDate = data.result.startDate
              let endDate = data.result.endDate
              let defaultTime = []
              data.result.defaultTime = defaultTime
              defaultTime.push(startDate, endDate)

            }
            this.product = data.result

          });
      },
      /*   gettime: function () {
           /!* console.log(this.product.defaultTime[0] +"~"+this.product.defaultTime[1])
            this.product.startDate=this.product.defaultTime[0].substr(10)
            this.product.endDate=this.product.defaultTime[1].substr(10)*!/

           console.log(array.length)
         },*/
      goback: function () {
        this.$router.go(-1)
      },
      saveInfo: function (formName) {

        this.$refs[formName].validate((valid) => {
          if (valid) {

            var data = this.product.defaultTime
            var array = Object.keys(data).map(function (el) {
              return data[el];
            });
            let submitData = {
              id: this.product.id,
              type: this.$route.params.operate,
              effAmount: this.product.effAmount,
              loop: this.product.loop,
              startDate: array[0],
              endDate: array[1]
            }

            this.$axios.HttpPost(
              'distributor/sales/modify', submitData).then((data) => {
              if (data.code == "100000") {

                this.$message({
                                type: 'success',
                                message: '操作成功!'
                              });
                this.$router.push({name:"verbInfo",params:{"action":"view",channelId:this.$route.params.channelId}})
              }
            })
          } else {
            return false
          }
        })
      }

    }

  }
</script>
<style scoped>
  .contentHead {
    margin: 10px 0 10px 0;
  }
</style>
