<template>
    <div>
      <el-row>
        <el-col :offset="1">
          <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item>渠道商管理</el-breadcrumb-item>
            <el-breadcrumb-item to="/channelVerb">渠道商授信</el-breadcrumb-item>
            <el-breadcrumb-item>渠道商授信额度查询</el-breadcrumb-item>
          </el-breadcrumb>
        </el-col>
      </el-row>
      <el-row style="margin-top: 30px" type="flex" justify="center">
        <el-col :span="22">
          <el-tabs  class="basicTab" type="border-card" v-model="activeName">
            <el-tab-pane label="授信信息" name="1"></el-tab-pane>
            <el-tab-pane label="基本信息" name="2"></el-tab-pane>
           <el-tab-pane label="影像资料" name="3"></el-tab-pane>

            <VerbInfoBase v-if="activeName=='1'"></VerbInfoBase>
           <!-- <ChannelBasic v-if="activeName=='2'"></ChannelBasic>
            <ImageUpload v-if="activeName=='3'"></ImageUpload>-->
            <!--<div v-if="activeName=='2'">
              <el-row style="padding-top: 15px" type="flex">
                <el-col :span="22">
                  <keep-alive>
                    <ChannelBasic v-if="this.$store.state.nextStep=='0'"></ChannelBasic>
                  </keep-alive>
                  <ImageUpload v-if="this.$store.state.nextStep=='1'"></ImageUpload>

                </el-col>
              </el-row>
            </div>-->
            <ChannelBasic :is-enabled="false" v-if="activeName=='2'"></ChannelBasic>
            <ImageUpload :is-enabled="false" v-if="activeName=='3'"></ImageUpload>

          </el-tabs>
        </el-col>
      </el-row>
    </div>
</template>
<script>
  import ChannelBasic from './channelBasic.vue'
  import ImageUpload from '../imageUpload.vue'
  import VerbInfoBase from './verbInfoBase.vue'

    export default {
        data() {
            return {
                num: 1,
              activeName:'1'
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
            // 引入其他组件
          ChannelBasic,
          ImageUpload,
          VerbInfoBase,
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
          this.$store.commit('changeStep','0')
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法

        }
    }
</script>
<style scoped>

</style>
