<template>
  <div>
    <!--<el-row>
      <el-col :offset="1">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>个人中心</el-breadcrumb-item>
        </el-breadcrumb>
      </el-col>
    </el-row>-->
    <el-row>
      <ContentHeader style="margin-bottom: 20px" :queryTitle="'修改密码'"></ContentHeader>
      <el-col :offset="6" :span="20">
        <el-form label-width="150px" :model="userForm" :rules="userRules" ref="userForm" :size="$store.state.size">
          <el-col :span="10">
            <el-form-item label="原密码" prop="oldPassword">
              <el-input v-model="userForm.oldPassword" :disabled="!this.isDisable"></el-input>
            </el-form-item>
            <el-form-item label="新密码" prop="password">
              <el-input v-model="userForm.password" :disabled="!this.isDisable"></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="confimPassword">
            <el-input v-model="userForm.confimPassword" :disabled="!this.isDisable"></el-input>
          </el-form-item>
          </el-col>

        </el-form>
      </el-col>
    </el-row>
    <el-row type="flex" justify="center">
      <el-col :span="2">
        <el-button type="primary" @click="submitInfo('userForm')" :size="$store.state.size">提交</el-button>
      </el-col>
    </el-row>
  </div>
</template>
<script>
  import ElRow from "element-ui/packages/row/src/row";
  import ElCol from "element-ui/packages/col/src/col";
  import ElInput from "../../../node_modules/element-ui/packages/input/src/input.vue";
  import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
  import ContentHeader from "../contentHeader.vue"
  export default {
    data() {
      var validatename = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入信息'));
        }else{
          callback();
        }
      };
      return {
        isDisable: 1,
        userForm:{
          oldPassword:'',
          password:'',
          confimPassword:'',
        },
        userRules:{
          oldPassword: [
            { validator: validatename, trigger: 'blur' }
          ],
          password: [
            { validator: validatename, trigger: 'blur' }
          ],
          confimPassword:[
            { validator: validatename, trigger: 'blur' }
          ]
        }
      }
    },
    props: {
      // 父组件传过来的值
      someValue: String
    },
    components: {
      ElButton,
      ElInput,
      ElCol,
      ElRow,
      ContentHeader
      // 引入其他组件
    },
    beforeCreate: function () {
      // 组件创建前
    },
    created: function () {
      // 组件创建时执行
    },
    beforeMount: function () {
    },
    mounted: function () {
      // 组件挂载结束
    },
    beforeUpdate: function () {
      // 组件挂载结束
    },
    updated: function () {
      // 组件挂载结束
    },
    beforeDestroy: function () {
      // 组件挂载结束
    },
    destroyed: function () {
    },
    computed: {
      // 计算属性
    },
    methods: {
      // 自定义方法
      submitInfo(formName){
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.$axios.HttpPost('sysUser/updatePassword',this.userForm)
              .then((data) => {
                this.$alert('修改密码成功', '提示', {
                  confirmButtonText: '确定',
                  callback: action => {
                    this.$router.push('/index')
                  }
                });
              });
          } else {
            this.$message({
              message: '信息有误，请检查',
              type: 'warning'
            });
            return false;
          }
        });
      }

    }
  }
</script>
<style scoped>

</style>
