<template>
  <div>
    <el-row type="flex" align="middle">
      <el-col :offset="2" :span="2">类型:</el-col>
      <el-col :span="6">
        <el-input
          placeholder="类型"
          suffix-icon="el-icon-goods">
        </el-input>
      </el-col>
      <el-col :offset="1" :span="2">
        <el-button type="primary" size="small">查询</el-button>
      </el-col>
      <el-col  :span="2">
        <el-button type="primary" size="small">新增</el-button>
      </el-col>
    </el-row>
    <el-row>
      <ContentHeader class="contentHead" :queryTitle="'查询列表'"></ContentHeader>
      <el-col :span="24">
        <el-table
          :data="tableData3"
          stripe
          style="width: 100%">
          <el-table-column
            type="index"
            label="序号">
          </el-table-column>
          <el-table-column
            prop="name"
            label="类型">
          </el-table-column>
          <el-table-column
            prop="address"
            label="键">
          </el-table-column>
          <el-table-column
            prop="address"
            label="值">
          </el-table-column>
          <el-table-column
            prop="address"
            label="描述">
          </el-table-column>
          <el-table-column
            prop="address"
            label="创建人">
          </el-table-column>
          <el-table-column
            prop="address"
            label="创建时间">
          </el-table-column>
          <el-table-column
            label="操作"
            width="240">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="success"
                @click="handleDelete(scope.$index, scope.row)">查看</el-button>
              <el-button
                size="mini"
                @click="handleEdit(scope.$index, scope.row)">修改</el-button><el-button
              size="mini"
              @click="handleEdit(scope.$index, scope.row)">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <el-row style="margin-top: 15px" v-if="Number(totalPages)>10" type="flex" justify="center">
      <el-pagination
        :page-size="10"
        :current-page.sync="pageNo"
        layout="total, prev, pager, next, jumper"
        :total="10">
      </el-pagination>
    </el-row>
  </div>
</template>
<script>
  import ElContainer from "../../../node_modules/element-ui/packages/container/src/main.vue";
  import ElRow from "element-ui/packages/row/src/row";
  import ElInput from "../../../node_modules/element-ui/packages/input/src/input.vue";
  import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
  import ElCol from "element-ui/packages/col/src/col";
  import ContentHeader from "../contentHeader.vue"
  export default {
    data() {
      return {
        tableData3: [{
          date: '2016-05-03',
          name: '王小虎',
          address: 'test',
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: 'test',
        }, ]
      }
    },
    props: {
      // 父组件传过来的值
      someValue: String
    },
    components: {
      // 引入其他组件
      ElCol,
      ElButton,
      ElInput,
      ElRow,
      ElContainer,
      ContentHeader
    },
    beforeCreate: function () {
      // 组件创建前
    },
    created: function () {
      // 组件创建时执行
    },
    beforeMount: function () {
    },
    mounted: function () {
      // 组件挂载结束
    },
    beforeUpdate: function () {
      // 组件挂载结束
    },
    updated: function () {
      // 组件挂载结束
    },
    beforeDestroy: function () {
      // 组件挂载结束
    },
    destroyed: function () {
    },
    computed: {
      // 计算属性
    },
    methods: {
      // 自定义方法
    }
  }
</script>
<style scoped>
  .contentHead{
    margin: 50px 0 10px 0;
  }
</style>
