<template>
    <div>
      <el-row>
        <el-col :offset="1">
          <el-button type="primary" size="small">新增</el-button>
        </el-col>
      </el-row>
      <el-row>
        <ContentHeader class="contentHead" :queryTitle="'查询列表'"></ContentHeader>
        <el-col :span="24">
          <el-table
            :data="tableData3"
            stripe
            style="width: 100%">
            <el-table-column
              type="index"
              label="序号">
            </el-table-column>
            <el-table-column
              prop="name"
              label="影像名称">
            </el-table-column>
            <el-table-column
              prop="address"
              label="影像编码">
            </el-table-column>
            <el-table-column
              prop="address"
              label="所属分类">
            </el-table-column>
            <el-table-column
              prop="address"
              label="影像描述">
            </el-table-column>
            <el-table-column
              label="操作"
              width="240">
              <template slot-scope="scope">
                <el-button
                  size="mini"
                  type="success"
                  @click="handleDelete(scope.$index, scope.row)">查看</el-button>
                <el-button
                  size="mini"
                  @click="handleEdit(scope.$index, scope.row)">修改</el-button>
                <el-button
                  size="mini"
                  @click="handleEdit(scope.$index, scope.row)">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <el-row style="margin-top: 15px" v-if="Number(totalPages)>10" type="flex" justify="center">
        <el-pagination
          :page-size="10"
          layout="total, prev, pager, next, jumper"
          :total="10">
        </el-pagination>
      </el-row>
    </div>
</template>
<script>
    import ElRow from "element-ui/packages/row/src/row";
    import ElCol from "element-ui/packages/col/src/col";
    import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
    import ContentHeader from "../contentHeader.vue"
    export default {
        data() {
            return {
              tableData3: [{
                date: '2016-05-03',
                name: '王小虎',
                address: 'test',
              }, {
                date: '2016-05-02',
                name: '王小虎',
                address: 'test',
              }, ]
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
          ElButton,
          ElCol,
          ElRow,
          ContentHeader
          // 引入其他组件
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
        }
    }
</script>
<style scoped>
  .contentHead{
    margin: 20px 0 10px 0;
  }
</style>
