<template>
  <div>
    <div v-if="showOpt==0">
      <el-row type="flex" align="middle">
        <el-col :offset="1" :span="2">菜单名称:</el-col>
        <el-col :span="6">
          <el-input
            placeholder="菜单名称"
            v-model="orderName"
            suffix-icon="el-icon-goods">
          </el-input>
        </el-col>
        <el-col :offset="1" :span="2">
          <el-button type="primary" @click="()=>{pageNo=1;queryList()}" size="small">查询</el-button>
        </el-col>
        <el-col  :span="2">
          <el-button type="primary" size="small" @click="()=>{
            showOpt = 3
            isDisable = 1
          }">新增</el-button>

        </el-col>

        </el-col>
        <el-col  :span="2">
          <el-button @click="refreshCache" type="primary" size="small">刷新缓存</el-button>
        </el-col>
      </el-row>
      <el-row>
        <ContentHeader class="contentHead" :queryTitle="'查询列表'"></ContentHeader>
        <el-col :span="24">
          <el-table
            :data="tableData3"
            stripe
            style="width: 100%">
            <el-table-column
              type="index"
              :index="indexMethod"
              label="序号">
            </el-table-column>
            <el-table-column
              v-if="false"
              prop="id"
              label="序号">
            </el-table-column>
            <el-table-column
              prop="text"
              width="120"
              label="菜单名称">
            </el-table-column>
            <el-table-column
              prop="url"
              label="菜单地址">
            </el-table-column>
            <el-table-column
              prop="level"
              label="级别">
            </el-table-column>
            <el-table-column
              label="操作"
              width="240">
              <template slot-scope="scope">
                <el-button
                  size="mini"
                  type="success"
                  @click="queryAuth(scope.row.id,0)">查看</el-button>
                <el-button
                  size="mini"
                  @click="queryAuth(scope.row.id,1)">修改</el-button><el-button
                size="mini"
                @click="handleDelete(scope.$index, scope.row,scope.row.id)">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <el-row style="margin-top: 15px" v-if="Number(totalPages)>10" type="flex" justify="center">
        <el-pagination
          :page-size="pageSize"
          :current-page.sync="pageNo"
          @current-change="handleCurrentChange"
          layout="total, prev, pager, next, jumper"
          :total="totalPages">
        </el-pagination>
      </el-row>
    </div>
    <div v-if="showOpt==1 || showOpt==3">
      <el-row>
        <ContentHeader class="contentHead" :queryTitle="'用户信息'"></ContentHeader>
        <el-col :span="24">
          <el-form label-width="150px" :model="authForm" :size="$store.state.size">
            <el-col :offset="6" :span="10">
              <el-form-item label="菜单名称">
                <el-input v-model="authForm.text" :disabled="!isDisable"></el-input>
              </el-form-item>
              <el-form-item label="菜单地址">
                <el-input v-model="authForm.url" :disabled="!isDisable"></el-input>
              </el-form-item>
              <el-form-item  label="父级菜单">
                <el-select :disabled="!this.isDisable" v-model="authForm.parentId">
                  <el-option  :key="item.id" v-for="item in parentNameList" :label="item.text" :value="item.id">{{item.text}}</el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="类型">
                <el-radio-group :disabled="!isDisable" v-model="authForm.iconCls">
                  <el-radio v-for="item in btnType" :key="item.name" :label="item.name">{{item.name}}</el-radio>
                </el-radio-group>
              </el-form-item>
              <el-form-item label="排序">
                <el-input v-model="authForm.sort" :disabled="!isDisable"></el-input>
              </el-form-item>
              <el-form-item label="级别">
                <el-input v-model="authForm.level" :disabled="!isDisable"></el-input>
              </el-form-item>
              <el-form-item label="权限">
                <el-input v-model="authForm.perm" :disabled="!isDisable"></el-input>
              </el-form-item>
              <el-form-item label="是否开启">
                <el-radio-group :disabled="!isDisable" v-model="authForm.delFlag">
                  <el-radio v-for="item in delOpt" :key="item.value" :label="item.value">{{item.name}}</el-radio>
                </el-radio-group>
              </el-form-item>
              <el-form-item label="描述">
                <el-input type="textarea" v-model="authForm.description" :disabled="!isDisable"></el-input>
              </el-form-item>
            </el-col>
          </el-form>
        </el-col>
      </el-row>
      <el-row type="flex" justify="center">
        <el-col :span="2">
          <el-button @click="showOpt=0">返回</el-button>
        </el-col>
        <el-col v-if="showOpt==1&&isDisable!=0" :span="2">
          <el-button @click="authCommit" type="primary">提交</el-button>
        </el-col>
        <el-col v-if="showOpt==3&&isDisable!=0" :span="2">
          <el-button @click="addAuth" type="primary">提交</el-button>
        </el-col>
      </el-row>
    </div>
  </div>
</template>
<script>
  import ElContainer from "../../../node_modules/element-ui/packages/container/src/main.vue";
  import ElRow from "element-ui/packages/row/src/row";
  import ElInput from "../../../node_modules/element-ui/packages/input/src/input.vue";
  import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
  import ElCol from "element-ui/packages/col/src/col";
  import ContentHeader from "../contentHeader.vue"
  export default {
    data() {
      return {
        tableData3: [],
        totalPages:0,
        pageNo:1,
        pageSize:10,
        orderName:'',
        showOpt:0,
        isDisable:0,
        authForm:{},
        delOpt:[
          {name:"启用",value:0},
          {name:"不启用",value:1}],
        parentNameList:[],
        btnType:[{name:"menu"},
          {name:"button"}],
      }
    },
    props: {
      // 父组件传过来的值
      someValue: String
    },
    components: {
      // 引入其他组件
      ElCol,
      ElButton,
      ElInput,
      ElRow,
      ElContainer,
      ContentHeader
    },
    beforeCreate: function () {
      // 组件创建前
    },
    created: function () {
      // 组件创建时执行
    },
    beforeMount: function () {
    },
    mounted: function () {
      // 组件挂载结束
      this.queryList();
      this.queryParentMenu();
    },
    beforeUpdate: function () {
      // 组件挂载结束
    },
    updated: function () {
      // 组件挂载结束
    },
    beforeDestroy: function () {
      // 组件挂载结束
    },
    destroyed: function () {
    },
    computed: {
      // 计算属性
    },
    methods: {
      // 自定义方法
      queryList(){
        this.$axios.HttpPost(
          'sysAuth/queryTable',
          {"text":this.orderName,"page":this.pageNo,"size":this.pageSize}
        )
          .then((data) => {
            this.tableData3 = data.result.content
            this.totalPages = data.result.totalElements
          });
      },
      queryParentMenu(){
        this.$axios.HttpPost(
          'sysAuth/parentMenu',
          {}
        )
          .then((data) => {
            this.parentNameList = data.result;
            console.log('parentNameList=========='+JSON.stringify(this.parentNameList))
          });
      },
      handleCurrentChange(val){
        this.pageNo = val
        this.queryList()
      },
      handleDelete(index, rows, id){
        this.$confirm("是否删除", '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$axios.HttpPost(
            'sysAuth/del',
            {
              "id":id,
            }
          )
            .then((data) => {
              //alert(JSON.stringify(data))
              this.$message({
                type: 'success',
                message: '删除成功'
              });
              this.pageNo=1
              this.queryList()
              rows.splice(index, 1);
            });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });
        });
      },
      queryAuth(id,edit){
        this.isDisable = edit
        this.showOpt = 1
        this.$axios.HttpPost(
          'sysAuth/get',
          {"id":id}
        )
          .then((data) => {
           this.authForm = data.result
            console.log('authForm=========='+this.authForm.parentId)
          });
      },
      authCommit(){
        this.$axios.HttpPost(
          'sysAuth/update',
          this.authForm
        )
          .then((data) => {
            this.showOpt=0
            this.queryList()
            this.$message({
              message: '提交成功',
              type: 'success'
            });
            this.authForm = {}
          });
      },
      addAuth(){
        this.$axios.HttpPost(
          'sysAuth/add',
          this.authForm
        )
          .then((data) => {
            this.$message({
              message: '提交成功',
              type: 'success'
            });
            this.authForm = {}
          });
      },
      indexMethod(index){
        return (this.pageNo-1)*this.pageSize+index+1
      }
      ,
      refreshCache(){
        this.$axios.HttpPost(
          'sysAuth/refreshCache'
        )
          .then((data) => {
            this.$message({
                            message: '刷新成功',
                            type: 'success'
                          });
          });
      }
    }
  }
</script>
<style scoped>
  .contentHead{
    margin: 10px 0 10px 0;
  }
</style>
