<template>
  <div>
    <div v-if="showOpt==0">
      <el-row style="margin-top: 20px" type="flex" align="middle">
      <el-col :offset="1" :span="2">角色名:</el-col>
      <el-col :span="6">
        <el-input
          placeholder="角色名"
          v-model="orderName"
          suffix-icon="el-icon-goods">
        </el-input>
      </el-col>
      <el-col :offset="1" :span="2">
        <el-button @click="()=>{pageNo=1;queryList()}" type="primary" size="small">查询</el-button>
      </el-col>
      <el-col  :span="2">
        <el-button type="primary" size="small" @click="()=>{
         showOpt=3
          isDisable = 1
          this.getAllAuth()
        }">新增</el-button>
      </el-col>

    </el-row>
      <el-row>
      <ContentHeader class="contentHead" :queryTitle="'查询列表'"></ContentHeader>
      <el-col :span="24">
        <el-table
          :data="tableData3"
          stripe
          style="width: 100%">
          <el-table-column
            type="index"
            :index="indexMethod"
            label="序号">
          </el-table-column>
          <el-table-column
            v-if="false"
            prop="id"
            label="序号">
          </el-table-column>
          <el-table-column
            prop="name"
            label="角色名称">
          </el-table-column>
          <el-table-column
            prop="description"
            label="描述">
          </el-table-column>
          <el-table-column
            prop="createTime"
            label="创建时间">
          </el-table-column>
          <el-table-column
            label="操作"
            width="240">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="success"
                @click="queryOrder(scope.row.id,0)">查看</el-button>
              <el-button
                size="mini"
                @click="queryOrder(scope.row.id,1)">修改</el-button><el-button
              size="mini"
              @click="handleDelete(scope.$index, scope.row,scope.row.id)">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
      <el-row style="margin-top: 15px" v-if="Number(totalPages)>10" type="flex" justify="center">
      <el-pagination
        :page-size="pageSize"
        @current-change="handleCurrentChange"
        :current-page.sync="pageNo"
        layout="total, prev, pager, next, jumper"
        :total="totalPages">
      </el-pagination>
    </el-row>
    </div>
    <div v-if="showOpt==1 || showOpt==3">
      <el-row>
        <ContentHeader class="contentHead" :queryTitle="'用户信息'"></ContentHeader>
        <el-col :span="24">
          <el-form label-width="150px" :model="roleForm" :size="$store.state.size">
            <el-col :offset="6" :span="10">
              <el-form-item label="角色名称">
                <el-input v-model="roleForm.name" :disabled="!isDisable"></el-input>
              </el-form-item>
              <el-form-item label="描述">
                <el-input v-model="roleForm.description" :disabled="!isDisable"></el-input>
              </el-form-item>
              <el-form-item label="是否开启">
                <el-radio-group :disabled="!isDisable" v-model="roleForm.delFlag">
                  <el-radio v-for="item in delOpt" :key="item.value" :label="item.value">{{item.name}}</el-radio>
                </el-radio-group>
              </el-form-item>
              <el-form-item label="权限">
                <el-checkbox-group :disabled="!isDisable" v-model="checkList">
                <el-table
                  :data="authList"
                  border
                  style="width: 100%">
                  <el-table-column
                    label="父权限">
                    <template slot-scope="props">
                        <el-checkbox :disabled="!isDisable"  :key="props.row.id" :label="props.row.id" @change="parentCheckedChange(props.row)">{{props.row.name}}</el-checkbox>
                    </template>
                  </el-table-column>
                  <el-table-column
                    property="date"
                    label="子权限">
                    <template slot-scope="props">

                        <div  v-for="item in props.row.subMenu">
                          <el-checkbox  :key="item.id" :label="item.id" @change="subCheckedChange(props.row.id)">{{item.name}}</el-checkbox>
                        </div>

                    </template>
                  </el-table-column>
                </el-table>
                </el-checkbox-group>
              </el-form-item>
            </el-col>
          </el-form>
        </el-col>
      </el-row>
      <el-row type="flex" justify="center">
        <el-col :span="2">
          <el-button @click="()=>{showOpt=0;queryList()}">返回</el-button>
        </el-col>
        <el-col v-if="showOpt==1&&isDisable!=0" :span="2">
          <el-button @click="roleCommit" type="primary">提交</el-button>
        </el-col>
        <el-col v-if="showOpt==3&&isDisable!=0" :span="2">
          <el-button @click="addRole" type="primary">提交</el-button>
        </el-col>
      </el-row>
    </div>
  </div>
</template>
<script>
  import ElContainer from "../../../node_modules/element-ui/packages/container/src/main.vue";
  import ElRow from "element-ui/packages/row/src/row";
  import ElInput from "../../../node_modules/element-ui/packages/input/src/input.vue";
  import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
  import ElCol from "element-ui/packages/col/src/col";
  import ContentHeader from "../contentHeader.vue"
  export default {
    data() {
      return {
        tableData3: [],
        totalPages:0,
        pageNo:1,
        pageSize:10,
        orderName:'',
        showOpt:0,
        isDisable:0,
        roleForm:{},
        authList:[],//查询返现的权限选项
        checkList:[],//当前选中的权限选项
        auths:[],//提交修改的权限选项
        crtId:'',//当前选中的id
        delOpt:[
          {name:"启用",value:0},
          {name:"不启用",value:1}]
      }
    },
    props: {
      // 父组件传过来的值
      someValue: String
    },
    components: {
      // 引入其他组件
      ElCol,
      ElButton,
      ElInput,
      ElRow,
      ElContainer,
      ContentHeader
    },
    beforeCreate: function () {
      // 组件创建前
    },
    created: function () {
      // 组件创建时执行
    },
    beforeMount: function () {
    },
    mounted: function () {
      // 组件挂载结束
      this.queryList()
    },
    beforeUpdate: function () {
      // 组件挂载结束
    },
    updated: function () {
      // 组件挂载结束
    },
    beforeDestroy: function () {
      // 组件挂载结束
    },
    destroyed: function () {
    },
    computed: {
      // 计算属性
    },
    methods: {
      // 自定义方法
      queryList(){
        this.$axios.HttpPost(
          'sysRole/queryTable',
          {"name":this.orderName,"page":this.pageNo,"size":this.pageSize}
        )
          .then((data) => {
            this.tableData3 = data.result.content
            this.totalPages = data.result.totalElements
          });
      },
      handleCurrentChange(val){
        this.pageNo = val
        this.queryList()
      },
      queryOrder(id,edit){
        this.showOpt=1
        this.crtId = id
        this.isDisable = edit
        this.$axios.HttpPost(
          'sysRole/get',
          {"roleId":id}
        )
          .then((data) => {
            //alert(JSON.stringify(data))
            this.roleForm = data.result
            this.getAllAuth(id)
          });

      },
      getAllAuth(id){
        this.$axios.HttpPost(
          'sysRole/getAllAuth',
          {"roleId":id}
        )
          .then((data) => {
           // alert(JSON.stringify(data))
            if(data.result){
              this.authList = data.result
              this.checkList=[]
              for(var i=0;i<data.result.length;i++){
                if(data.result[i].selected){
                  this.checkList.push(data.result[i].id)
                }
                for (var j=0;j<data.result[i].subMenu.length;j++){
                  if(data.result[i].subMenu[j].selected){
                    this.checkList.push(data.result[i].subMenu[j].id)
                  }
                }
              }
              console.log(this.checkList);
            }
          });
      },
      subCheckedChange(parent){
        if(this.checkList.indexOf(parseInt(parent)) === -1){
          this.checkList.push(parent)
        }
      },
      parentCheckedChange(row){
        for(var i=0;i<row.subMenu.length;i++){
          const index = this.checkList.indexOf(parseInt(row.subMenu[i].id))
          if(index !== -1){
            this.checkList.splice(index,1)
          }
        }
      },
      roleCommit(){

        this.auths = []
        for(let i=0;i<this.checkList.length;i++){
          this.auths.push({authId:this.checkList[i],roleId: this.crtId})
        }
        this.$axios.HttpPost(
          'sysRole/update',
          {
            "id":this.crtId,
            "delFlag":this.roleForm.delFlag,
            "description":this.roleForm.description,
            "name":this.roleForm.name,
            "auths":this.auths
          }
        )
          .then((data) => {
            this.$message({
              message: '修改成功',
              type: 'success'
            });
          });
      },
      handleDelete(index, rows, id){
        this.$confirm("是否删除", '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$axios.HttpPost(
            'sysRole/del',
            {
              "roleId":id,
            }
          )
            .then((data) => {
              //alert(JSON.stringify(data))
              this.$message({
                type: 'success',
                message: '删除成功'
              });
              this.pageNo=1
              this.queryList()
            });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });
        });
      },
      indexMethod(index){
        return (this.pageNo-1)*this.pageSize+index+1
      },
      addRole(){
        this.auths = []
        for(let i=0;i<this.checkList.length;i++){
          this.auths.push({authId:this.checkList[i],roleId: this.crtId})
        }
        this.$axios.HttpPost(
          'sysRole/add',
          {
            "delFlag":this.roleForm.delFlag,
            "description":this.roleForm.description,
            "name":this.roleForm.name,
            "auths":this.auths
          }
        )
          .then((data) => {
            this.$message({
              message: '新增成功',
              type: 'success'
            });
          });
      },
      checkParent(){console.log()}
    }
  }
</script>
<style scoped>
  .contentHead{
    margin: 10px 0 10px 0;
  }
</style>
