<template>
  <div>
    <div v-if="showOpt==0">
    <el-row type="flex" align="middle">
      <el-col :offset="1" :span="2">用户名:</el-col>
      <el-col :span="6">
        <el-input
          v-model="userName"
          placeholder="用户名"
          suffix-icon="el-icon-goods">
        </el-input>
      </el-col>
      <el-col :offset="1" :span="2">
        <el-button type="primary" size="small" @click="()=>{pageNo=1;queryList()}">查询</el-button>
      </el-col>
      <el-col  :span="2">
        <el-button type="primary" size="small" @click="() => {
          showOpt=3
          isDisable = 1
          this.userForm={}
          this.getAuth()
        }">新增</el-button>
      </el-col>
    </el-row>
    <el-row>
      <ContentHeader class="contentHead" :queryTitle="'查询列表'"></ContentHeader>
      <el-col :span="24">
        <el-table
          :data="tableData3"
          stripe
          style="width: 100%">
          <el-table-column
            type="index"
            :index="indexMethod"
            label="序号">
          </el-table-column>
          <el-table-column
            prop="id"
            v-if="false"
            label="序号">
          </el-table-column>
          <el-table-column
            prop="username"
            label="用户名">
          </el-table-column>
          <el-table-column
            prop="position"
            label="职位">
          </el-table-column>
          <el-table-column
            prop="showRole"
            label="所属角色">
          </el-table-column>
          <el-table-column
            prop="delFlag.name"
            label="是否禁用">
          </el-table-column>
          <el-table-column
            prop="createTime"
            label="创建时间">
          </el-table-column>
          <el-table-column
            label="操作"
            width="240">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="success"
                @click="queryUser(scope.row.id,0)">查看</el-button>
              <el-button
                size="mini"
                @click="queryUser(scope.row.id,1)">修改</el-button><el-button
              size="mini"
              @click="handleDelete(scope.$index, scope.row,scope.row.id)">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <el-row style="margin-top: 15px" v-if="Number(totalPages)>10" type="flex" justify="center">
      <el-pagination
        :page-size="pageSize"
        :current-page.sync="pageNo"
        @current-change="handleCurrentChange"
        layout="total, prev, pager, next, jumper"
        :total="totalPages">
      </el-pagination>
    </el-row>
    </div>
    <div v-if="showOpt==1 || showOpt==3">
      <el-row>
        <ContentHeader class="contentHead" :queryTitle="'用户信息'"></ContentHeader>
        <el-col :span="24">
          <el-form label-width="150px" :model="userForm" :size="$store.state.size">
            <el-col :span="10">
              <el-form-item label="用户名">
                <el-input v-model="userForm.username" :disabled="!isDisable"></el-input>
              </el-form-item>
              <el-form-item label="真实姓名">
                <el-input v-model="userForm.realName" :disabled="!isDisable"></el-input>
              </el-form-item>
              <el-form-item label="职位">
                <el-input v-model="userForm.position" :disabled="!isDisable"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item label="密码">
                <el-input v-model="userForm.password" :disabled="!isDisable"></el-input>
              </el-form-item>
              <el-form-item label="是否禁用">
                <el-radio-group :disabled="!isDisable" v-model="userForm.delFlag">
                  <el-radio :key="item.value" v-for="item in delOpt" :label="item.value">{{item.name}}</el-radio>
                </el-radio-group>
              </el-form-item>
              <el-form-item label="所属角色">
                <el-checkbox-group :disabled="!isDisable" v-model="checkList">
                  <el-checkbox v-for="item in roleList" :key="item.id" :label="item.id">{{item.name}}</el-checkbox>
                </el-checkbox-group>
              </el-form-item>
            </el-col>
          </el-form>
        </el-col>
      </el-row>
      <el-row type="flex" justify="center">
        <el-col :span="2">
          <el-button @click="()=>{pageNo=1;showOpt=0;queryList()}">返回</el-button>
        </el-col>
        <el-col v-if="showOpt==1&&isDisable!=0" :span="2">
          <el-button @click="userCommit" type="primary">提交</el-button>
        </el-col>
        <el-col v-if="showOpt==3&&isDisable!=0" :span="2">
          <el-button @click="addUser" type="primary">提交</el-button>
        </el-col>
      </el-row>
    </div>
  </div>
</template>
<script>
  import ElContainer from "../../../node_modules/element-ui/packages/container/src/main.vue";
  import ElRow from "element-ui/packages/row/src/row";
  import ElInput from "../../../node_modules/element-ui/packages/input/src/input.vue";
  import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
  import ElCol from "element-ui/packages/col/src/col";
  import ContentHeader from "../contentHeader.vue"
  export default {
    data() {
      return {
        tableData3: [],
        totalPages:0,
        pageNo:1,
        pageSize:10,
        userName:'',
        showOpt:0,
        userForm:{
        },
        isDisable:0,
        checkList:[],
        roleList:[],
        delOpt:[
          {name:"启用",value:0},
          {name:"不启用",value:1}]
      }
    },
    props: {
      // 父组件传过来的值
      someValue: String
    },
    components: {
      // 引入其他组件
      ElCol,
      ElButton,
      ElInput,
      ElRow,
      ElContainer,
      ContentHeader
    },
    beforeCreate: function () {
      // 组件创建前
    },
    created: function () {
      // 组件创建时执行
    },
    beforeMount: function () {
    },
    mounted: function () {
      // 组件挂载结束
      this.queryList()
    },
    beforeUpdate: function () {
      // 组件挂载结束
    },
    updated: function () {
      // 组件挂载结束
    },
    beforeDestroy: function () {
      // 组件挂载结束
    },
    destroyed: function () {
    },
    computed: {
      // 计算属性
    },
    methods: {
      // 自定义方法
      queryList(){
        this.$axios.HttpPost(
          'sysUser/queryTable',
          {"username":this.userName,"page":this.pageNo,"size":this.pageSize}
        )
          .then((data) => {
            if(data.result.totalElements > 0){
              let temp = data.result.content
              //alert(JSON.stringify(temp))
              for (let i=0;i<temp.length;i++){
                if(temp[i].delFlag=='1'){
                  temp[i].delFlag={
                    name:"是",
                    value:"1"
                  }
                }else{
                  temp[i].delFlag={
                    name:"否",
                    value:"0"
                  }
                }
              }
              this.tableData3 = temp
              this.totalPages = data.result.totalElements
            }else{
              this.tableData3 = []
              this.totalPages = 1
            }

          });
      },
      queryUser(id,edit){
        this.isDisable = edit
        this.checkList=[]
        this.showOpt=1
        this.$axios.HttpPost(
          'sysUser/get',
          {"userId":id}
        )
          .then((data) => {
            this.userForm = data.result
            var roles = (data.result.roleIds).split(",")
            for(let i=0;i<roles.length;i++){
              this.checkList.push(Number(roles[i]))
            }
            this.getAuth(id)
          });
      },
      getAuth(){
        this.$axios.HttpPost(
          'sysRole/queryAll',
          {}
        )
          .then((data) => {
            //alert(JSON.stringify(data))
            this.roleList = data.result
          });
      },
      userCommit(){
        this.userForm.roleIds = this.checkList.toString()
        this.$axios.HttpPost(
          'sysUser/update',
          {
            "id":this.userForm.id,
            "delFlag":this.userForm.delFlag,
            "password":this.userForm.password,
            "position":this.userForm.position,
            "realName":this.userForm.realName,
            "roleIds":this.userForm.roleIds,
            "username":this.userForm.username,
          }
        )
          .then((data) => {
            //alert(JSON.stringify(data))
            this.$message({
              message: '提交成功',
              type: 'success'
            });
            this.queryList();
          });
      },
      handleCurrentChange(val){
        this.pageNo = val
        this.queryList()
      },
      addUser(){
        //alert(this.userForm.roleIds)
        this.userForm.roleIds = this.checkList.toString()
        this.$axios.HttpPost(
          'sysUser/add',
          {
            "delFlag":this.userForm.delFlag,
            "password":this.userForm.password,
            "position":this.userForm.position,
            "realName":this.userForm.realName,
            "roleIds":this.userForm.roleIds,
            "username":this.userForm.username,
          }
        )
          .then((data) => {
            //alert(JSON.stringify(data))
            this.$message({
              message: '提交成功',
              type: 'success'
            });
          });
      },
      indexMethod(index){
        return (this.pageNo-1)*this.pageSize+index+1
      },
      handleDelete(index, rows, id){
        this.$confirm("是否删除", '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
              this.$axios.HttpPost(
                'sysUser/del',
                {
                  "userId":id,
                }
              )
                .then((data) => {
                  //alert(JSON.stringify(data))
                  this.$message({
                    type: 'success',
                    message: '删除成功'
                  });
                 // rows.splice(index, 1);
                  this.pageNo=1
                  this.queryList()
                });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });
        });
      }
    }
  }
</script>
<style scoped>
  .contentHead{
    margin: 10px 0 10px 0;
  }
</style>
