<template>
      <el-footer>
        <el-row type="flex" justify="center">
          <el-col :span="6">
            <span class="copyright">版权所有： 北京小桔汇金网络科技有限公司</span>
          </el-col>
        </el-row>
      </el-footer>
</template>
<script>
    import ElFooter from "../../node_modules/element-ui/packages/footer/src/main.vue";
    import ElRow from "element-ui/packages/row/src/row";

    export default {
        data() {
            return {
                num: 1
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
          ElRow,
          ElFooter
          // 引入其他组件
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
        }
    }
</script>
<style scoped>
  .copyright{
    overflow:hidden;
    text-overflow:ellipsis;
  }
</style>
