<template>
  <div>
    <el-row>
      <ContentHeader class="contentHead" :queryTitle="'渠道商基本影像资料'"></ContentHeader>
      <el-col :span="24">


        <el-table
          :data="tableData3"
          stripe
          :size="$store.state.size"
          style="width: 100%">
          <el-table-column
            type="index"
            label="序号">
          </el-table-column>
          <el-table-column
            prop="fileName"
            label="类别">
          </el-table-column>
          <el-table-column
            label="上传个数"
            width="200">
            <template slot-scope="scope">
              <el-tag v-if="scope.row.filePaths.length>0">{{scope.row.filePaths.length}}</el-tag>
              <el-tag type="danger" v-if="scope.row.filePaths.length==0">0</el-tag>
            </template>
          </el-table-column>
          <el-table-column
            label="操作"
            width="300">
            <template slot-scope="scope">
              <el-button size="mini"
                         v-if="isEnabled"
                         @click="operate(scope.row,scope.$index)">操作

              </el-button>
              <el-button type="success" size="mini"
                         v-if="(!isEnabled||((scope.row.filePath!=undefined)&&scope.row.filePath.length>0))"
                         @click="downLoadFile(scope.row)">下载
              </el-button>


              <!--<el-button type="primary" :size="$store.state.size" v-if="((!isEnabled)&&(scope.row.filePath))"
                         @click="downLoadFile(scope.row)">下载
              </el-button>
              <el-button :disabled="true" type="primary" :size="$store.state.size" v-if="(!isEnabled)&&(!scope.row.filePath)"
                         >暂未上传
              </el-button>-->
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>

    <el-row>


      <!-- :on-preview="handlePreview"
       :on-remove="handleRemove"-->

      <el-dialog
        title="文件操作"
        :visible.sync="dialogVisible"
        width="30%"
        :before-close="handleClose">

        <el-upload
          class="upload-demo"

          action="credit/distributor/uploadFiles"
          :before-upload="beforeUpload"
          :on-success="handleSuccess"
          :on-remove="removeFile"
          multiple
          :limit="3"
          :on-exceed="handleExceed"
          :file-list="fileListTemp"
          :data="{fileIndex:indexTemp}"
          list-type="picture">
          <el-button size="small" type="primary">点击上传</el-button>

        </el-upload>

        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="updImage">确 定</el-button>
        </span>
      </el-dialog>
    </el-row>

    <el-row type="flex" justify="center" v-if="isEnabled">
      <el-col :span="8">
        <el-button :size="$store.state.size" type="primary" @click="goback">返回</el-button>


        <el-button v-if="isEnabled" :size="$store.state.size" type="primary"
                   @click="$store.commit('changeStep','0')">上一步
        </el-button>

       <!-- <el-button v-if="isEnabled" :size="$store.state.size" type="primary" @click="uploadFile">
          保存
        </el-button>-->

        <el-button v-if="isEnabled" :size="$store.state.size" type="primary" @click="submit">提交
        </el-button>

        <el-button v-if="!isEnabled" :size="$store.state.size" type="primary"
                   @click="$store.commit('changeStep','0')">上一页
        </el-button>
      </el-col>


    </el-row>
  </div>
</template>
<script>
  import ElRow from "element-ui/packages/row/src/row";
  import ElCol from "element-ui/packages/col/src/col";
  import ContentHeader from "./contentHeader.vue"

  import {mapState} from 'vuex'
  import axios from 'axios'
  import {Loading} from 'element-ui';
  import ElButton from "../../node_modules/element-ui/packages/button/src/button.vue";

  export default {
    props: ['isEnabled'],
    data() {

      return {
        loadingText:"",
        indexTemp: -1,

        dialogVisible: false,
        fileListTemp: [],
        fileLists: new Array(47),
        fileList: [],
        //"fileNo":"file_1","fileName":"经年检的营业执照正副本","filePath":"121/file_1/0 (1)--.png"
        tableData3: [
          {
            //name:"file_1",
            fileName: '营业执照正副本',
            filePath: '', filePaths: []
          }, {
            //name:"file_2",
            fileName: '开户许可证',
            filePath: '', filePaths: []
          }, {
            //name:"file_3",
            fileName: '法定代表人身份证明文件和签字样本',
            filePath: '', filePaths: []
          }, {
            //name:"file_4",
            fileName: '最大股东的身份证件(如有重复则只提供不重复的资料)',
            filePath: '', filePaths: []
          }, {

            fileName: '法人代表的身份证件(如有重复则只提供不重复的资料)',
            filePath: '', filePaths: []
          }, {
            fileName: '实际控制人个人的身份证件(如有重复则只提供不重复的资料)',
            filePath: '', filePaths: []
          }, {
            fileName: '实际控制人配偶身份证',
            filePath: '', filePaths: []
          }, {
            fileName: '实际控制人结婚照复印件',
            filePath: '', filePaths: []
          }, {
            fileName: '企业主要负责人的身份证件(如有重复则只提供不重复的资料)',
            filePath: '', filePaths: []
          }, {
            fileName: '董事长的身份证件(如有重复则只提供不重复的资料)',
            filePath: '', filePaths: []
          }, {
            fileName: '总经理的身份证件(如有重复则只提供不重复的资料)',
            filePath: '', filePaths: []
          }, {
            fileName: '法定代表人的身份证件(如有重复则只提供不重复的资料)',
            filePath: '', filePaths: []
          }, {
            fileName: '公司人民银行征信查询授权书',
            filePath: '', filePaths: []
          }, {
            fileName: '企业实际控制人/负责人人民银行征信查询授权书',
            filePath: '', filePaths: []
          }, {
            fileName: '法定代表人人民银行征信查询授权书',
            filePath: '', filePaths: []
          }, {
            fileName: '董事长人民银行征信查询授权书',
            filePath: '', filePaths: []
          }, {
            fileName: '总经理人民银行征信查询授权书',
            filePath: '', filePaths: []
          }, {
            fileName: '占股份51%以上的股东人民银行征信查询授权书',
            filePath: '', filePaths: []
          }, {
            fileName: '单个占股20％（含）以上的股东人民银行征信查询授权书',
            filePath: '', filePaths: []
          }, {
            fileName: '实际控制人及其配偶人民银行征信查询授权书',
            filePath: '', filePaths: []
          }, {
            fileName: '公司人民银行征信报告',
            filePath: '', filePaths: []
          }, {
            fileName: '企业实际控制人/负责人人民银行征信报告',
            filePath: '', filePaths: []
          }, {
            fileName: '法定代表人人民银行征信报告',
            filePath: '', filePaths: []
          }, {
            fileName: '董事长人民银行征信报告',
            filePath: '', filePaths: []
          }, {
            fileName: '总经理人民银行征信报告',
            filePath: '', filePaths: []
          }, {
            fileName: '占股份51%以上的股东人民银行征信报告',
            filePath: '', filePaths: []
          }, {
            fileName: '单个占股20％（含）以上的股东人民银行征信报告',
            filePath: '', filePaths: []
          }, {
            fileName: '实际控制人及其配偶人民银行征信报告',
            filePath: '', filePaths: []
          }, {
            fileName: '公司简介（不少于200字，如有提供）',
            filePath: '', filePaths: []
          }, {
            fileName: '公司照片（实地3张）',
            filePath: '', filePaths: []
          }, {
            fileName: '验资报告',
            filePath: '', filePaths: []
          }, {
            fileName: '公司章程及股东会决议（要连续）',
            filePath: '', filePaths: []
          }, {
            fileName: '经营场所使用产权证',
            filePath: '', filePaths: []
          }, {
            fileName: '经营场所使用土地证',
            filePath: '', filePaths: []
          }, {
            fileName: '经营场所使用租赁协议',
            filePath: '', filePaths: []
          }, {
            fileName: '经营场所使用其他证明文件',
            filePath: '', filePaths: []
          }, {
            fileName: '本期及上年同期及上年12月的纳税申报表',
            filePath: '', filePaths: []
          }, {
            fileName: '特许经营许可证、排污许可证（在有效期内）',
            filePath: '', filePaths: []
          }, {
            fileName: '近三年年度财务报表及近三个月月度财务报表',
            filePath: '', filePaths: []
          }, {
            fileName: '至少最近6个月的银行对帐单复印件（企业/个人）',
            filePath: '', filePaths: []
          }, {
            fileName: '最近12个月企业的销售合同、采购合同',
            filePath: '', filePaths: []
          }, {
            fileName: '公司实际控制人财产清单',
            filePath: '', filePaths: []
          }, {
            fileName: '公司实际控制人房产证复印件',
            filePath: '', filePaths: []
          }, {
            fileName: '公司实际控制人土地证复印件',
            filePath: '', filePaths: []
          }, {
            fileName: '公司实际控制人车辆登记证复印件',
            filePath: '', filePaths: []
          }, {
            fileName: '公司实际控制人行车本复印件',
            filePath: '', filePaths: []
          }, {
            fileName: '主要合作客户的购销合同（符合融资条件的当期合同）',
            filePath: '', filePaths: []
          }
        ],
        formData: null,

        //isEnabled:!(this.$route.params.action=='view')
      }
    },
    //props: ['isData'],
    components: {
      // 引入其他组件
      ElButton,
      ElCol,
      ElRow,
      ContentHeader,

    },
    beforeCreate: function () {
      // 组件创建前
    },
    created: function () {
      // 组件创建时执行
      this.formData = new FormData()
      if (this.$route.params.channelId == 0) {

        console.log(this.$store.state.channelId)
        this.formData.append('distId', this.$store.state.channelId)
      } else {
        this.formData.append('distId', this.$route.params.channelId)
      }
      let files = document.getElementsByClassName("myFile")

      //console.log(files[0].files[0].file)
      //return
      /*for(var i=0;i<47;i++){


        this.formData.append("file_" + (i + 1), files[i].files[0].file,files[i].files[0].name);

      }*/
    },
    beforeMount: function () {
    },
    mounted: function () {
      debugger
console.log(this.formData.id)
      for (let i = 0; i < this.fileLists.length; i++) {
        this.fileLists[i] = []
      }

      // 组件挂载结束
      /* this.isEnabled = this.$store.state.isEnabled*/
      if (this.$route.params.channelId != '0') {
        this.getfilelist(this.$route.params.channelId)
      }

    },
    beforeUpdate: function () {
      // 组件挂载结束
    },
    updated: function () {
      // 组件挂载结束
    },
    beforeDestroy: function () {
      // 组件挂载结束
    },
    destroyed: function () {
    },
    computed: {
      // 计算属性
      ...mapState(["size"]),
    },
    methods: {
      // 自定义方法
      /*    selectFile(index) {  // 上传照片

            let files = event.target.files

            for (var i = 0; i < files.length; i++) {
              let file = files[i]

              this.formData.append("file_" + (index + 1) + "_" + i, file, file.name)
            }

          },*/
      getfilelist(id) {
        console.log(this.isEnabled)
        this.$axios.HttpPost('distributor/queryBaseFile', {"distId": id})
          .then((data) => {
            if (data.result) {

              /*if (this.isEnabled) {
                this.tableData3 = data.result
              }*/

              let resultLenth = data.result.length;
              let tableTemp = []
              for (var i = 0; i < resultLenth; i++) {
                var fileNo = data.result[i].fileNo.split('_')[1];

                this.tableData3[fileNo - 1].filePath = data.result[i].filePath

                if (data.result[i].filePath) {
                  //this.tableData3[fileNo - 1].filePaths = data.result[i].filePath.split(',')
                  let fileList = this.tableData3[fileNo - 1].filePaths = []
                  data.result[i].filePath.split(',').forEach(x => fileList.push({name: x}))
                }

                if (!this.isEnabled) {
                  tableTemp.push(this.tableData3[fileNo - 1])
                }
                console.log(data.result[i].filePath)
              }
              if (!this.isEnabled) {
                this.tableData3 = tableTemp
              }

            }
            else {
              if (!this.isEnabled) {
                this.tableData3 = []
              }
            }
          });
      },
      /*uploadFile() {

        let list = []
        let i = 0
        this.tableData3.forEach(x => {
          i++
          if (x.filePaths.length > 0) {
            let addReq = {
              distId: this.$route.params.channelId,
              fileName: x.fileName,
              filePath: x.filePath,
              fileNo: "file_" + i
            }
            list.push(addReq)
          }

        })
        axios.post('distributor/saveImages', list)
          .then(response => {

            this.$message({
                            message: '保存成功',
                            type: 'success'
                          });

            this.$router.push("/register")
            console.log(response.data)
          })

        return

        /!* let loadingInstance = Loading.service({
                                                 lock: true,
                                                 text: 'Loading',
                                                 spinner: 'el-icon-loading',
                                                 background: 'rgba(0, 0, 0, 0.7)'
                                               });
         let config = {
           headers: {'Content-Type': 'application/octet-stream'}
         }
         // 添加请求头
         axios.post('distributor/upload', this.formData, config)
           .then(response => {
             loadingInstance.close()
             this.$message({
                             message: '保存成功',
                             type: 'success'
                           });
             /!*if (response.data.code === 0) {
               self.ImgUrl = response.data.data
             }*!/
             this.$router.push("/register")
             console.log(response.data)
           })*!/
      },*/
      submit() {
        let list = []
        let i = 0
        this.tableData3.forEach(x => {
          i++
          if (x.filePaths.length > 0) {
            let addReq = {
              distId: this.$route.params.channelId ,
              fileName: x.fileName,
              filePath: x.filePath,
              fileNo: "file_" + i
            }
            list.push(addReq)
          }

        })

        axios.post('distributor/submitDistributor',
                   {distId: this.$route.params.channelId, list: list})
          .then(response => {

            this.$message({
                            message: '提交成功',
                            type: 'success'
                          });

            this.$router.push({name: "register"})
          })
      },
      downLoadFile(data) {
        console.log(JSON.stringify(data))
        this.$axios.DownLoad(data.filePath)
      },
      goback() {
        this.$router.go(-1);
      },
      handleSuccess(response, file, fileList) {

        let status = true
        let index = -1
        debugger
        fileList.forEach(x => {
          if (x.status != "success") {
            status = false
            return
          }
        })

        if (status) {
          fileList.forEach(x => {
            if (x.response) {
              debugger
              x.url = x.response.result.fileUrl
              x.name = x.response.result.fileName
              x.response = null
              /* index = x.response.result.fileIndex
               this.tableData3[index].filePaths.push({name: x.response.result.fileName})*/

            }
          })
          this.fileListTemp=fileList

          /*  console.log(this.tableData3[this.indexTemp].filePath)
            var path = []
            fileList.forEach(y => path.push(y.name))

            this.tableData3[this.indexTemp].filePath = path.join()

            console.log(this.tableData3[this.indexTemp].filePath)*/
        }
      },

      removeFile(file, fileLists) {
        /*console.log(this.tableData3[this.indexTemp].filePath)
        let filePath = []
        fileLists.forEach(x => filePath.push(x.name))*/
        /*this.tableData3[this.indexTemp].filePath = filePath.join()
        console.log(this.tableData3[this.indexTemp].filePath)*/
        this.fileListTemp=fileLists
      },
      beforeUpload(file) {

        let imageTypes = ['image/png', 'image/jpeg']

        const isJPG = imageTypes.includes(file.type);

        const isLt2M = file.size / 1024 / 1024 < 2;

        if (!isJPG) {
          this.$message.error('上传文件只能是图片格式!');
        }
        if (!isLt2M) {
          this.$message.error('上传文件大小不能超过 2MB!');
        }
        return isJPG && isLt2M;
      }
      ,
      handleExceed(files, fileList) {

        this.$message.warning(
          `当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
      },
      operate(data, index) {
        this.indexTemp = index
        this.fileListTemp = []
        if (data.filePath) {
          let filePaths = data.filePath.split(',')
          this.loadingText="加载中..."
          axios.post('distributor/queryFiles',
                     {filePath: data.filePath})
            .then(response => {
              this.fileListTemp = []
              let i = 0
              filePaths.forEach(x => {

                this.fileListTemp.push({name: x, url: response.data.result[i]})
                i++
              })
            })
          this.loadingText=""
        }
        this.dialogVisible = true
      },
      handleClose() {
        this.dialogVisible = false
        this.indexTemp = -1
        this.fileListTemp = []
      },
      updImage() {
        let path = []
        console.log(this.fileListTemp)

        this.fileListTemp.forEach(x => path.push(x.name))
        let addReq = {
          distId: this.formData.id,
          fileName: this.tableData3[this.indexTemp].fileName,
          filePath: path.join(),
          fileNo: "file_" + (this.indexTemp+1)
        }


        axios.post('distributor/saveFiles', addReq)
          .then(response => {

            this.$message({
                            message: '保存成功',
                            type: 'success'
                          });
            this.tableData3[this.indexTemp].filePath=addReq.filePath
            this.tableData3[this.indexTemp].filePaths=path

            this.dialogVisible = false

          })


      }
    }
  }
</script>
<style scoped>

</style>
