<template>
  <el-container id="container">
    <el-header class="head-bg">
      <el-row type="flex" align="middle">
        <el-col :span="18">
          <h3>普惠金融信贷零售系统</h3>
        </el-col>
        <el-col :span="3">
          您好 ! <span class="usr-info">{{name}}</span>
        </el-col>
        <el-col :span="3">
          <router-link to="/center">
            <el-button size="mini" name="个人中心"
                        type="primary">个人中心</el-button>
          </router-link>
            <el-button size="mini" @click="exit">退出</el-button>
        </el-col>
      </el-row>
    </el-header>
    <el-container class="index-container">
      <el-aside>
        <el-menu router class="el-menu-vertical"  >
          <el-submenu v-for="item,idx in auths" :index="((idx+1).toString())" :key="idx" :data="idx">
            <template slot="title">
              <i class="el-icon-news"></i>
              <span><b>{{item.name}}</b></span>
            </template>
            <el-menu-item v-for=" child,index in item.subMenu" :name="child.name"
                          :route="child.script"
                          :data="child.script" @click="addTab($event)"
                          :index="idx+'-'+index+1" :key="index">{{child.name}}
            </el-menu-item>
          </el-submenu>
        </el-menu>
      </el-aside>
      <el-main id="main">
        <el-tabs v-model="editableTabsValue" type="card" closable @tab-click="switchTabs" @tab-remove="removeTab">
          <el-tab-pane
            :key="item.name"
            v-for="(item, index) in editableTabs"
            :label="item.title"
            :name="item.name">
          </el-tab-pane>
          <div class="welcome" v-if="this.$route.path == '/index'">
            <h2>欢迎使用，普惠金融信贷零售系统</h2>

          </div>
          <router-view></router-view>
        </el-tabs>
      </el-main>
    </el-container>
  </el-container>
</template>
<script>
    import ElContainer from "../../node_modules/element-ui/packages/container/src/main.vue";
    import ElHeader from "../../node_modules/element-ui/packages/header/src/main.vue";
    import ElButton from "../../node_modules/element-ui/packages/button/src/button.vue";
    import ElAside from "../../node_modules/element-ui/packages/aside/src/main.vue";
    import ElMenu from "../../node_modules/element-ui/packages/menu/src/menu.vue";
    import ElTabs from "../../node_modules/element-ui/packages/tabs/src/tabs.vue";
    import ElTabPane from "../../node_modules/element-ui/packages/tabs/src/tab-pane.vue";
    import ElSubmenu from "../../node_modules/element-ui/packages/menu/src/submenu.vue";
    export default {
        data() {
            return {
              auths:[],
              name: '',
              editableTabsValue:'',
              editableTabs: [],
              sizeOptions:[{
                value:"mini",
                label:"小"
              },{
                value:"small",
                label:"中"
              },{
                value:"medium",
                label:"大"
              },]
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
          // 引入其他组件
          ElSubmenu,
          ElTabPane,
          ElTabs,
          ElMenu,
          ElAside,
          ElButton,
          ElHeader,
          ElContainer
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
          this.autodivheight()
          this.getloginName()
          this.getmenus()
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
      watch: {
        $route(to, from) {
          // this.routerTab(to.fullPath)
          this.routerSwitch(to.fullPath)
          console.log(to.fullPath);
          console.log(from);
        }
      },
      methods: {
            // 自定义方法
          autodivheight(){
            //函数：获取尺寸
            //获取浏览器窗口高度
            let winHeight=0;
            if (window.innerHeight)
              winHeight = window.innerHeight;
            else if ((document.body) && (document.body.clientHeight))
              winHeight = document.body.clientHeight;
            //通过深入Document内部对body进行检测，获取浏览器窗口高度
            if (document.documentElement && document.documentElement.clientHeight)
              winHeight = document.documentElement.clientHeight;
            //DIV高度为浏览器窗口的高度
            document.getElementById("container").style.height= winHeight +"px";
            document.getElementsByClassName("el-menu-vertical")[0].style.height= winHeight-60 +"px";
          },
          addTab(e) {
            let tabId = event.currentTarget.getAttribute('data')// 当前点击id
            let tabName = event.currentTarget.getAttribute('name')// 当前点击id
            let tabs = this.editableTabs;
            let pushFlag = true;
            tabs.forEach((tab, index) => {
              if (tab.name === tabId) {
                pushFlag = false;
              }
            });
            if(pushFlag){
              this.editableTabs.push({
                title: tabName,
                name: tabId,
                //content: tabName+' content'
              });
            }
            this.editableTabsValue = tabId;
          },
          routerSwitch(targetName){
            this.editableTabsValue = targetName;
          },
          removeTab(targetName) {
            let tabs = this.editableTabs;
            let activeName = this.editableTabsValue;
            if (activeName === targetName) {
              tabs.forEach((tab, index) => {
                console.log(tab.name)
                if (tab.name === targetName) {
                  let nextTab = tabs[index + 1] || tabs[index - 1];
                  if (nextTab) {
                    activeName = nextTab.name;
                  }
                }
              });
            }
            if(tabs.length == 1){
              this.$router.push('/index')
            }else {
              this.$router.push(activeName)
            }
            this.editableTabsValue = activeName;
            this.editableTabs = tabs.filter(tab => tab.name !== targetName);
          },
          exit(){
            this.$axios.HttpPost('logout',this.formData)
              .then((data) => {
                if(data.code=='100000'){
                  //alert(JSON.stringify(data))
                  this.$store.commit('changeToken',0)

                  this.$router.push('/login')
                }
              });
          },
          switchTabs(tab){
            //点击顶部tabs切换页面
            var targetName = tab.$options.propsData.name
            this.$router.push({path:targetName})
          },
          getloginName(){
            this.$axios.HttpPost('sysUser/getLoginUser',{})
              .then((data) => {
                //alert(JSON.stringify(data))
                if(data.code=='100000'){
                 this.name=data.result.username
                }
              });
          },
          getmenus(){
            this.$axios.HttpPost('sysAuth/getAuth',{})
              .then((data) => {
                //alert(JSON.stringify(data))
                if(data.code=='100000'){
                  this.auths=data.result
                  console.log(data.result)
                }
              });
          }
        }
    }
</script>
<style scoped>
  .head-bg{
    background-color: #092a52;
    color: #fff;
    font-weight: 700;
  }
  .el-aside {
    width: 194px !important;
    height: 100%;
    z-index: 2005;
  }
  .el-main{
    padding: 0;
  }
  .welcome{
    text-align: center;
    color: midnightblue;
  }
  .head-bg{
    z-index: 10000;
  }
  .index-container .el-tabs__header{
    z-index: 10000;
  }
</style>
