<template>
      <el-container id="container">
        <el-header height="200px" class="head-bg">
          <el-row type="flex" justify="space-around" align="middle">
            <el-col style="margin-top: 34px" :span="10">
                <h1>普惠金融信贷零售系统</h1>
            </el-col>
          </el-row>
        </el-header>
        <el-main>
          <el-row type="flex" justify="center">
            <el-col  :span="6">
              <el-form @keyup.enter.native="login('loginForm')" :model="loginForm" status-icon :rules="rules2" ref="loginForm" label-width="100px" class="loginForm">
                <el-form-item label="用户名" prop="username">
                  <el-input type="text" v-model="loginForm.username" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="password">
                  <el-input type="password" v-model="loginForm.password" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="验证码" prop="captcha">
                  <el-input type="text" v-model="loginForm.captcha" auto-complete="off">
                  </el-input>
                  <img class="vimg" width="100px" @click="changeImg" :src="imgSrc" alt="验证码"/>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @key.enter.native="login('loginForm')" @click="login('loginForm')">登录
                    </el-button>
                </el-form-item>
              </el-form>
            </el-col>
          </el-row>
        </el-main>
        <Footer></Footer>
      </el-container>
</template>
<script>
    import ElContainer from "../../node_modules/element-ui/packages/container/src/main.vue";
    import ElHeader from "../../node_modules/element-ui/packages/header/src/main.vue";
    import ElMain from "../../node_modules/element-ui/packages/main/src/main.vue";
    import ElRow from "element-ui/packages/row/src/row";
    import Footer from "./footer.vue"
    import axios from 'axios'
    import ElFormItem from "../../node_modules/element-ui/packages/form/src/form-item.vue";
    export default {
        data() {
          var validateAuthor = (rule, value, callback) => {
            if (value === '') {
              callback(new Error('请输入用户名'));
            }else{
              callback();
            }
          };
          var validatePass2 = (rule, value, callback) => {
            if (value === '') {
              callback(new Error('请输入密码'));
            } else {
              callback();
            }
          };
          var validateCaptcha = (rule, value, callback) => {
            if (value === '') {
              callback(new Error('请输入验证码'));
            } else {
              callback();
            }
          };
          return {
            imgSrc:'',
            loginForm: {
              username: '',
              password: '',
              captcha:''
            },
            rules2: {
              username: [
                { validator: validateAuthor, trigger: 'blur' }
              ],
              password: [
                { validator: validatePass2, trigger: 'blur' }
              ],
              captcha: [
                { validator: validateCaptcha, trigger: 'blur' }
              ],
            }
          };
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
          // 引入其他组件
          ElFormItem,
          ElRow,
          ElMain,
          ElHeader,
          ElContainer,
          Footer
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
          this.autodivheight()
          this.initImg()
          window.onresize = this.autodivheight
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
          //动态设置高度
          autodivheight(){
            //函数：获取尺寸
            //获取浏览器窗口高度
            let winHeight=0;
            if (window.innerHeight)
              winHeight = window.innerHeight;
            else if ((document.body) && (document.body.clientHeight))
              winHeight = document.body.clientHeight;
            //通过深入Document内部对body进行检测，获取浏览器窗口高度
            if (document.documentElement && document.documentElement.clientHeight)
              winHeight = document.documentElement.clientHeight;
            //DIV高度为浏览器窗口的高度
            document.getElementById("container").style.height= winHeight +"px";
          },
          login(formName) {
              this.$refs[formName].validate((valid) => {
               if (valid) {
                  this.$axios.HttpPost('dologin',this.loginForm)
                    .then((data) => {
                      this.$store.commit('changeToken',1)

                      this.$router.push('/index')
                    });
              } else {
                 this.$message({
                   message: '登录信息有误，请检查',
                   type: 'warning'
                 });
                return false;
              }
            });
          },
          changeImg(event){
            event.currentTarget.setAttribute('src','/credit/kaptcha/getKaptchaImage?v='+Math.random())
          },
          initImg(){
            setTimeout(() => {
              this.imgSrc = '/credit/kaptcha/getKaptchaImage?v='+Math.random();
            }, 1000);
          }
        }
    }
</script>
<style scoped>
  .head-bg{
    background-color: #092a52;
    color: #fff;
    font-size: 26px;
    font-weight: 700;
  }

  .loginForm{
    padding-top: 100px;
  }
  .vimg{
    position: absolute;
    top: 1px;
    right: 0;
  }
</style>
