<template>
    <div>
      <el-form :size="$store.state.size" :inline="true"
               ref="formInline" :model="formInline" class="demo-form-inline">
        <el-row  :gutter="15">
          <el-col :offset="1" :span="5">
            <el-form-item label="勾稽规则名称" prop="custName">
              <el-input v-model="formInline.custName" placeholder="勾稽规则名称"></el-input>
            </el-form-item>
          </el-col>
          <el-col :offset="1" :span="8">
            <el-button type="primary" @click="queryList" :size="$store.state.size">查询</el-button>
            <el-button type="primary" @click="queryList" :size="$store.state.size">新增</el-button>
          </el-col>
        </el-row>
      </el-form>

      <el-row>
        <ContentHeader class="contentHead" :queryTitle="'查询列表'"></ContentHeader>
        <el-col :span="24">
          <el-table
            :size="$store.state.size"
            :data="tableData3"
            style="width: 100%">
            <el-table-column
              prop="index"
              label="序号">
            </el-table-column>
            <el-table-column
              prop="code1"
              label="勾稽名称">
            </el-table-column>
            <el-table-column
              prop="code2"
              label="规则认证">
            </el-table-column>
            <el-table-column
              prop="code3"
              label="取值形式">
            </el-table-column>
            <el-table-column
              prop="code4"
              label="取值类型">
            </el-table-column>
            <el-table-column
              prop="code5"
              label="取值范围">
            </el-table-column>
            <el-table-column
              prop="code6"
              label="命中策略">
            </el-table-column>
            <el-table-column
              fixed="right"
              label="操作">
              <el-button size="mini"
                         type="success"
              >修改</el-button>
              <el-button size="mini"
                         type="success"
              >删除</el-button>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <el-row style="margin-top: 15px" v-if="Number(totalPages)>10" type="flex" justify="center">
        <el-pagination
          :page-size="formInline.size"
          @current-change="handleCurrentChange"
          :current-page.sync="pageNo"
          layout="total, prev, pager, next, jumper"
          :total="totalPages">
        </el-pagination>
      </el-row>
    </div>
</template>
<script>
    import ElRow from "element-ui/packages/row/src/row";
    import ElCol from "element-ui/packages/col/src/col";
    import ElForm from "../../../node_modules/element-ui/packages/form/src/form.vue";
    import ContentHeader from "../contentHeader.vue"

    export default {
        data() {
            return {
              productName:'',
              queryData:{
                name: '',
                periods:'',
                rate:'',
                status:'',
                beginDate:'',
                endDate:'',
                page:1,
                size:10},
              formInline: {
                name: '',
                periods:'',
                rate:'',
                status:'',
                beginDate:'',
                endDate:'',
                page:1,
                size:10
              },
              totalPages:0,
              value1:'',
              tableData3: [{"index":"1","code1":"芝麻信用分","code2":"芝麻信用分","code3":"小于","code4":"数值","code5":"500","code6":"不通过"},
                {"index":"2","code1":"逾期信息","code2":"逾期信息","code3":"包含","code4":"库","code5":"逾期信息库","code6":"不通过"},
                {"index":"3","code1":"设备反欺诈","code2":"设备反欺诈","code3":"包含","code4":"库","code5":"设备反欺诈库","code6":"转人工"},
                {"index":"4","code1":"手机运营商","code2":"手机运营商","code3":"等于","code4":"数值","code5":"无","code6":"通过"},
                {"index":"5","code1":"交易反欺诈","code2":"交易反欺诈","code3":"包含","code4":"库","code5":"交易反欺诈库","code6":"不通过"},
                {"index":"6","code1":"手机实名制","code2":"手机实名制","code3":"不包含","code4":"库","code5":"手机实名认证库","code6":"转人工"},
                {"index":"7","code1":"手机在网时长","code2":"手机在网时长","code3":"小于","code4":"日期","code5":"3年","code6":"通过"},
                {"index":"8","code1":"手机在网状态","code2":"手机在网状态","code3":"等于","code4":"数值","code5":"不正常","code6":"不通过"},
                {"index":"9","code1":"同盾分数","code2":"同盾分数","code3":"小于","code4":"数值","code5":"500","code6":"不通过"},
                {"index":"10","code1":"百融分数","code2":"百融分数","code3":"小于","code4":"数值","code5":"500","code6":"不通过"}],
              pageNo:1,
              queryRules:{
              }
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
          // 引入其他组件
          ElForm,
          ElCol,
          ElRow,
          ContentHeader
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
          // 自定义方法
          queryList(formName){


          },
          handleCurrentChange(val){
            this.formInline.page = val
            this.queryData.page = val
          },
          queryForm(){
            this.pageNo=1;
            this.queryData=this.formInline
          }
        }
    }
</script>
<style scoped>
  .contentHead{
    margin: 10px 0 10px 0;
  }
  .el-table .warning-row {
    display: none;
  }
</style>
