<template>
    <div>
      <el-form :size="$store.state.size" :inline="true"
               ref="formInline" :model="formInline" class="demo-form-inline">
        <el-row  :gutter="10">
          <el-col :offset="1" :span="2">
            <el-button type="primary" @click="queryList" :size="$store.state.size">新增催收组</el-button>
          </el-col>
        </el-row>
      </el-form>

      <el-row>
        <ContentHeader class="contentHead" :queryTitle="'查询列表'"></ContentHeader>
        <el-col :span="24">
          <el-table
            :size="$store.state.size"
            :data="tableData3"
            style="width: 100%">
            <el-table-column
              prop="index"
              label="序号">
            </el-table-column>
            <el-table-column
              prop="code1"
              label="催收组名称">
            </el-table-column>
            <el-table-column
              prop="code2"
              label="催收产品">
            </el-table-column>
            <el-table-column
              prop="code3"
              label="催收阶段">
            </el-table-column>
            <el-table-column
              fixed="right"
              label="操作">
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <el-row style="margin-top: 15px" v-if="Number(totalPages)>10" type="flex" justify="center">
        <el-pagination
          :page-size="formInline.size"
          @current-change="handleCurrentChange"
          :current-page.sync="pageNo"
          layout="total, prev, pager, next, jumper"
          :total="totalPages">
        </el-pagination>
      </el-row>
    </div>
</template>
<script>
    import ElRow from "element-ui/packages/row/src/row";
    import ElCol from "element-ui/packages/col/src/col";
    import ElForm from "../../../node_modules/element-ui/packages/form/src/form.vue";
    import ContentHeader from "../contentHeader.vue"

    export default {
        data() {
            return {
              productName:'',
              queryData:{
                name: '',
                periods:'',
                rate:'',
                status:'',
                beginDate:'',
                endDate:'',
                page:1,
                size:10},
              formInline: {
                name: '',
                periods:'',
                rate:'',
                status:'',
                beginDate:'',
                endDate:'',
                page:1,
                size:10
              },
              totalPages:0,
              value1:'',
              tableData3: [{"index":"1","code1":"40天催收","code2":"桔子分期消费贷3C","code3":"第四阶段"},{"index":"2","code1":"30天催收","code2":"桔子分期消费贷3C","code3":"第三阶段"},
                {"index":"3","code1":"15天催收","code2":"桔子分期消费贷3C","code3":"第二阶段"},{"index":"4","code1":"8天催收","code2":"桔子分期消费贷3C","code3":"第一阶段"},
                {"index":"5","code1":"1天催收","code2":"桔子分期消费贷3C","code3":"开始阶段"}],
              pageNo:1,
              queryRules:{
              }
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
          // 引入其他组件
          ElForm,
          ElCol,
          ElRow,
          ContentHeader
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
          // 自定义方法
          queryList(formName){


          },
          handleCurrentChange(val){
            this.formInline.page = val
            this.queryData.page = val
          },
          queryForm(){
            this.pageNo=1;
            this.queryData=this.formInline
          }
        }
    }
</script>
<style scoped>
  .contentHead{
    margin: 10px 0 10px 0;
  }
  .el-table .warning-row {
    display: none;
  }
</style>
