<template>
    <div>
      <el-form :size="$store.state.size" :inline="true"
               ref="formInline" :model="formInline" class="demo-form-inline">
        <el-row  :gutter="15">
          <el-col :offset="1" :span="5">
            <el-form-item label="合同编号" prop="policyNo">
              <el-input v-model="formInline.policyNo" placeholder="合同编号"></el-input>
            </el-form-item>
          </el-col>
          <el-col  :span="5">
            <el-form-item label="渠道商" prop="coperName">
              <el-input v-model="formInline.coperName" placeholder="渠道商"></el-input>
            </el-form-item>
          </el-col>
          <el-col  :span="5">
            <el-form-item label="产品名称" prop="productName">
              <el-input v-model="formInline.productName" placeholder="产品名称"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row  :gutter="15">
          <el-col :offset="1" :span="5">
            <el-form-item label="客户姓名" prop="custName">
              <el-input v-model="formInline.custName" placeholder="客户姓名"></el-input>
            </el-form-item>
          </el-col>
          <el-col  :span="5">
            <el-form-item label="身份证号" prop="idNo">
              <el-input v-model="formInline.idNo" placeholder="身份证号"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row  :gutter="10">
          <el-col :offset="1" :span="10">
            <el-form-item label="放款日期" prop="startDate">
              <el-date-picker
                v-model="formInline.startDate"
                type="date"
                format="yyyy 年 MM 月 dd 日"
                value-format="yyyy-MM-dd"
                placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
            <el-form-item label="-" prop="endDate">
              <el-date-picker
                v-model="formInline.endDate"
                format="yyyy 年 MM 月 dd 日"
                value-format="yyyy-MM-dd"
                type="date"
                placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :offset="1" :span="2">
            <el-button type="primary" @click="queryList" :size="$store.state.size">查询</el-button>
          </el-col>
        </el-row>
      </el-form>

      <el-row>
        <ContentHeader class="contentHead" :queryTitle="'查询列表'"></ContentHeader>
        <el-col :span="24">
          <el-table
            :size="$store.state.size"
            :data="tableData3"
            style="width: 100%">
            <el-table-column
              prop="index"
              label="序号">
            </el-table-column>
            <el-table-column
              prop="code1"
              label="合同编号">
            </el-table-column>
            <el-table-column
              prop="code2"
              label="产品名称">
            </el-table-column>
            <el-table-column
              prop="code3"
              label="渠道商">
            </el-table-column>
            <el-table-column
              prop="code4"
              label="客户姓名">
            </el-table-column>
            <el-table-column
              prop="code5"
              label="身份证号">
            </el-table-column>
            <el-table-column
              prop="code6"
              label="放款日期">
            </el-table-column>
            <el-table-column
              prop="code7"
              label="贷款金额">
            </el-table-column>
            <el-table-column
              prop="code8"
              label="还款日期">
            </el-table-column>
            <el-table-column
              prop="code9"
              label="期数">
            </el-table-column>
            <el-table-column
              prop="code10"
              label="逾期金额">
            </el-table-column>
            <el-table-column
              prop="code11"
              label="申请时间">
            </el-table-column>
            <el-table-column
              prop="code12"
              label="展期状态">
            </el-table-column>
            <el-table-column
              prop="code13"
              label="展期期数">
            </el-table-column>
            <el-table-column
              fixed="right"
              label="操作">
              <el-button size="mini"
                         type="success"
              >申请</el-button>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <el-row style="margin-top: 15px" v-if="Number(totalPages)>10" type="flex" justify="center">
        <el-pagination
          :page-size="formInline.size"
          @current-change="handleCurrentChange"
          :current-page.sync="pageNo"
          layout="total, prev, pager, next, jumper"
          :total="totalPages">
        </el-pagination>
      </el-row>
    </div>
</template>
<script>
    import ElRow from "element-ui/packages/row/src/row";
    import ElCol from "element-ui/packages/col/src/col";
    import ElForm from "../../../node_modules/element-ui/packages/form/src/form.vue";
    import ContentHeader from "../contentHeader.vue"

    export default {
        data() {
            return {
              productName:'',
              queryData:{
                name: '',
                periods:'',
                rate:'',
                status:'',
                beginDate:'',
                endDate:'',
                page:1,
                size:10},
              formInline: {
                name: '',
                periods:'',
                rate:'',
                status:'',
                beginDate:'',
                endDate:'',
                page:1,
                size:10
              },
              totalPages:0,
              value1:'',
              tableData3: [{"index":"1","code1":"12312312","code2":"消费贷","code3":"桔子分期","code4":"张三","code5":"11030398708091237",
                "code6":"2017-09-03","code7":"8,888.0","code8":"2017-02-01","code9":"1/3","code10":"1000.00","code11":"2017-02-01 10：00：00",
                "code12":"申请中","code13":"3"}],
              pageNo:1,
              queryRules:{
              }
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
          // 引入其他组件
          ElForm,
          ElCol,
          ElRow,
          ContentHeader
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
          // 自定义方法
          queryList(formName){


          },
          handleCurrentChange(val){
            this.formInline.page = val
            this.queryData.page = val
          },
          queryForm(){
            this.pageNo=1;
            this.queryData=this.formInline
          }
        }
    }
</script>
<style scoped>
  .contentHead{
    margin: 10px 0 10px 0;
  }
  .el-table .warning-row {
    display: none;
  }
</style>
