.index-container .el-tabs__header {
  padding: 0;
  position: absolute;
  margin-left: -194px;
  z-index: 2004;
  background-color: #fff;
  width:100%;
}
.index-container .el-tabs__nav-wrap {
  overflow: hidden;
  margin-bottom: -1px;
  position: relative;
  margin-left: 194px;
}
.index-container .el-tabs__content {
  overflow: hidden;
  position: relative;
  padding-top: 48px;
}

.basicTab .el-tabs__header {
  padding: 0;
  position: absolute;
  margin-left: 0;
  z-index: 200;
  background-color: #fff;
  width: 90%;
}
.basicTab .el-tabs__nav-wrap{
  margin-bottom: -1px;
    position: relative;
    margin-left: 0;
}