<template>
  <div>
    <el-row>
      <el-col :offset="1">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>产品管理</el-breadcrumb-item>
          <el-breadcrumb-item to="/productMaintenance">产品信息维护</el-breadcrumb-item>
          <el-breadcrumb-item>产品新增</el-breadcrumb-item>
        </el-breadcrumb>
      </el-col>
    </el-row>
    <el-row style="margin-top: 20px">
      <ContentHeader style="margin-bottom: 20px" :queryTitle="'渠道商产品信息'"></ContentHeader>
      <el-col :offset="2" :span="20">
        <el-form label-width="150px" :model="productForm" :rules="proRules" ref="productForm"
                 :size="$store.state.size">
          <el-col :span="10">
          </el-col>
          <el-col :span="10">
          </el-col>
          <el-row>
            <el-col span="10">
              <el-form-item label="产品名称" prop="name">
                <el-input v-model="productForm.name" :disabled="!this.isDisable"></el-input>
              </el-form-item>
            </el-col>
            <el-col span="10">
              <el-form-item label="每期还款日" prop="repayDayModel">
                <el-select v-model="productForm.repayDayModel" placeholder="每期还款日">
                  <el-option
                    v-for="item in repayDayModelOptions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col span="10">
              <el-form-item label="产品期限类型" prop="periodType">
                <el-radio-group v-model="productForm.periodType">
                  <el-radio label="1">月</el-radio>
                  <el-radio label="2">天</el-radio>
                </el-radio-group>
              </el-form-item>
            </el-col>
            <el-col span="10">
              <el-form-item label="产品最大期限" prop="periods">
                <el-input v-model="productForm.periods" :disabled="!this.isDisable"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col span="10">
              <el-form-item label="产品利率类型" prop="rateType">
                <el-radio-group v-model="productForm.rateType">
                  <el-radio label="1">日利率</el-radio>
                  <el-radio label="2">月利率</el-radio>
                  <el-radio label="3">年利率</el-radio>
                </el-radio-group>
              </el-form-item>
            </el-col>
            <el-col span="10">
              <el-form-item label="产品利率" prop="rate">
                <el-input v-model="productForm.rate" :disabled="!this.isDisable">
                  <template slot="append">%</template>
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col span="10">
              <el-form-item label="还款方式" prop="repayMode">
                <el-select v-model="productForm.repayMode" placeholder="还款方式">
                  <el-option
                    v-for="item in repayModeOptions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col span="10">
              <el-form-item label="区域限制">
                <el-cascader
                  :options="cities"
                  v-model="productForm.limitAddress"
                  :change-on-select="true"
                  :clearable="true"
                  :filterable="true" :enabled="true"
                  @change="handleChange">
                </el-cascader>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col span="10">
              <el-form-item label="保证金比例" prop="depositPct">
                <el-input v-model="productForm.depositPct" placeholder="保证金比例">
                  <template slot="append">%</template>
                </el-input>
              </el-form-item>
            </el-col>
            <el-col span="10">
              <el-form-item label="额度范围">
                <el-col :span="11">
                  <el-form-item prop="minAmount">
                    <el-input v-model="productForm.minAmount"
                              :disabled="!this.isDisable" id="minInput"></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="1">-</el-col>
                <el-col :span="11">
                  <el-form-item prop="maxAmount">
                    <el-input v-model="productForm.maxAmount"
                              :disabled="!this.isDisable" id="maxInput"></el-input>
                  </el-form-item>
                </el-col>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col span="10">
              <el-form-item label="履约险" prop="honourVenture">
                <el-radio-group v-model="productForm.honourVenture">
                  <el-radio label="1">有</el-radio>
                  <el-radio label="0">无</el-radio>
                </el-radio-group>
              </el-form-item>
            </el-col>
            <el-col span="10">
              <el-form-item label="渠道商兜底比例" prop="fallbackPct">
                <el-input v-model="productForm.fallbackPct" :disabled="!this.isDisable">
                  <template slot="append">%</template>
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col span="10">
              <el-form-item label="我方罚息分成" prop="defaultInterestPct">
                <el-input v-model="productForm.defaultInterestPct" placeholder="我方罚息分成">
                  <template slot="append">%</template>
                </el-input>
              </el-form-item>
            </el-col>
            <el-col span="10">
              <el-form-item label="管理费" prop="managePct">
                <el-input v-model="productForm.managePct" :disabled="!this.isDisable">
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col span="10">
              <el-form-item label="服务费率" prop="servicePct">
                <el-input v-model="productForm.servicePct" placeholder="服务费率">
                  <template slot="append">%</template>
                </el-input>
              </el-form-item>
            </el-col>
            <el-col span="10">

              <el-form-item label="审核费率" prop="auditPct">
                <el-input v-model="productForm.auditPct" :disabled="!this.isDisable">
                  <template slot="append">%</template>
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col span="10">
              <el-form-item label="逾期宽限期" prop="extendDate">
                <el-input v-model="productForm.extendDate" placeholder="逾期宽限期">
                </el-input>
              </el-form-item>
            </el-col>
            <el-col span="10">
              <el-form-item label="退货免息期" prop="freePeriod">
                <el-input v-model="productForm.freePeriod" placeholder="退货免息期">
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col span="10">
              <el-form-item label="罚息比例" prop="defaultPct">
                <el-input v-model="productForm.defaultPct" :disabled="!this.isDisable">
                  <template slot="append">%</template>
                </el-input>
              </el-form-item>
            </el-col>
            <el-col span="10"></el-col>
          </el-row>
        </el-form>
      </el-col>
    </el-row>
    <el-row type="flex" justify="center">
      <el-col :span="2">
        <el-button type="primary" @click="saveInfo('productForm')" :size="$store.state.size">保存
        </el-button>
      </el-col>
      <el-col :span="2">
        <el-button type="primary" @click="submitInfo('productForm')" :size="$store.state.size">提交
        </el-button>
      </el-col>
      <el-col :span="2">
        <router-link to="/productMaintenance">
          <el-button :size="$store.state.size">返回</el-button>
        </router-link>
      </el-col>
    </el-row>
  </div>
</template>
<script>
  import ElRow from "element-ui/packages/row/src/row";
  import ElCol from "element-ui/packages/col/src/col";
  import ElInput from "../../../node_modules/element-ui/packages/input/src/input.vue";
  import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
  import ContentHeader from "../contentHeader.vue"
  import cityinfo from '../../../static/js/city-data.js'
  export default {
    data() {
      var validatename = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入信息'));
        } else {
          callback();
        }
      };
      var rateRole = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入信息'));
        } else {
          setTimeout(() => {
            if (isNaN(value)) {
              callback(new Error('请输入数字值'));
            } else {
              if (Number(value) < 0) {
                callback(new Error('请输入大于0的数字'));
                this.productForm[rule.field] = '';
              } else {
                callback();
              }
            }
          }, 1000);
        }
      };
      var rateRole2 = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入信息'));
        } else {
          setTimeout(() => {
            if (isNaN(value)) {
              callback(new Error('请输入数字值'));
            } else {
              if (Number(value) < 1) {
                callback(new Error('请输入大于1的数字'));
                this.productForm[rule.field] = '';
              } else {
                callback();
              }
            }
          }, 1000);
        }
      };
      var positive = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入信息'));
        } else {
          setTimeout(() => {
            if (isNaN(value)) {
              callback(new Error('请输入数字值'));
            } else {
              if (100 < Number(value) || Number(value) < 0) {
                callback(new Error('请输入0-100的数字'));
                this.productForm[rule.field] = '';
              } else {
                callback();
              }
            }
          }, 1000);
        }
      };
      var positive2 = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入信息'));
        } else {
          setTimeout(() => {
            if (isNaN(value)) {
              callback(new Error('请输入数字值'));
            } else {
              if (100 < Number(value) || Number(value) < 1) {
                callback(new Error('请输入1-100的数字'));
                this.productForm[rule.field] = '';
              } else {
                callback();
              }
            }
          }, 1000);
        }
      };
      var mountCk = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入信息'));
        } else {
          setTimeout(() => {
            if (isNaN(value)) {
              callback(new Error('请输入数字值'));
            } else {
              if (Number(value) < 0) {
                callback(new Error('请输入大于0的数字'));
              } else {
                if(this.productForm.maxAmount != '' && this.productForm.minAmount != ''){
                  if(Number(this.productForm.maxAmount) < Number(this.productForm.minAmount)){
                    callback(new Error('范围错误'));
                  }else{
                    callback();
                  }
                }else{
                  callback();
                }
              }
            }
          }, 1000);
        }
      };
      return {
        cities: cityinfo,
        limitAddress: ['北京', '北京市', '东城区'],
        isDisable: 1,
        value2: '',
        productForm: {
          name: '',//产品名称
          minAmount: '',//额度范围
          maxAmount: '',
          periodType: '',//产品期限类型 月 天
          periods: '',//产品期限
          rateType: '',//利率类型
          rate: '',//利率
          repayMode: '',//还款方式
          defaultPct: '',//罚息比例
          depositPct: '',//保证金比例
          honourVenture: '',//履约险
          fallbackPct: '',//渠道商兜底比例
          defaultInterestPct: '',//我方罚息分成
          managePct: '',//管理费
          servicePct: '',//服务费率
          auditPct: '',//审核费率
          extendDate: '',//逾期宽限期
          freePeriod: '',//退货免息期
          repayDayModel: '',//每期还款日
          provinceLimit: '',
          cityLimit: '',
          areaLimit: '',
        },
        repayModeOptions: [{
          value: '1',
          label: '等额本息'
        }, {
          value: '2',
          label: '等额本金'
        }],
        repayDayModelOptions: [{
          value: '1',
          label: '日对日'
        }, {
          value: '2',
          label: '固定日'
        }],
        /* provinceLimit:[],
         cityLimit:[],
         areaLimit:[],*/
        proRules: {
          repayDayModel: [
            {required: true, validator: validatename, trigger: 'change'}
          ],
          honourVenture: [
            { required: true,validator: validatename, trigger: 'change' }
          ],
          repayMode: [
            {required: true, validator: validatename, trigger: 'change'}
          ],
          defaultInterestPct: [
            {required: true, validator: positive, trigger: 'blur'}
          ],
          managePct: [
            {required: true, validator: positive, trigger: 'blur'}
          ],
          periods: [
            {required: true, validator: rateRole2, trigger: 'blur'}
          ],
          extendDate: [
            {required: true, validator: rateRole, trigger: 'blur'}
          ],
          freePeriod: [
            {required: true, validator: rateRole, trigger: 'blur'}
          ],
          minAmount: [
            {required: true, validator: mountCk, trigger: 'blur'}
          ],
          maxAmount: [
            {required: true, validator: mountCk, trigger: 'blur'}
          ],
          rate: [
            {required: true, validator: positive, trigger: 'blur'}
          ],
          defaultPct: [
            {required: true, validator: positive, trigger: 'blur'}
          ],
          depositPct: [
            {required: true, validator: positive2, trigger: 'blur'}
          ],
          servicePct: [
            {required: true, validator: positive, trigger: 'blur'}
          ],
          auditPct: [
            {required: true, validator: positive, trigger: 'blur'}
          ],
          fallbackPct: [
            {required: true, validator: positive, trigger: 'blur'}
          ],
          name: [
            {required: true, validator: validatename, trigger: 'blur'}
          ],
          periodType: [
            {required: true, message: '请选择期限类型', trigger: 'change'}
          ],
          rateType: [
            {required: true, message: '请选择利率类型', trigger: 'change'}
          ]
        }
      }
    },
    props: {
      // 父组件传过来的值
      someValue: String
    },
    components: {
      ElButton,
      ElInput,
      ElCol,
      ElRow,
      ContentHeader
      // 引入其他组件
    },
    beforeCreate: function () {
      // 组件创建前
    },
    created: function () {
      // 组件创建时执行
    },
    beforeMount: function () {
    },
    mounted: function () {
      // 组件挂载结束
      //this.initProvinceLimit();
    },
    beforeUpdate: function () {
      // 组件挂载结束
    },
    updated: function () {
      // 组件挂载结束
    },
    beforeDestroy: function () {
      // 组件挂载结束
    },
    destroyed: function () {
    },
    computed: {
      // 计算属性
    },
    methods: {
      // 自定义方法
      submitInfo(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.$axios.HttpPost('product/add', this.productForm)
              .then((data) => {
                this.$alert('新增产品成功', '提示', {
                  confirmButtonText: '确定',
                  callback: action => {
                    this.$router.push('/productMaintenance')
                  }
                });
              });
          } else {
            this.$message({
                            message: '信息有误，请检查',
                            type: 'warning'
                          });
            return false;
          }
        });
      },
      saveInfo() {
        this.$axios.HttpPost('product/save', this.productForm)
          .then((data) => {
            this.$alert('保存产品成功', '提示', {
              confirmButtonText: '确定',
              callback: action => {
                this.$router.push('/productMaintenance')
              }
            });
          });
      },
      /*initProvinceLimit(){
        this.$axios.HttpPost('areas/list',{})
          .then((data) => {
            this.provinceLimit = data.result;
          });
      },
      provinceLimitChange(val){
        this.$axios.HttpPost('areas/list',{"parentId":val})
          .then((data) => {
            this.cityLimit = data.result;
          });
      },
      cityLimitChange(val){
        this.$axios.HttpPost('areas/list',{"parentId":val})
          .then((data) => {
            this.areaLimit = data.result;
          });
      }*/
      handleChange() {
        this.productForm.provinceLimit = this.limitAddress[0]
        this.productForm.cityLimit = this.limitAddress[1]
        this.productForm.areaLimit = this.limitAddress[2]
      },
    }
  }
</script>
<style scoped>

</style>
