<template>
  <div>
    <el-row>
      <el-col :offset="1">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>产品管理</el-breadcrumb-item>
          <el-breadcrumb-item to="/productMaintenance">产品信息维护</el-breadcrumb-item>
          <el-breadcrumb-item>产品审核</el-breadcrumb-item>
        </el-breadcrumb>
      </el-col>
    </el-row>
    <el-row style="margin-top: 20px">
      <ContentHeader style="margin-bottom: 20px" :queryTitle="'渠道商产品审核'"></ContentHeader>
      <el-col :offset="2" :span="20">
        <el-form label-width="150px" :model="productForm"  ref="productForm" :size="$store.state.size">
          <el-col :span="10">
            <el-form-item label="产品编号">
              <el-input v-model="productForm.code" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="产品名称" prop="name">
              <el-input v-model="productForm.name" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="产品期限类型" prop="periodType">
              <el-radio-group  v-model="productForm.periodType">
                <el-radio :key="item.value" v-for="item in periodTypeOpt" :label="item.value" :disabled="true">{{item.name}}</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="产品利率类型" prop="rateType">
              <el-radio-group  v-model="productForm.rateType">
                <el-radio :key="item.value" v-for="item in rateTypeOpt" :label="item.value" :disabled="true">{{item.name}}</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="还款方式" prop="repayMode">
              <el-select v-model="productForm.repayMode" placeholder="还款方式" :disabled="true">
                <el-option  :key="item.value" v-for="item in repayModeOpt" :label="item.name" :value="item.value">{{item.name}}</el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="保证金比例" prop="depositPct">
              <el-input v-model="productForm.depositPct" placeholder="保证金比例" :disabled="true">
                <template slot="append">%</template>
              </el-input>
            </el-form-item>
            <el-form-item label="履约险" prop="honourVenture">
              <el-radio-group  v-model="productForm.honourVenture">
                <el-radio :key="item.value" v-for="item in honourVentureOpt" :label="item.value" :disabled="true">{{item.name}}</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="我方罚息分成" prop="defaultInterestPct">
              <el-input v-model="productForm.defaultInterestPct" placeholder="我方罚息分成" :disabled="true">
                <template  slot="append">%</template>
              </el-input>
            </el-form-item>
            <el-form-item label="服务费率" prop="servicePct">
              <el-input v-model="productForm.servicePct" placeholder="服务费率" :disabled="true">
                <template slot="append">%</template>
              </el-input>
            </el-form-item>
            <el-form-item label="逾期宽限期" prop="extendDate">
              <el-input v-model="productForm.extendDate" placeholder="逾期宽限期" :disabled="true">
              </el-input>
            </el-form-item>
            <el-form-item label="退货免息期" prop="freePeriod">
              <el-input v-model="productForm.freePeriod" placeholder="退货免息期" :disabled="true">
              </el-input>
            </el-form-item>

          </el-col>
          <el-col :span="10">
            <el-form-item label="每期还款日" prop="repayDayModel">
                <el-select v-model="productForm.repayDayModel" placeholder="每期还款日"  :disabled="true">
                  <el-option  :key="item.value" v-for="item in repayDayModelOptions" :label="item.label" :value="item.value">{{item.label}}</el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="区域限制">
              <el-input v-model="limitAddress" placeholder="区域限制" :disabled="true">
              </el-input>
            </el-form-item>

            <el-form-item  label="额度范围" >
              <el-col :span="11">
                <el-form-item prop="minAmount">
                  <el-input v-model="productForm.minAmount" :disabled="true"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="2">——</el-col>
              <el-col :span="11">
                <el-form-item prop="maxAmount">
                  <el-input v-model="productForm.maxAmount" :disabled="true"></el-input>
                </el-form-item>
              </el-col>
            </el-form-item>
            <el-form-item  label="产品最大期限" prop="periods">
              <el-input v-model="productForm.periods" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="产品利率" prop="rate">
              <el-input v-model="productForm.rate" :disabled="true">
                <template slot="append">%</template>
              </el-input>
            </el-form-item>
            <el-form-item label="罚息比例" prop="defaultPct">
              <el-input v-model="productForm.defaultPct" :disabled="true">
                <template slot="append">%</template>
              </el-input>
            </el-form-item>
            <!--<el-form-item label="担保方">
              <el-select v-model="value2" placeholder="担保方">
                <el-option label="请选择" value="shanghai"></el-option>
              </el-select>
            </el-form-item>-->
            <el-form-item label="兜底比例" prop="fallbackPct">
              <el-input v-model="productForm.fallbackPct" :disabled="true">
                <template slot="append">%</template>
              </el-input>
            </el-form-item>
            <el-form-item label="管理费" prop="managePct">
              <el-input v-model="productForm.managePct" :disabled="true">
              </el-input>
            </el-form-item>
            <el-form-item label="审核费率" prop="auditPct">
              <el-input v-model="productForm.auditPct" :disabled="true">
                <template slot="append">%</template>
              </el-input>
            </el-form-item>
            <!--<el-form-item label="信托计划">
              <el-select v-model="value2" placeholder="信托计划">
                <el-option label="请选择" value="shanghai"></el-option>
              </el-select>
            </el-form-item>-->
          </el-col>
        </el-form>
        <el-form label-width="150px" :model="auditForm"  :rules="proRules" ref="auditForm" :size="$store.state.size">
          <el-col>
            <el-form-item label="审批结果" prop="periodType">
              <el-radio-group  v-model="auditForm.status">
                <el-radio :key="item.value" v-for="item in auditStatusOpt" :label="item.value">{{item.name}}</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="审批意见" prop="auditPct">
              <el-input
                type="textarea"
                :rows="2"
                placeholder="请输入内容"
                v-model="auditForm.auditPaper">
              </el-input>
            </el-form-item>
          </el-col>
        </el-form>
      </el-col>
    </el-row>
    <el-row type="flex" justify="center">
      <el-col :span="2">
        <el-button type="primary" @click="submitInfo('auditForm')" :size="$store.state.size">审核</el-button>
      </el-col>
      <el-col :span="2">
        <router-link to="/productMaintenance">
          <el-button :size="$store.state.size">返回</el-button>
        </router-link>
      </el-col>
    </el-row>
  </div>
</template>
<script>
  import ElRow from "element-ui/packages/row/src/row";
  import ElCol from "element-ui/packages/col/src/col";
  import ElInput from "../../../node_modules/element-ui/packages/input/src/input.vue";
  import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
  import ContentHeader from "../contentHeader.vue"
  export default {
    data() {
      var validatename = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入信息'));
        }else{
          callback();
        }
      };
      return {
        isDisable: 1,
        limitAddress: '',
        productForm:{
          name:'',//产品名称
          code:'',//编号
          minAmount:'',//额度范围
          maxAmount:'',
          periodType:'',//产品期限类型 月 天
          periods:'',//产品期限
          rateType:'',//利率类型
          rate:'',//利率
          repayMode:'',//还款方式
          defaultPct:'',//罚息比例
          depositPct:'',//保证金比例
          honourVenture:'',//履约险
          fallbackPct:'',//渠道商兜底比例
          defaultInterestPct:'',//我方罚息分成
          managePct:'',//管理费
          servicePct:'',//服务费率
          auditPct:'',//审核费率
          extendDate:'',//逾期宽限期
          freePeriod:'',//退货免息期
          repayDayModel:'',//每期还款日
          provinceLimit: '',
          cityLimit: '',
          areaLimit: ''
        },
        repayDayModelOptions: [{
          value: 1,
          label: '日对日'
        }, {
          value: 2,
          label: '固定日'
        }],
        periodTypeOpt:[
          {name:"月",value:1},
          {name:"日",value:2}],
        rateTypeOpt:[
          {name:"日利率",value:1},
          {name:"月利率",value:2},
          {name:"年利率",value:3}],
        honourVentureOpt:[
          {name:"有",value:1},
          {name:"无",value:0}],
        repayModeOpt:[
          {name:"等额本息",value:1},
          {name:"等额本金",value:2}],
        auditForm:{
          productCode:'',//产品编号
          status:'',//审核结果
          auditPaper:'' //审核意见
        },
        auditStatusOpt:[
          {name:"通过",value:2},
          {name:"不通过",value:3}],
        proRules:{
          auditPaper: [
            { validator: validatename, trigger: 'blur' }
          ],
          auditStatus: [
            { required: true, message: '请选择期限类型', trigger: 'change' }
          ]
        }
      }
    },
    props: {
      // 父组件传过来的值
      someValue: String
    },
    components: {
      ElButton,
      ElInput,
      ElCol,
      ElRow,
      ContentHeader
      // 引入其他组件
    },
    beforeCreate: function () {
      // 组件创建前
    },
    created: function () {
      // 组件创建时执行
    },
    beforeMount: function () {
    },
    mounted: function () {
      // 组件挂载结束
      this.getInfo();
    },
    beforeUpdate: function () {
      // 组件挂载结束
    },
    updated: function () {
      // 组件挂载结束
    },
    beforeDestroy: function () {
      // 组件挂载结束
    },
    destroyed: function () {
    },
    computed: {
      // 计算属性
    },
    methods: {
      // 自定义方法
      submitInfo(formName){
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.$axios.HttpPost('auditProduct/audit',this.auditForm)
              .then((data) => {
                this.$alert('审核产品成功', '提示', {
                  confirmButtonText: '确定',
                  callback: action => {
                    this.$router.push('/productMaintenance')
                  }
                });
              });
          } else {
            this.$message({
              message: '信息有误，请检查',
              type: 'warning'
            });
            return false;
          }
        });
      },
      getInfo(){
        this.auditForm.productCode = this.$route.query.code;
        this.$axios.HttpPost('product/get', {productCode: this.$route.query.code})
          .then((data) => {
            this.productForm = data.result;
            if (this.productForm.provinceLimit){
              this.limitAddress+=this.productForm.provinceLimit;
            }
            if (this.productForm.cityLimit){
              this.limitAddress+=this.productForm.cityLimit;
            }
            if (this.productForm.areaLimit){
              this.limitAddress+=this.productForm.areaLimit;
            }
          });
      }

    }
  }
</script>
<style scoped>

</style>
