<template>
  <div>
    <el-row>
      <el-col :offset="1">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>产品管理</el-breadcrumb-item>
          <el-breadcrumb-item to="/productMaintenance">产品信息维护</el-breadcrumb-item>
          <el-breadcrumb-item>产品修改</el-breadcrumb-item>
        </el-breadcrumb>
      </el-col>
    </el-row>
    <el-row style="margin-top: 20px">
      <ContentHeader style="margin-bottom: 20px" :queryTitle="'渠道商产品信息'"></ContentHeader>
      <el-col :offset="2" :span="20">
        <el-form label-width="150px" :model="productForm"  :rules="proRules" ref="productForm" :size="$store.state.size">
          <el-col :span="10">
            <el-form-item label="产品编号">
              <el-input v-model="productForm.code" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="产品名称" prop="name">
              <el-input v-model="productForm.name" :disabled="!this.isDisable"></el-input>
            </el-form-item>
            <el-form-item label="产品期限类型" prop="periodType">
              <el-radio-group  v-model="productForm.periodType">
                <el-radio :key="item.value" v-for="item in periodTypeOpt" :label="item.value">{{item.name}}</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="产品利率类型" prop="rateType">
              <el-radio-group  v-model="productForm.rateType">
                <el-radio :key="item.value" v-for="item in rateTypeOpt" :label="item.value">{{item.name}}</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="还款方式" prop="repayMode">
              <el-select v-model="productForm.repayMode" placeholder="还款方式">
                <el-option  :key="item.value" v-for="item in repayModeOpt" :label="item.name" :value="item.value">{{item.name}}</el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="保证金比例" prop="depositPct">
              <el-input v-model="productForm.depositPct" placeholder="保证金比例">
                <template slot="append">%</template>
              </el-input>
            </el-form-item>
            <el-form-item label="履约险" prop="honourVenture">
              <el-radio-group  v-model="productForm.honourVenture">
                <el-radio :key="item.value" v-for="item in honourVentureOpt" :label="item.value">{{item.name}}</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="我方罚息分成" prop="defaultInterestPct">
              <el-input v-model="productForm.defaultInterestPct" placeholder="我方罚息分成">
                <template  slot="append">%</template>
              </el-input>
            </el-form-item>
            <el-form-item label="服务费率" prop="servicePct">
              <el-input v-model="productForm.servicePct" placeholder="服务费率">
                <template slot="append">%</template>
              </el-input>
            </el-form-item>
            <el-form-item label="逾期宽限期" prop="extendDate">
              <el-input v-model="productForm.extendDate" placeholder="逾期宽限期">
              </el-input>
            </el-form-item>
            <el-form-item label="退货免息期" prop="freePeriod">
              <el-input v-model="productForm.freePeriod" placeholder="退货免息期">
              </el-input>
            </el-form-item>

          </el-col>
          <el-col :span="10">
            <el-form-item label="每期还款日" prop="repayDayModel">
              <el-select v-model="productForm.repayDayModel" placeholder="每期还款日">
                <el-option  :key="item.value" v-for="item in repayDayModelOptions" :label="item.name" :value="item.value">{{item.name}}</el-option>
              </el-select>
            </el-form-item>
            <el-form-item  label="产品最大期限" prop="periods">
              <el-input v-model="productForm.periods" :disabled="!this.isDisable"></el-input>
            </el-form-item>
            <el-form-item label="产品利率" prop="rate">
              <el-input v-model="productForm.rate" :disabled="!this.isDisable">
                <template slot="append">%</template>
              </el-input>
            </el-form-item>
            <el-form-item label="区域限制">
              <el-cascader
                :options="cities"
                v-model="limitAddress"
                :change-on-select="true"
                :clearable="true"
                :filterable="true" :enabled="true"
                @change="handleChange">
              </el-cascader>
            </el-form-item>
            <el-form-item  label="额度范围" >
              <el-col :span="11">
                <el-form-item prop="minAmount">
                  <el-input v-model="productForm.minAmount" :disabled="!this.isDisable"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="1" > —</el-col>
              <el-col :span="11">
                <el-form-item prop="maxAmount">
                  <el-input v-model="productForm.maxAmount" :disabled="!this.isDisable"></el-input>
                </el-form-item>
              </el-col>
            </el-form-item>
            <el-form-item label="罚息比例" prop="defaultPct">
              <el-input v-model="productForm.defaultPct" :disabled="!this.isDisable">
                <template slot="append">%</template>
              </el-input>
            </el-form-item>
            <el-form-item label="兜底比例" prop="fallbackPct">
              <el-input v-model="productForm.fallbackPct" :disabled="!this.isDisable">
                <template slot="append">%</template>
              </el-input>
            </el-form-item>
            <el-form-item label="管理费" prop="managePct">
              <el-input v-model="productForm.managePct" :disabled="!this.isDisable">
              </el-input>
            </el-form-item>
            <el-form-item label="审核费率" prop="auditPct">
              <el-input v-model="productForm.auditPct" :disabled="!this.isDisable">
                <template slot="append">%</template>
              </el-input>
            </el-form-item>
          </el-col>
        </el-form>
      </el-col>
    </el-row>
    <el-row type="flex" justify="center">
      <el-col :span="2">
        <el-button type="primary" @click="saveInfo()" :size="$store.state.size">保存</el-button>
      </el-col>
      <el-col :span="2">
        <el-button type="primary" @click="submitInfo('productForm')" :size="$store.state.size">提交</el-button>
      </el-col>
      <el-col :span="2">
        <router-link to="/productMaintenance">
          <el-button :size="$store.state.size">返回</el-button>
        </router-link>
      </el-col>
    </el-row>
  </div>
</template>
<script>
  import ElRow from "element-ui/packages/row/src/row";
  import ElCol from "element-ui/packages/col/src/col";
  import ElInput from "../../../node_modules/element-ui/packages/input/src/input.vue";
  import ElButton from "../../../node_modules/element-ui/packages/button/src/button.vue";
  import ContentHeader from "../contentHeader.vue"
  import cityinfo from '../../../static/js/city-data.js'
  export default {
    data() {
      var validatename = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入信息'));
        }else{
          callback();
        }
      };
      var mountCk = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入信息'));
        } else {
          setTimeout(() => {
            if (isNaN(value)) {
              callback(new Error('请输入数字值'));
            } else {
              if (Number(value) < 0) {
                callback(new Error('请输入大于0的数字'));
              } else {
                if (this.productForm.maxAmount != '' && this.productForm.minAmount != '') {
                  if (Number(this.productForm.maxAmount) < Number(this.productForm.minAmount)) {
                    callback(new Error('范围错误'));
                  } else {
                    callback();
                  }
                } else {
                  callback();
                }
              }
            }
          }, 1000);
        }
      };
      var rateRole = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入信息'));
        } else {
          setTimeout(() => {
            if (isNaN(value)) {
              callback(new Error('请输入数字值'));
            } else {
              if (Number(value) < 0) {
                callback(new Error('请输入大于0的数字'));
                this.productForm[rule.field] = '';
              } else {
                callback();
              }
            }
          }, 1000);
        }
      };
      var rateRole2 = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入信息'));
        } else {
          setTimeout(() => {
            if (isNaN(value)) {
              callback(new Error('请输入数字值'));
            } else {
              if (Number(value) < 1) {
                callback(new Error('请输入大于1的数字'));
                this.productForm[rule.field] = '';
              } else {
                callback();
              }
            }
          }, 1000);
        }
      };
      var positive = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入信息'));
        } else {
          setTimeout(() => {
            if (isNaN(value)) {
              callback(new Error('请输入数字值'));
            } else {
              if (100 < Number(value) || Number(value) < 0) {
                callback(new Error('请输入0-100的数字'));
                this.productForm[rule.field] = '';
              } else {
                callback();
              }
            }
          }, 1000);
        }
      };
      var positive2 = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入信息'));
        } else {
          setTimeout(() => {
            if (isNaN(value)) {
              callback(new Error('请输入数字值'));
            } else {
              if (100 < Number(value) || Number(value) < 1) {
                callback(new Error('请输入1-100的数字'));
                this.productForm[rule.field] = '';
              } else {
                callback();
              }
            }
          }, 1000);
        }
      };
      return {
        isDisable: 1,
        value2:'',
        cities: cityinfo,
        limitAddress: [],
        limitAddressOpt:[],
        productForm:{
          name:'',//产品名称
          code:'',//编号
          minAmount:'',//额度范围
          maxAmount:'',
          periodType:'',//产品期限类型 月 天
          periods:'',//产品期限
          rateType:'',//利率类型
          rate:'',//利率
          repayMode:'',//还款方式
          defaultPct:'',//罚息比例
          depositPct:'',//保证金比例
          honourVenture:'',//履约险
          fallbackPct:'',//渠道商兜底比例
          defaultInterestPct:'',//我方罚息分成
          managePct:'',//管理费
          servicePct:'',//服务费率
          auditPct:'',//审核费率
          extendDate:'',//逾期宽限期
          freePeriod:'',//退货免息期
          repayDayModel:'',//每期还款日
          provinceLimit: '',
          cityLimit: '',
          areaLimit: ''
        },
        periodTypeOpt:[
          {name:"月",value:1},
          {name:"日",value:2}],
        rateTypeOpt:[
          {name:"日利率",value:1},
          {name:"月利率",value:2},
          {name:"年利率",value:3}],
        honourVentureOpt:[
          {name:"有",value:1},
          {name:"无",value:0}],
        repayModeOpt:[
          {name:"等额本息",value:1},
          {name:"等额本金",value:2}],
        repayDayModelOptions:[{
          value: 1,
          name: '日对日'
        }, {
          value: 2,
          name: '固定日'
        }],
        proRules:{
          name: [
            { required: true,validator: validatename, trigger: 'blur' }
          ],
          depositPct: [
            { required: true,validator: positive2, trigger: 'blur' }
          ],
          honourVenture: [
            { required: true,validator: validatename, trigger: 'change' }
          ],
          defaultInterestPct: [
            { required: true,validator: positive, trigger: 'blur' }
          ],
          servicePct: [
            { required: true,validator: positive, trigger: 'blur' }
          ],
          extendDate: [
            { required: true,validator: positive, trigger: 'blur' }
          ],
          freePeriod: [
            { required: true,validator: rateRole, trigger: 'blur' }
          ],
          repayDayModel: [
            { required: true,validator: positive, trigger: 'change' }
          ],
          defaultPct: [
            { required: true,validator: positive, trigger: 'blur' }
          ],
          fallbackPct: [
            { required: true,validator: positive, trigger: 'blur' }
          ],
          managePct: [
            { required: true,validator: positive, trigger: 'blur' }
          ],
          auditPct: [
            { required: true,validator: positive, trigger: 'blur' }
          ],
          periodType: [
            { required: true, message: '请选择期限类型', trigger: 'change' }
          ],
          repayMode: [
            { required: true, message: '请选择还款方式', trigger: 'change' }
          ],
          periods:[
            { required: true,validator: rateRole2, trigger: 'blur' }
          ],
          rate:[
            { required: true,validator: positive, trigger: 'blur' }
          ],
          minAmount:[
            { required: true,validator: mountCk, trigger: 'blur' }
          ],
          maxAmount:[
            { required: true,validator: mountCk, trigger: 'blur' }
          ],
          rateType:[
            { required: true, message: '请选择利率类型', trigger: 'change' }
          ]
        }
      }
    },
    props: {
      // 父组件传过来的值
      someValue: String
    },
    components: {
      ElButton,
      ElInput,
      ElCol,
      ElRow,
      ContentHeader
      // 引入其他组件
    },
    beforeCreate: function () {
      // 组件创建前

    },
    created: function () {
      // 组件创建时执行
      this.getInfo();
    },
    beforeMount: function () {
    },
    mounted: function () {
      // 组件挂载结束

    },
    beforeUpdate: function () {
      // 组件挂载结束
    },
    updated: function () {
      // 组件挂载结束
    },
    beforeDestroy: function () {
      // 组件挂载结束
    },
    destroyed: function () {
    },
    computed: {
      // 计算属性
    },
    methods: {
      // 自定义方法
      submitInfo(formName){
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.$axios.HttpPost('product/add',this.productForm)
              .then((data) => {
                this.$alert('修改并提交成功', '提示', {
                  confirmButtonText: '确定',
                  callback: action => {
                    this.$router.push('/productMaintenance')
                  }
                });
              });
          } else {
            this.$message({
              message: '信息有误，请检查',
              type: 'warning'
            });
            return false;
          }
        });
      },
      getInfo(){
        this.$axios.HttpPost('product/get', {productCode: this.$route.query.code})
          .then((data) => {
            this.productForm = data.result;
            this.limitAddressOpt.push(this.productForm.provinceLimit)
            this.limitAddressOpt.push(this.productForm.cityLimit)
            this.limitAddressOpt.push(this.productForm.areaLimit)
            this.limitAddress = this.limitAddressOpt
          });
      },
      saveInfo(){
        this.$axios.HttpPost('product/save',this.productForm)
          .then((data) => {
            this.$alert('保存产品成功', '提示', {
              confirmButtonText: '确定',
              callback: action => {
                this.$router.push('/productMaintenance')
              }
            });
          });
      },
      /*
      initProvinceLimit(){
        this.$axios.HttpPost('areas/list',{})
          .then((data) => {
            this.provinceLimit = data.result;
          });
      },
     provinceLimitChange(val){
        this.$axios.HttpPost('areas/list',{"parentId":val})
          .then((data) => {
            this.cityLimit = data.result;
          });
      },
      cityLimitChange(val){
        this.$axios.HttpPost('areas/list',{"parentId":val})
          .then((data) => {
            this.areaLimit = data.result;
          });
      },*/
      handleChange() {
        this.productForm.provinceLimit = this.limitAddress[0]
        this.productForm.cityLimit = this.limitAddress[1]
        this.productForm.areaLimit = this.limitAddress[2]
      }
    }
  }
</script>
<style scoped>

</style>
