<template>
    <div>
      <el-form :size="$store.state.size" :inline="true" :rules="queryRules" :label-position="left"
               ref="formInline" :model="formInline" class="demo-form-inline">
        <el-row>
          <el-col :offset="1" :span="6">
            <el-form-item label="产品名称" prop="name">
              <el-input v-model="formInline.name" placeholder="产品名称"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="7">
            <el-form-item label="新建时间" prop="beginDate">
              <el-date-picker
                v-model="formInline.beginDate"
                type="date"
                format="yyyy 年 MM 月 dd 日"
                value-format="yyyy-MM-dd"
                placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="-" prop="endDate">
              <el-date-picker
                v-model="formInline.endDate"
                format="yyyy 年 MM 月 dd 日"
                value-format="yyyy-MM-dd"
                type="date"
                placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
           <el-col :offset="1" :span="6">
            <el-form-item label="期    限" prop="periods">
              <el-input v-model="formInline.periods" placeholder="期限"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="利    率" prop="rate">
              <el-input v-model="formInline.rate" placeholder="利率"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="状    态" prop="status">
              <el-select v-model="formInline.status" placeholder="状态">
                <el-option label="激活" value="1"></el-option>
                <el-option label="未激活" value="0"></el-option>
                <el-option label="废弃" value="2"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>

      <el-row >
        <el-col :offset="1">
          <el-button :size="$store.state.size" type="primary" @click="queryForm">查询</el-button>
          <router-link to="/productAdded">
            <el-button :size="$store.state.size" type="success">新增</el-button>
          </router-link>
        </el-col>
      </el-row>
      <el-row>
        <ContentHeader class="contentHead" :queryTitle="'查询列表'"></ContentHeader>
        <el-col :span="24">
          <el-table
            :size="$store.state.size"
            :data="tableData3"
            stripe
            style="width: 100%">
            <el-table-column
              prop="name"
              fixed
              label="产品名称">
            </el-table-column>
            <el-table-column
              prop="code"
              label="产品编号">
            </el-table-column>
            <el-table-column
              prop="periods"
              label="期限">
            </el-table-column>
            <el-table-column
              prop="periodType.name"
              label="期限类型">
            </el-table-column>
            <el-table-column
              prop="rate"
              label="利率">
              <template slot-scope="scope">
                {{ scope.row.rate }} %
              </template>
            </el-table-column>
            <el-table-column
              prop="rateType.name"
              label="利率类型">
            </el-table-column>
            <el-table-column
              prop="repayMode.name"
              label="还款方式">
            </el-table-column>
            <el-table-column
              prop="repayDayModel.name"
              label="每期还款日">
            </el-table-column>
            <el-table-column
              prop="depositPct"
              label="保证金比例">
              <template slot-scope="scope">
                {{ scope.row.depositPct }} %
              </template>
            </el-table-column>
            <el-table-column
              prop="servicePct"
              label="服务费">
              <template slot-scope="scope">
                {{ scope.row.servicePct }} %
              </template>
            </el-table-column>
            <el-table-column
              prop="managePct"
              label="管理费">
              <template slot-scope="scope">
                {{ scope.row.managePct }} %
              </template>
            </el-table-column>
            <el-table-column
              prop="auditPct"
              label="审核费率">
              <template slot-scope="scope">
                {{ scope.row.auditPct }} %
              </template>
            </el-table-column>
            <el-table-column
              prop="defaultPct"
              label="罚息">
              <template slot-scope="scope">
                {{ scope.row.defaultPct }} %
              </template>
            </el-table-column>
            <el-table-column
              prop="freePeriod"
              label="退货免息期">
              <template slot-scope="scope">
                {{ scope.row.freePeriod }} 天
              </template>
            </el-table-column>
            <el-table-column
              prop="fallbackPct"
              label="兜底比例">
              <template slot-scope="scope">
                {{ scope.row.fallbackPct }} %
              </template>
            </el-table-column>
            <el-table-column
              prop="defaultInterestPct"
              label="罚息分成">
              <template slot-scope="scope">
                {{ scope.row.defaultInterestPct }} %
              </template>
            </el-table-column>
            <el-table-column
              prop="guarantorId"
              label="担保">
            </el-table-column>
            <el-table-column
              prop="honourVenture.name"
              label="履约险">
            </el-table-column>
            <el-table-column
              prop="status.name"
              label="状态">
            </el-table-column>
            <el-table-column
              fixed="right"
              label="操作">
              <template  slot-scope="scope">
                <el-row>
                  <router-link :to="{path: '/productAudit', query: {code: scope.row.code}}" v-if="scope.row.status.value=='0'" >
                    <el-button size="mini"
                               type="success"
                    >审核</el-button>
                  </router-link>
                  <el-button v-if="scope.row.status.value=='3'"
                             size="mini"
                             type="success"
                             @click="activeRow(scope.row.code)"
                  >激活</el-button>
                  <el-button v-if="scope.row.status.value=='2'"
                             size="mini"
                             type="success"
                             @click="activeRow(scope.row.code)"
                  >激活</el-button>
                  <el-button v-if="scope.row.status.value=='1'"
                             size="mini"
                             type="success"
                             @click="abandoned(scope.row.code)"
                  >废弃</el-button>
                  <el-button v-if="scope.row.status.value=='-1'"
                             size="mini"
                             type="success"
                             @click="deleteProduct(scope.row.code, scope.row.id)"
                  >删除</el-button>
                  <router-link :to="{path: '/productUpdate', query: {code: scope.row.code}}" v-if="scope.row.status.value=='4'" >
                    <el-button
                      size="mini"
                      type="success"
                    >修改</el-button>
                  </router-link>
                  <router-link :to="{path: '/productUpdate', query: {code: scope.row.code}}" v-if="scope.row.status.value=='-1'" >
                    <el-button
                      size="mini"
                      type="success"
                    >未提交</el-button>
                  </router-link>
                </el-row>

              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <el-row style="margin-top: 15px" v-if="Number(totalPages)>10" type="flex" justify="center">
        <el-pagination
          :page-size="formInline.size"
          @current-change="handleCurrentChange"
          :current-page.sync="pageNo"
          layout="total, prev, pager, next, jumper"
          :total="totalPages">
        </el-pagination>
      </el-row>
    </div>
</template>
<script>
    import ElRow from "element-ui/packages/row/src/row";
    import ElCol from "element-ui/packages/col/src/col";
    import ElForm from "../../../node_modules/element-ui/packages/form/src/form.vue";
    import ContentHeader from "../contentHeader.vue"

    export default {
        data() {
          var validateAuthor = (rule, value, callback) => {
            if (value === '') {
              callback(new Error('请输入'));
            }else{
              callback();
            }
          };
            return {
              productName:'',
              queryData:{
                name: '',
                periods:'',
                rate:'',
                status:'',
                beginDate:'',
                endDate:'',
                page:1,
                size:10},
              formInline: {
                name: '',
                periods:'',
                rate:'',
                status:'',
                beginDate:'',
                endDate:'',
                page:1,
                size:10
              },
              totalPages:0,
              value1:'',
              tableData3: [],
              pageNo:1,
              queryRules:{
              }
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
          // 引入其他组件
          ElForm,
          ElCol,
          ElRow,
          ContentHeader
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
          this.queryList(this.queryData)
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
          // 自定义方法
          queryList(formName){
                this.$axios.HttpPost(
                  'product/queryTable',
                  formName
                )
                  .then((data) => {
                    if(data.result.totalElements){
                      let temp = data.result.content
                      //alert(JSON.stringify(temp))
                      for (let i=0;i<temp.length;i++){

                        if(temp[i].repayDayModel=='1'){
                          temp[i].repayDayModel={
                            name:"日对日",
                            value:"1"
                          }
                        }else if(temp[i].repayDayModel=='2'){
                          temp[i].repayDayModel={
                            name:"固定日",
                            value:"2"
                          }
                        }
                        if(temp[i].rateType=='1'){
                          temp[i].rateType={
                            name:"日利率",
                            value:"1"
                          }
                        }else if(temp[i].rateType=='2'){
                          temp[i].rateType={
                            name:"月利率",
                            value:"2"
                          }
                        }else if(temp[i].rateType=='3'){
                          temp[i].rateType={
                            name:"年利率",
                            value:"3"
                          }
                        }
                        if(temp[i].periodType=='1'){
                          temp[i].periodType={
                            name:"月",
                            value:"1"
                          }
                        }else if(temp[i].periodType=='2'){
                          temp[i].periodType={
                            name:"天",
                            value:"2"
                          }
                        }
                        if(temp[i].repayMode=='1'){
                          temp[i].repayMode={
                            name:"等额本息",
                            value:"1"
                          }
                        }else if(temp[i].repayMode=='2'){
                          temp[i].repayMode={
                            name:"等额本金",
                            value:"2"
                          }
                        }
                        if(temp[i].honourVenture=='0'){
                          temp[i].honourVenture={
                            name:"无",
                            value:"0"
                          }
                        }else if(temp[i].honourVenture=='1'){
                          temp[i].honourVenture={
                            name:"有",
                            value:"1"
                          }
                        }
                        if(temp[i].status=='0'){
                          temp[i].status={
                            name:"待审批",
                            value:"0"
                          }
                        }else if(temp[i].status=='1'){
                          temp[i].status={
                            name:"激活",
                            value:"1"
                          }
                        }else if(temp[i].status=='2'){
                          temp[i].status={
                            name:"废弃",
                            value:"2"
                          }
                        }else if(temp[i].status=='3'){
                          temp[i].status={
                            name:"审核未激活",
                            value:"3"
                          }
                        }else if(temp[i].status=='4'){
                          temp[i].status={
                            name:"拒绝",
                            value:"4"
                          }
                        }else if(temp[i].status=='-1'){
                          temp[i].status={
                            name:"未提交",
                            value:'-1'
                          }
                        }
                      }
                      this.tableData3 = data.result.content
                      this.totalPages = data.result.totalElements
                    }else{
                      this.tableData3 = [];
                      this.totalPages=0;
                    }
                  });

          },
          handleCurrentChange(val){
            this.formInline.page = val
            this.queryData.page = val
            this.queryList(this.queryData)
          },
          queryForm(){
            this.pageNo=1;
            this.queryData=this.formInline
            this.queryList(this.queryData)
          },
          activeRow(code){
              const h = this.$createElement;
              this.$msgbox({
                title: '激活提示',
                message: h('p', null, [
                  h('span', null, ' '),
                  h('i', { style: 'color: teal' }, '是否激活此产品')
                ]),
                showCancelButton: true,
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                beforeClose: (action, instance, done) => {
                  if (action === 'confirm') {
                    instance.confirmButtonLoading = true;
                    instance.confirmButtonText = '激活中...';
                    this.$axios.HttpPost(
                      'product/activation',
                      {"productCode":code}
                    )
                      .then((data) => {
                        done();
                        instance.confirmButtonLoading = false;
                        this.queryList(this.queryData)
                      });

                  } else {
                    done();
                  }
                }
              }).then(action => {
                this.$message({
                  type: 'success',
                  message: '激活成功'
                });
              });
            },
          deleteProduct(code, id){
            const h = this.$createElement;
            this.$msgbox({
                           title: '删除提示',
                           message: h('p', null, [
                             h('span', null, ' '),
                             h('i', { style: 'color: teal' }, '是否删除此产品')
                           ]),
                           showCancelButton: true,
                           confirmButtonText: '确定',
                           cancelButtonText: '取消',
                           beforeClose: (action, instance, done) => {
                             if (action === 'confirm') {
                               instance.confirmButtonLoading = true;
                               instance.confirmButtonText = '删除中...';
                               this.$axios.HttpPost(
                                 'product/delete',
                                 {"code":code,"id":id}
                               )
                                 .then((data) => {
                                   done();
                                   instance.confirmButtonLoading = false;
                                   this.queryList(this.queryData)
                                 });

                             } else {
                               done();
                             }
                           }
                         }).then(action => {
              this.$message({
                              type: 'success',
                              message: '删除完成'
                            });
            });
          },
          abandoned(code){
            this.$confirm("是否废弃", '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              this.$axios.HttpPost(
                'product/abandoned',
                {"productCode":code}
              )
                .then((data) => {
                  //alert(JSON.stringify(data))
                  this.$message({
                    type: 'success',
                    message: '废弃成功'
                  });
                  // rows.splice(index, 1);
                  this.pageNo=1
                  this.queryList(this.queryData)
                });
            }).catch(() => {
              this.$message({
                type: 'info',
                message: '已取消操作'
              });
            });
          }
        }
    }
</script>
<style scoped>
  .contentHead{
    margin: 10px 0 10px 0;
  }
  .el-table .warning-row {
    display: none;
  }
</style>
