<template>
    <div>
      <el-row>
        <el-form label-width="110px" :model="formInline" :size="$store.state.size">
          <el-col :offset="1" :span="6">
            <el-form-item label="产品编号">
              <el-input disabled v-model="formInline.user"></el-input>
            </el-form-item>
            <el-form-item label="产品名称">
              <el-input disabled v-model="formInline.region"></el-input>
            </el-form-item>
            <el-form-item label="产品期限类型">
              <el-input disabled v-model="formInline.region"></el-input>
            </el-form-item>
            <el-form-item label="产品利率类型">
              <el-input disabled v-model="formInline.user"></el-input>
            </el-form-item>
            <el-form-item label="还款方式">
              <el-input disabled v-model="formInline.region"></el-input>
            </el-form-item>
            <el-form-item label="保证金比例">
              <el-input disabled v-model="formInline.region"></el-input>
            </el-form-item>
          </el-col>
          <el-col :offset="1" :span="6">
            <el-form-item label="履约险">
              <el-input disabled v-model="formInline.user"></el-input>
            </el-form-item>
            <el-form-item label="我方罚息分成">
              <el-input disabled v-model="formInline.region"></el-input>
            </el-form-item>
            <el-form-item label="服务费率">
              <el-input disabled v-model="formInline.region"></el-input>
            </el-form-item>
            <el-form-item label="额度范围">
              <el-input disabled v-model="formInline.user"></el-input>
            </el-form-item>
            <el-form-item label="产品期限">
              <el-input disabled v-model="formInline.region"></el-input>
            </el-form-item>
            <el-form-item label="产品利率">
              <el-input disabled v-model="formInline.region"></el-input>
            </el-form-item>
          </el-col>
          <el-col :offset="1" :span="6">
            <el-form-item label="罚息比例">
              <el-input disabled v-model="formInline.user"></el-input>
            </el-form-item>
            <el-form-item label="担保方">
              <el-input disabled v-model="formInline.region"></el-input>
            </el-form-item>
            <el-form-item label="渠道商兜底比例">
              <el-input disabled v-model="formInline.region"></el-input>
            </el-form-item>
            <el-form-item label="管理费">
              <el-input disabled v-model="formInline.region"></el-input>
            </el-form-item>
            <el-form-item label="审核费率">
              <el-input disabled v-model="formInline.region"></el-input>
            </el-form-item>
          </el-col>
        </el-form>
      </el-row>
      <el-row>
        <ContentHeader class="contentHead" :queryTitle="'产品新增审批'"></ContentHeader>
        <el-col :offset="6" :span="8">
          <el-form label-width="110px" :size="$store.state.size" :model="formInline">
            <el-form-item label="审批结果">
              <el-radio-group v-model="formInline.resource">
                <el-radio label="通过"></el-radio>
                <el-radio label="不通过"></el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="审批意见">
              <el-input type="textarea"></el-input>
            </el-form-item>
              <el-form-item>
                <el-button :size="$store.state.size" type="primary">提交</el-button>
              </el-form-item>
          </el-form>
        </el-col>
      </el-row>
    </div>
</template>
<script>
    import ElRow from "element-ui/packages/row/src/row";
    import ElCol from "element-ui/packages/col/src/col";
    import ContentHeader from "../contentHeader.vue"
    export default {
        data() {
            return {
              formInline: {
                user: '',
                region: '',
                resource:''
              },
            }
        },
        props: {
            // 父组件传过来的值
            someValue: String
        },
        components: {
          // 引入其他组件
          ElCol,
          ElRow,
          ContentHeader
        },
        beforeCreate: function () {
            // 组件创建前
        },
        created: function () {
            // 组件创建时执行
        },
        beforeMount: function () {
        },
        mounted: function () {
            // 组件挂载结束
        },
        beforeUpdate: function () {
            // 组件挂载结束
        },
        updated: function () {
            // 组件挂载结束
        },
        beforeDestroy: function () {
            // 组件挂载结束
        },
        destroyed: function () {
        },
        computed: {
            // 计算属性
        },
        methods: {
            // 自定义方法
        }
    }
</script>
<style scoped>
  .contentHead{
    margin: 30px 0 40px 0;
  }
</style>
